[
  {
    rabbit, [
      { loopback_users, [] },
      { tcp_listeners, [5672] },
      { ssl_listeners, [ ] },
      { hipe_compile, false },
      {
        auth_backends, [
          rabbit_auth_backend_internal,
          rabbit_auth_backend_jwt
        ]}
    ] },

  { rabbitmq_web_mqtt, [{ port, 3002 }]},
  {
    rabbitmq_management, [{
      listener, [
        { port, 15672 },
        { ssl, false }
      ] } ] },

  { rabbit_auth_backend_jwt, [
      { farmbot_api_key_url, "https://rick-X555LAB/api/public_key" },
      { farmbot_vhost, <<"/">>}
    ]}
].
