<meta charset="UTF-8">
<meta name="Pragma" content="no-cache">
<meta name="Expires" content="0">
<META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
<title>FarmBot</title>
<script>
<%# IMPORTANT!!!! %>
<%# ALWAYS LOAD THIS *FIRST* %>
window.globalConfig = <%= raw(@global_config) %> // SEE COMMENTS!;
<%# READ COMMENT ABOVE %>
window.process = {
  env: {
    NODE_ENV: <%= raw(Rails.env.inspect) %>
  }
}
</script>
<%= render "addons" %>
<%= javascript_include_tag *@js_assets %>
<meta content="width=device-width, initial-scale=1" name="viewport">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
