<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>FarmBot</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag *webpack_asset_paths("dist/styles.css") %>
</head>
  <body>
    <%= javascript_include_tag *webpack_asset_paths("front_page") %>
  </body>
</html>
