%div{'ng-app' => 'FarmBot'}
  // TODO: Write a view helper that traverses /views/dashboard/ng-partials and
  // includes them here.
  %script{:id => "movement.html", :type => "text/ng-template"}
    = render partial: "dashboard/ng-partials/movement"
  %script{:id => "movement2.html", :type => "text/ng-template"}
    = render partial: "dashboard/ng-partials/movement2"
  %script{:id => "settings.html", :type => "text/ng-template"}
    = render partial: "dashboard/ng-partials/settings"
  %script{:id => "main.html", :type => "text/ng-template"}
    = render partial: "dashboard/ng-partials/main"
  %div{'ng-view' => true}
    loading...