<!DOCTYPE html>
<html>
  <head>
    <%= render "common_assets" %>
  </head>
  <body>
    <%=
      #javascript_include_tag *webpack_asset_paths("app_bundle")
      javascript_include_tag "/webpack/entry.js"
    %>
  </body>
</html>
