<% # Intentionally blank %>
<style>
  html {
    font-size: 16px;
  }
  body {
    margin: 0;
  }
</style>
<div class="promo-loading-container">
  <img src="/promo_loading_image.avif" alt="Loading 3D interactive experience..." class="promo-loading-image">
  <h1 class="promo-loading-text">Loading interactive 3D FarmBot...</h1>
</div>
