<% # Intentionally blank %>
<style>
  html {
    font-size: 16px;
  }
  body {
    margin: 0;
    background-image: url("/placeholder_farmbot.jpg");
  }
</style>
<h1 class="initial-loading-text">Loading...</h1>
