.vscode
.vscode/
*.log
*.pem
/tmp
api_docs.md
config/application.yml
config/database.yml
coverage
erd.pdf
latest_corpus.ts
log/*.log
mqtt/rabbitmq.config
node_modules
node_modules/
public/dist
public/webpack
public/webpack/*
tmp
