.env
.vscode
log/
*.log
*.pem
tmp
docker_volumes
latest_corpus.ts
node_modules
package-lock.json
public/direct_upload/temp/*.jpg
public/dist
public/system
public/webpack
coverage_api
coverage_fe

api_docs.md
erd_diagram.png
erd.pdf
*scratchpad*
scratchpad.rb

/config/master.key
config/credentials.yml.enc

# Legacy
config/application.yml
coverage
mqtt/
