.panel-nav,
.farm-designer-panels {
  position: fixed;
  top: 8.9rem;
  width: 30rem;
  @media screen and (max-width: 450px) {
    width: 100%;
  }
}

@keyframes panel-pullout {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.farm-designer-panels {
  bottom: 0;
  z-index: 1;
  &.panel-closed {
    display: none !important;
  }
  &.short-panel {
    height: 24rem;
  }
  .panel-container {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-size: 1.6rem;
    padding-bottom: 3rem;
    label {
      font-size: 1.3rem;
      margin-top: 2rem;
    }
  }
  div {
    animation: panel-pullout 0s ease;
  }
}

.panel-container {
  overflow: hidden;
  div[class*="search-item"] {
    &:hover,
    &.hovered {
      transition: background 0.2s ease;
    }
  }
  &.green-panel {
    background-color: $panel_light_green;
    div[class*="search-item"] {
      &:hover,
      &.hovered {
        background: darken($panel_light_green, 10%);
      }
    }
  }
  &.cyan-panel {
    background-color: $light_cyan;
    div[class*="search-item"] {
      &:hover,
      &.hovered {
        background: darken($light_cyan, 10%);
      }
    }
  }
  &.brown-panel {
    background-color: $panel_light_brown;
    div[class*="search-item"] {
      &:hover,
      &.hovered {
        background: darken($panel_light_brown, 10%);
      }
    }
  }
  &.magenta-panel {
    background-color: $light_magenta;
    div[class*="search-item"] {
      &:hover,
      &.hovered {
        background: darken($light_magenta, 10%);
      }
    }
  }
  &.light-gray-panel,
  &.gray-panel {
    background-color: $panel_light_gray;
    div[class*="search-item"] {
      &:hover,
      &.hovered {
        background: darken($panel_light_gray, 10%);
      }
    }
  }
  &.yellow-panel {
    background-color: $panel_light_yellow;
    div[class*="search-item"] {
      &:hover,
      &.hovered {
        background: darken($panel_light_yellow, 10%);
      }
    }
  }
  &.blue-panel {
    background-color: $panel_light_blue;
    div[class*="search-item"] {
      &:hover,
      &.hovered {
        background: darken($panel_light_blue, 10%);
      }
    }
  }
  &.navy-panel {
    background-color: $panel_light_navy;
    div[class*="search-item"] {
      &:hover,
      &.hovered {
        background: darken($panel_light_navy, 10%);
      }
    }
  }
  &.teal-panel {
    background-color: $panel_light_teal;
    div[class*="search-item"] {
      &:hover,
      &.hovered {
        background: darken($panel_light_teal, 10%);
      }
    }
  }
  &.red-panel {
    background-color: $panel_light_red;
    div[class*="search-item"] {
      &:hover,
      &.hovered {
        background: darken($panel_light_red, 10%);
      }
    }
  }
}

.panel-nav,
.panel-header {
  color: $light_gray;
  &.green-panel {
    background-color: $panel_green;
  }
  &.cyan-panel {
    background-color: $cyan;
  }
  &.brown-panel {
    background-color: $panel_brown;
  }
  &.magenta-panel {
    background-color: $magenta;
  }
  &.gray-panel {
    background-color: $panel_gray;
  }
  &.light-gray-panel{
    background-color: $panel_medium_light_gray;
  }
  &.yellow-panel {
    background-color: $panel_yellow;
  }
  &.blue-panel {
    background-color: $panel_blue;
  }
  &.navy-panel {
    background-color: $panel_navy;
  }
  &.teal-panel {
    background-color: $panel_teal;
  }
  &.red-panel {
    background-color: $panel_red;
  }
}

.panel-tabs {
  display: flex;
  img {
    filter: brightness(0%) invert(100%);
    opacity: 0.8;
  }
  a {
    display: block;
    flex: 1;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 5rem;
    height: 5rem;
    color: $light_gray;
    &.active {
      border-bottom: 3px solid $white;
      font-weight: bold;
      color: $white;
      img {
        opacity: 1;
      }
    }
    &:hover {
      color: $off_white;
      text-decoration: none;
      font-weight: bold;
    }
    &:focus {
      color: $off_white;
      text-decoration: none;
      font-weight: bold;
    }
  }
}

.panel-title {
  height: 50px;
  .back-arrow {
    &.black-text{
      color: $medium_gray;
    }
    float: left;
    text-align: center;
    font-size: 1.8rem;
    width: 50px;
    line-height: 50px;
    &:hover {
      &.black-text{
        color: $darker_gray !important;
      }
      &.white-text{
        color: $white;
      }
    }
  }
  .title {
    float: left;
    font-size: 1.8rem;
    white-space: nowrap;
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 50px;
  }
  .right-button {
    position: absolute;
    right: 0;
    float: right;
    text-transform: uppercase;
    font-size: 1rem;
    border: 1px solid;
    padding: 0.4rem 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 4px;
    color: $off_white;
    margin-top: 1.25rem;
    margin-right: 1.5rem;
    &:hover {
      color: $white;
    }
  }
  button {
    margin-left: 4px;
  }
}

.white-text{
  color: $off_white;
}
.black-text{
  color: $black;
}

.point-inventory-panel,
.plant-inventory-panel {
  .panel-content {
    padding: 0;
    max-height: calc(100vh - 19rem);
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 5rem;
  }
}

.plant-selection-panel {
  .panel-action-buttons {
    position: absolute;
    z-index: 9;
    width: 100%;
    background: $panel_medium_light_gray;
    padding: 0.5rem;
    button {
      margin: 0.5rem;
      float: left;
    }
    label {
      min-width: -webkit-fill-available;
      margin-bottom: 0px;
      margin-left: .5rem;
    }
    .button-row {
      float: left;
      width: 100%;
    }
    .plant-status-bulk-update {
      display: inline-flex;
      width: 100%;
      margin-left: 1rem;
      .filter-search {
        margin-left: 0.5rem;
      }
      p {
        font-size: 1.2rem;
        line-height: 4.1rem;
      }
    }
  }
  .panel-content {
    padding-top: 15rem;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 5rem;
    max-height: calc(100vh - 13rem);
    overflow-y: auto;
    overflow-x: hidden;
    .plant-search-item,
    .group-search-item { pointer-events: none; }
  }
}

.weed-info-panel,
.point-info-panel,
.plant-info-panel {
  .panel-content {
    max-height: calc(100vh - 14rem);
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 5rem;
  }
}

.point-creation-panel {
  .panel-content {
    ul {
      margin-bottom: 0;
    }
    margin-top: 1rem;
    label {
      margin-top: 0;
    }
    p {
      margin-top: 1rem;
    }
    .fb-button {
      &.green {
        margin-right: 1.5rem;
      }
      &.delete {
        float: left;
        margin-top: 1rem;
      }
    }
    .saucer {
      margin: 1rem;
      margin-left: 2rem;
    }
    .delete-row {
      margin: 1.5rem;
    }
  }
}

.weed-info-panel-content,
.point-info-panel-content {
  .saucer {
    margin: 1rem;
    margin-left: 2rem;
  }
  .fb-button & .red {
    display: block;
    margin-top: 3rem;
  }
  p {
    margin-top: 1rem;
  }
}

.crop-catalog-panel {
  .panel-content {
    padding: 1rem 1rem 6rem;
  }
}

.panel-top {
  &.with-button {
    display: flex;
    margin-top: 5rem;
    .fb-button {
      margin: 1rem;
      margin-left: 0;
    }
    a {
      margin-top: 0.5rem;
    }
    i:not(.fa-stack-2x) {
      font-size: 1.5rem;
    }
  }
}

.panel-content {
  padding: 0 1rem;
  a {
    color: $black;
    text-decoration: underline !important;
  }
}

.edit-farm-event-panel,
.add-farm-event-panel {
  input {
    background: $white;
  }
  .save-btn {
    margin: 1rem;
  }
  .location-form {
    width: 100% !important;
  }
  .note {
    margin-top: 4rem;
  }
  .bp3-popover-wrapper {
    display: inline;
    margin-left: 0.5rem;
  }
}

.farm-event-form {
  .farm-event-repeat-options {
    input[type=checkbox] {
      margin-right: 0.5rem;
      margin-top: 0;
      vertical-align: middle;
    }
    .farm-event-repeat-form {
      .add-event-repeat-frequency {
        min-height: 34px;
      }
    }
  }
}

.add-farm-event-panel button.red,
.edit-farm-event-panel button.red {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 0.5rem;
}

.panel-nav {
  position: fixed;
  z-index: 2;
}

.panel-header {
  .panel-header-description,
  .crop-info-description {
    font-size: 1.2rem;
    padding: 0 1.4rem 1rem;
  }
  .crop-info-description {
    max-height: 10rem;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.crop-info-panel {
  .panel-header {
    position: inherit;
    background-size: 144% !important;
    background-repeat: no-repeat !important;
    background-position: top center !important;
  }
  .panel-content {
    max-height: calc(100vh - 19rem);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 2rem 1rem 6rem;
    padding-bottom: 10rem;
    li {
      margin-bottom: 1rem;
      p {
        font-size: 1.25rem;
      }
    }
  }
  .edit-on-openfarm {
    margin-bottom: 1rem;
  }
}

.plants-panel-content {
  li {
    margin-top: 1rem;
    p {
      font-size: 1.25rem;
    }
  }
  input {
    background: $white;
  }
}

.add-plant-panel,
.move-to-panel {
  padding-bottom: 0 !important;
}

.add-plant-panel {
  .panel-header {
    height: 100%;
  }
}

.move-to-panel-content {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  button {
    margin: 1rem;
    margin-left: 2rem;
    width: 88%;
    float: left;
  }
  input {
    min-width: 7rem;
  }
}

.tool-slots-panel,
.tools-panel {
  .panel-top {
    display: flex;
    margin-top: 5rem;
  }
  .tool-slots-panel-content,
  .tools-panel-content {
    max-height: calc(100vh - 19rem);
    overflow-y: auto;
    overflow-x: hidden;
    .tool-search-item,
    .tool-slot-search-item {
      line-height: 4rem;
      cursor: pointer;
      margin-left: -15px;
      margin-right: -15px;
      .row {
        margin-left: 0;
        margin-right: 0;
      }
      p {
        font-size: 1.2rem;
        line-height: 4rem;
        &.tool-status,
        &.tool-slot-position {
          float: right;
        }
      }
      .filter-search {
        .bp3-button {
          min-height: 2.5rem;
          max-height: 2.5rem;
          span {
            line-height: 1.5rem;
          }
        }
        i {
          line-height: 2rem;
        }
      }
      svg {
        vertical-align: middle;
      }
      .tool-slot-position-info {
        padding: 0;
        padding-right: 1rem;
      }
    }
    .mounted-tool-header {
      display: flex;
      margin-top: 1rem;
      label {
        margin: 0;
      }
      .help-icon {
        margin-left: 1rem;
        vertical-align: top;
        font-size: 1.4rem;
      }
    }
    .tools-header,
    .tool-slots-header {
      display: flex;
      margin-top: 1rem;
      margin-bottom: 1rem;
      label {
        margin: 0;
        line-height: 2.1rem;
      }
      a {
        margin-left: auto;
      }
      .fa-plus {
        font-size: 1.5rem;
      }
    }
    button:not(.bp3-button) {
      display: block;
      margin-left: auto;
      float: none;
      margin-top: 1rem;
    }
    .tool-verification-status {
      display: flex;
      margin-top: 1rem;
      margin-bottom: 2rem;
      button {
        margin-top: 0;
      }
    }
  }
}

.add-tool-panel-content,
.edit-tool-panel-content {
  button {
    display: block;
    margin-left: auto;
    float: none;
    margin-top: 1rem;
    &.red {
      float: left;
    }
  }
  svg {
    display: block;
    margin: auto;
    width: 10rem;
    height: 10rem;
    margin-top: 2rem;
  }
  .add-stock-tools {
    .filter-search {
      margin-bottom: 1rem;
      button {
        margin-top: 0.2rem;
      }
    }
    ul {
      font-size: 1.2rem;
      padding-left: 1rem;
      li {
        margin-top: 0.5rem;
        line-height: 2rem;
        cursor: pointer;
        width: 50%;
        &:hover {
          font-weight: bold;
        }
        .fb-checkbox {
          display: inline;
        }
        p {
          display: inline;
          line-height: 2.25rem;
          font-size: 1.2rem;
          vertical-align: top;
          margin-left: 1rem;
        }
      }
    }
    button {
      .fa-plus {
        margin-right: 0.5rem;
      }
    }
  }
}

.add-tool-slot-panel-content,
.edit-tool-slot-panel-content {
  svg {
    display: block;
    margin: auto;
    width: 10rem;
    height: 10rem;
    margin-top: 2rem;
  }
  label {
    margin-top: 0 !important;
  }
  .row, fieldset {
    margin-top: 2rem;
  }
  fieldset button {
    margin: 0;
  }
  .direction-icon {
    margin-left: 1rem;
  }
  .help-icon {
    color: $dark_gray;
  }
  .tool-slot-location-input {
    .axis-inputs {
      padding-left: 0;
    }
    .use-current-location {
      padding: 0;
      margin-left: -1rem;
    }
    button {
      margin-top: 0.5rem;
      margin-right: 0.5rem;
      height: 2.5rem;
      .fa {
        font-size: 1.5rem;
      }
    }
  }
  .gantry-mounted-input {
    label {
      margin-top: 0;
    }
    input[type="checkbox"] {
      float: left;
      margin-right: 1rem;
    }
  }
}

.settings-panel-content {
  max-height: calc(100vh - 15rem);
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 5rem;
  padding-bottom: 5rem;
  button {
    margin-top: 1.75rem;
  }
  p {
    padding: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .map-size-inputs {
    .row {
      margin-bottom: 1rem;
    }
    label {
      margin-top: 0.5rem;
    }
  }
  .designer-setting {
    &.disabled {
      input {
        background: $gray;
      }
    }
  }
}

.saved-garden-panel-content {
  padding: 0;
  .row {
    margin: 0;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  hr {
    width: 100%;
    padding-top: 1rem;
  }
  button {
    margin-left: 0.5rem;
    &.wide {
      margin: 1rem;
      margin-left: 2rem;
      width: 88%;
      float: left;
    }
  }
  input {
    min-width: 7rem;
  }
}

.weeds-inventory-panel,
.zones-inventory-panel,
.group-detail-panel,
.groups-panel {
  .panel-content {
    max-height: calc(100vh - 19rem);
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 5rem;
  }
}

.group-detail-panel {
  .panel-content {
    .group-criteria {
      margin-top: 1rem;
      .criteria-heading {
        margin-top: 0;
      }
      .fb-button {
        margin-top: 0.5rem;
      }
      .group-criteria-presets {
        input[type="radio"] {
          width: auto;
          margin-right: 1rem;
        }
        p {
          display: inline;
          text-transform: uppercase;
        }
      }
      .criteria-string,
      .criteria-pointer-type,
      .criteria-plant-status,
      .criteria-slug {
        margin-top: 1rem;
      }
      .location-criteria {
        .row {
          margin-top: 1rem;
          p {
            font-size: 1.4rem;
            font-weight: bold;
          }
          label {
            margin-top: 0;
          }
        }
      }
      .day-criteria {
        p {
          display: inline;
          vertical-align: bottom;
        }
      }
      .string-eq-criteria {
        margin-top: 1rem;
        .row {
          margin-top: 1rem;
        }
      }
      .number-eq-criteria,
      .number-gt-lt-criteria {
        margin-top: 1rem;
        .row {
          margin-top: 1rem;
        }
        p {
          text-align: center;
          margin-top: 0.5rem;
        }
      }
      .expandable-header {
        margin-top: 3rem;
      }
    }
    .criteria-point-count-breakdown {
      margin-bottom: 1rem;
      .manual-group-member-count,
      .criteria-group-member-count {
        margin-left: 2rem;
        div {
          display: inline;
          padding: 0.25rem;
          font-size: 1.2rem;
          border: 1px solid $panel_light_blue;
        }
        p {
          display: inline;
          margin-left: 1rem;
        }
      }
      .criteria-group-member-count {
        div {
          border: 1px solid gray;
          border-radius: 5px;
        }
      }
    }
  }
}

.zone-info-panel {
  .panel-content {
    .location-criteria {
      .row {
        margin-top: 1rem;
        p {
          font-size: 1.4rem;
          font-weight: bold;
        }
        label {
          margin-top: 0;
        }
      }
    }
  }
}

.weeds-inventory-panel,
.zones-inventory-panel,
.groups-panel {
  .panel-content {
    padding: 0;
  }
}

.saved-garden-edit-panel-content {
  button {
    margin-left: 0.5rem;
    margin-top: 1rem;
  }
  p {
    font-size: 1.2rem;
    text-align: center;
    padding: 3rem;
  }
  .row {
    margin: 0;
  }
}
.clear-button {
  text-transform: uppercase;
  font-size: 1rem;
  border: 1px solid;
  padding: 0.4rem 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 4px;
  color: $off_white;
  margin-top: 1.25rem;
  margin-right: 1.5rem;
  &:hover { color: $white; }
}

.desktop-hide {
  display: none !important;
  @media screen and (max-width: 1075px) {
    display: block !important;
  }
}
