@use "../variables" as *;

.three-d-camera-controls {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 4;
  display: grid;
  justify-items: center;
  gap: 1rem;
}

.view-prism-viewport {
  position: fixed;
  right: 1rem;
  bottom: 5rem;
  z-index: 4;
  overflow: hidden;
  pointer-events: auto;
  touch-action: none;
  transition: bottom 0.25s ease;
}

.three-d-perspective-control {
  position: relative;
  display: flex;
  align-items: center;
  height: 2.9rem;
  margin: 0;
  padding: 0 1.2rem;
  overflow: hidden;
  color: $off_white;
  font-size: 1rem;
  font-weight: bold;
  line-height: 3rem;
  background: $medium_gray;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  user-select: none;

  &:hover {
    filter: brightness(1.05);
    box-shadow: inset 0 -1px 0 0 $translucent2,
    0 0 5px $translucent15,
    inset 0 0 5px rgba(255, 255, 255, 0.3);
  }

  &.active {
    color: var(--text-color);
    background: var(--main-bg);
    box-shadow: var(--box-shadow);
    backdrop-filter: var(--blur);
  }
}
