<h1>Password Reset</h1>
<p>
  Someone (hopefully you) has requested a password reset for your account <br.><br>
</p>
<p>
  You can reset your password
  <a href='<%= @password_reset_url or raise "NO" %>'>here</a>.
</p>
