<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to FarmBot, <%= @user.name %></h1>
    <p>
      You may log in <a href="http:<%= $API_URL %>">here</a>.<br>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
