// Padding for the popups.
.bp3-popover-content {
  z-index: 999;
  padding: 1rem;
}

// Arrow is slightly off by default in the popup menu.
.bp3-tether-element-attached-left.bp3-tether-target-attached-right>.bp3-popover>.bp3-popover-arrow {
  left: -1rem;
}

.bp3-overlay-content.bp3-tether-abutted.bp3-tether-abutted-top.bp3-tether-element.bp3-tether-element-attached-left.bp3-tether-element-attached-top.bp3-tether-enabled.bp3-tether-target-attached-bottom.bp3-tether-target-attached-left.bp3-transition-container {
  top: 2rem !important;
}

.bp3-portal {
  z-index: 99;
}

.bp3-menu {
  max-height: 20rem !important;
  overflow-y: scroll;
}

.bp3-input-group {
  .bp3-icon {
    top: 0.6rem;
  }
}

.bp3-button:not(.bp3-minimal) {
  font-weight: normal;
  text-transform: none;
  background: $white;
  border-radius: 0;
  font-size: 1.2rem !important;
  color: $black !important;
  height: 27px !important;
  width: 100% !important;
  border: 0 !important;
  box-shadow: 0px 0px 10px #ddd !important;
  background: $white !important;
  &:active {
    box-shadow: none !important;
    transform: translateY(0px) !important;
  }
  &:hover {
    background: $white !important;
  }
  :first-child {
    display: inline-block;
    white-space: nowrap;
    width: 73%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 1rem;
  }
}

.bp3-popover-wrapper {
  display: block;
  position: relative;
  * {
    text-align: left;
  }
}

.bp3-icon-standard.bp3-align-right {
  float: right !important;
  margin-top: 0.6rem !important;
  margin-left: 0 !important;
  font-size: 1.6rem !important;
}

.nav-right .bp3-popover-wrapper {
  transition: all 0.2s ease;
  text-transform: uppercase;
  color: $gray;
  font-size: 1.2rem;
  letter-spacing: 1.2px;
  float: right;
  font-weight: normal;
  margin-top: 2.2rem;
  cursor: pointer;
  &:hover {
    font-weight: bold;
    color: $white;
  }
}

.bp3-collapse {
  scrollbar-width: none;
}

.bp3-collapse::-webkit-scrollbar,
.bp3-collapse-body::-webkit-scrollbar {
  display: none !important;
  width: 0px !important;
  background-color: transparent !important;
}

*[class*=bp3-] {
  &:focus {
    outline: none;
  }
}
