@use "variables" as *;
@use "sass:color";

// Padding for the popups.
.bp6-popover-content {
  z-index: 999;
  padding: 1rem;
  color: var(--text-color) !important;
  background: unset !important;
}

.bp6-popover {
  font-size: 1.3rem;
  border-radius: 0.5rem;
  overflow: hidden;
  background: unset !important;
  .bp6-popover-arrow {
    display: none !important;
  }
}

.bp6-popover-transition-container {
  backdrop-filter: var(--blur);
  border-radius: 0.75rem;
  overflow: hidden;
  background: var(--main-bg) !important;
  box-shadow: var(--box-shadow) !important;
}

// Arrow is slightly off by default in the popup menu.
.bp6-tether-element-attached-left.bp6-tether-target-attached-right>.bp6-popover>.bp6-popover-arrow {
  left: -1rem;
}

.bp6-overlay-content.bp6-tether-abutted.bp6-tether-abutted-top.bp6-tether-element.bp6-tether-element-attached-left.bp6-tether-element-attached-top.bp6-tether-enabled.bp6-tether-target-attached-bottom.bp6-tether-target-attached-left.bp6-transition-container {
  top: 2rem !important;
}

.bp6-portal {
  z-index: 99;
}

.bp6-menu {
  max-height: 20rem !important;
  overflow-y: scroll;
}

.bp6-input {
  box-shadow: none;
  border-radius: 0;
}

.bp6-input-group {
  border-bottom: 1.5px solid var(--border-color);
  .bp6-icon {
    top: 0.6rem;
  }
}

.bp6-popover.help {
  .bp6-popover-content {
    width: 32rem;
  }
}

.bp6-slider {
  margin: 0 2.5rem 0 1.5rem;
  width: initial;
}

.bp6-slider-progress {
  background: var(--secondary-bg);
}

.bp6-control {
  margin: 0;
}

.bp6-button:not(.bp6-minimal) {
  font-weight: normal;
  text-transform: none;
  border-radius: 3px;
  font-size: 1.2rem !important;
  color: $black !important;
  height: 27px !important;
  width: 100% !important;
  border: 0 !important;
  box-shadow: none !important;
  background: $translucent9_white !important;
  &:hover {
    background: $translucent9_white !important;
  }
  :first-child {
    display: inline-block;
    white-space: nowrap;
    width: 73%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 1.5rem;
  }
}

.bp6-icon-standard.bp6-align-right {
  float: right !important;
  margin-top: 0.6rem !important;
  margin-left: 0 !important;
  font-size: 1.6rem !important;
}

.nav-right .bp6-popover-wrapper {
  transition: all 0.2s ease;
  text-transform: uppercase;
  color: $gray;
  font-size: 1.2rem;
  letter-spacing: 1.2px;
  cursor: pointer;
  &:hover {
    font-weight: bold;
    color: $white;
  }
}

.bp6-collapse {
  scrollbar-width: none;
}

.bp6-collapse::-webkit-scrollbar,
.bp6-collapse-body::-webkit-scrollbar {
  display: none !important;
  width: 0px !important;
  background-color: transparent !important;
}

.bp6-hotkey-dialog {
  background: var(--main-bg) !important;
  .bp6-heading {
    display: none;
  }
  .bp6-hotkey-label {
    color: var(--text-color) !important;
    font-size: 1.4rem !important;
  }
  .bp6-key {
    background: var(--secondary-bg) !important;
    color: var(--text-color) !important;
  }
}

*[class*=bp6-] {
  &:focus {
    outline: none;
  }
}
