// Blueprint
// @import "~normalize.css";
@import "@blueprintjs/core/lib/css/blueprint.css";
@import "@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "animations";
@import "colors";
@import "fonts";
// Global
@import "global";
@import "mobile";
@import "blueprint_overrides";
// Designer
@import "farm_designer/farm_designer_panels";
@import "farm_designer/farm_designer";
@import "farm_designer/farm_events";
// Sequences and Regimens
@import "sequences";
@import "regimens";
// App loading animations
@import "spinner";
@import "loading_plant";
// Components
@import "buttons";
@import "hotkeys";
@import "image_flipper";
@import "inputs";
@import "steps"; // must be imported after "inputs"
@import "labels";
@import "navbar";
@import "static_pages";
@import "status_ticker";
@import "tables";
@import "toastr";
@import "tooltips";
@import "widget_move";
@import "widgets";
@import "scrollbar";
