@use "variables" as *;
@use "sass:color";

@media screen and (max-width: 1075px) {
  .all-content-wrapper {
    padding: 11rem 0 0;
    overflow: hidden;
  }
  .nav-group {
    padding: 0 1rem 0 0 !important;
  }
  .mobile-menu-icon {
    padding: 1.7rem 0 0 1.6rem;
    font-size: 2rem;
    color: $white;
  }
  .mobile-menu {
    z-index: 9999;
    background: $dark_gray;
    color: $white;
    height: 100vh;
    outline: none;
    animation: slide-in 0.2s;
    width: 24rem;
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-11rem)
  }
  100% {
    transform: translateX(0)
  }
}
