// Google Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,100,100italic");
@import "colors";
// Font Variables
$roboto: 'Roboto',
Arial,
Helvetica,
sans-serif;
body,
html {
  font-family: $roboto;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
fieldset {
  font-family: $roboto;
  font-weight: 400;
}

p {
  font-size: 1.1rem;
  color: $dark_gray;
  line-height: 1.4rem;
  margin-bottom: 0 !important;
}
