/* Styles used throughout the frontend */

body {
  background: $gray;
}

.initial-loading-text {
  position: absolute;
  top: 385px;
  z-index: -1;
  text-align: center;
  width: 100%;
  padding-top: 10%;
  color: $dark_gray;
}

.widget-body .row:not(:last-child) {
  margin-bottom: 1rem;
}

.colorpicker-menu {
  padding: 0;
  .bp5-popover-arrow-fill {
    fill: $dark_gray;
  }
  .bp5-popover-content {
    width: 13rem;
    background: $dark_gray;
  }
  .bp5-popover-content,
  .color-picker-cluster,
  .color-picker-item-wrapper,
  .saucer {
    display: inline-block;
    padding: 0.4rem;
  }
}

.bp5-popover.help {
  .bp5-popover-arrow {
    display: none !important;
  }
  .bp5-popover-arrow-fill {
    fill: $dark_gray;
  }
  .bp5-popover-content {
    width: 32rem;
    color: $white;
    background: $dark_gray;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button,
input[type=time]::-webkit-inner-spin-button,
input[type=time]::-webkit-outer-spin-button,
input[type=time] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
  border-radius: 0;
}

.char-limit {
  float: right;
  font-size: 1.4rem;
  &.over {
    color: $darkest_red;
    font-weight: bold;
  }
}

.markdown {
  p {
    display: inline-block;
    color: $white;
    text-overflow: ellipsis;
    overflow: hidden;
    width: calc(100% - 14rem);
    white-space: nowrap;
    text-transform: none;
    margin-top: 0.3rem;
  }
}

fieldset {
  button {
    margin: 0.6rem 0 0 0.6rem;
  }
}

.saucer {
  position: relative;
  z-index: 2;
  height: 2rem;
  width: 2rem;
  background: $dark_gray;
  border-radius: 50%;
  cursor: pointer;
  &.active {
    border: 2px solid white;
  }
  &.hover {
    border: 2px solid $dark_gray;
  }
  p {
    font-weight: 900;
    color: $white;
    margin-left: 0.7rem;
    margin-top: 0.3rem;
  }
}

.icon-saucer {
  position: relative;
  z-index: 2;
  height: 2rem;
  width: 2rem;
  color: $dark_gray;
  cursor: pointer;
  &.active {
    border: 2px solid white;
  }
  &.hover {
    border: 2px solid $dark_gray;
  }
}

.saucer-connector {
  position: absolute;
  z-index: 1;
  height: 3rem;
  width: 1rem;
  margin-left: 0.5rem;
  margin-top: -1rem;
  &.last {
    margin-top: -9rem;
    height: 8rem;
  }
}

.connector-hover-area {
  visibility: hidden;
  stroke: white;
  pointer-events: all;
}

.diagnosis-indicator {
  text-align: center !important;
  &.nav {
    display: inline-block;
    border-color: transparent;
  }
  i {
    display: block;
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    color: $white;
    font-size: 11px;
    &.fa-times {
      left: 0.35rem;
    }
    &.fa-question {
      left: 0.45rem;
    }
  }
}

.jobs-and-logs {
  margin-top: 1rem;
}

.jobs-and-logs,
.controls-content,
.connectivity-content {
  margin-bottom: 0;
  padding-top: 2rem !important;
  .tabs {
    display: flex;
    position: absolute;
    top: 1rem;
    left: 0;
    z-index: 3;
    width: 100%;
    background: $white;
    padding-bottom: 0.5rem;
    :first-child {
      margin-left: 1rem;
      margin-right: 0.2rem;
      border-bottom-left-radius: 7px;
      border-top-left-radius: 7px;
    }
    :nth-child(2) {
      margin-right: 0.2rem;
    }
    :last-child {
      margin-right: 1rem;
      border-bottom-right-radius: 7px;
      border-top-right-radius: 7px;
    }
    label {
      margin: 0;
      padding: 0.5rem;
      background: $light_gray;
      color: $medium_gray;
      width: 50%;
      text-align: center;
      margin-top: 0;
      cursor: pointer;
      &.selected {
        background: $medium_gray;
        color: $off_white;
      }
      &:hover {
        background-color: color.adjust($white, $lightness: -40%);
        color: $off_white;
      }
    }
  }
}

.controls-popover-portal {
  .bp5-transition-container {
    z-index: 999;
  }
  .controls-popover {
    margin-top: 1.5rem;
    max-width: 100vw;
    .bp5-popover-content {
      padding-bottom: 0;
    }
    .controls-content {
      padding: 1rem;
      padding-bottom: 0;
      width: 500px;
      max-width: calc(100vw - 3rem);
      overflow-x: hidden;
      max-height: calc(100vh - 10rem);
      overflow-y: auto;
      .row {
        margin-bottom: 1rem;
      }
    }
  }
}

.connectivity-popover-portal {
  .bp5-transition-container {
    z-index: 999;
  }
  .connectivity-popover {
    margin-top: -1rem;
    max-width: 100vw;
    .bp5-popover-content {
      padding-bottom: 0;
    }
    .connectivity {
      padding: 1rem;
      padding-bottom: 0;
      width: 600px;
      max-width: calc(100vw - 3rem);
      overflow-x: hidden;
      max-height: calc(100vh - 10rem);
      overflow-y: auto;
      .row {
        margin-bottom: 1rem;
      }
      .connectivity-content {
        table {
          font-size: 1.3rem;
        }
      }
      .connectivity-left-column,
      .connectivity-right-column {
        padding-bottom: 2rem;
      }
      .connectivity-left-column {
        padding-left: 0;
      }
      .connectivity-right-column {
        margin-top: 1rem;
      }
      .connectivity-diagram svg {
        max-height: 200px !important;
      }
      .port-info,
      .network-info,
      .fbos-info {
        @media (max-width:767px) {
          display: block;
        }
      }
      .network-info {
        margin-bottom: 0;
      }
    }
  }
}

.connectivity-diagnosis {
  h4 {
    margin-left: 3rem;
  }
  p {
    padding-bottom: 1rem;
  }
  a {
    display: block;
    font-size: 1.2rem;
  }
  .blinking {
    a {
      display: inline;
    }
  }
  .fa-external-link {
    margin-right: 0.5rem;
  }
}

.camera-connection-indicator,
.memory-usage-display,
.chip-temp-display {
  position: relative;
  .saucer {
    position: absolute;
    top: 2px;
    right: 0.5rem;
    height: 1rem;
    width: 1rem;
    cursor: default;
  }
}

.voltage-display {
  position: relative;
  height: 1.4rem;
  .voltage-saucer {
    position: absolute;
    top: 0;
    right: 0.5rem;
    height: 1rem;
    width: 1rem;
    cursor: default;
  }
}

.voltage-display {
  display: flex;
  .saucer {
    height: 1rem;
    width: 1rem;
    cursor: default;
    margin-left: 0.5rem;
    margin-top: 0.2rem;
  }
  .help-icon {
    margin: 0 0 0.5rem 0.25rem;
    color: $dark_gray;
    font-size: 1rem;
    vertical-align: middle;
  }
}

.throttle-display {
  .throttle-row {
    display: flex;
    white-space: nowrap;
    .saucer {
      margin-right: 1rem;
    }
  }
}

.wifi-strength-display {
  position: relative;
  .percent-bar {
    position: absolute;
    top: 2px;
    right: 0;
    height: 1rem;
    width: 25%;
    clip-path: polygon(0 85%, 100% 0, 100% 100%, 0% 100%);
    background-color: $light_gray;
    .percent-bar-fill {
      height: 100%;
      background-color: $green;
    }
  }
}

.mac-address {
  font-size: 1rem;
  b {
    font-size: 1.1rem;
  }
}

.port-info,
.network-info,
.fbos-info {
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
  background: $white;
  padding: 1rem;
  box-shadow: 0px 0px 10px $light_gray;
  border-radius: 5px;
  width: 20rem;
  .ip-address {
    word-break: break-all;
  }
  a {
    display: block;
    margin-top: 1rem;
    font-size: 1.1rem;
    text-decoration: underline !important;
    i {
      margin-right: 0.5rem;
    }
  }
}

@keyframes adjust-width {
  100% {
    width: 100.01%;
  }
}

.connectivity-diagram {
  margin: auto;
  width: 20rem;
  background: $white;
  svg {
    animation: adjust-width 0.01s linear forwards;
  }
}

.port-info,
.qos-display {
  .saucer {
    float: right;
    width: 1rem;
    height: 1rem;
    cursor: unset;
  }
}

.port-info {
  i {
    display: block;
    font-size: 1.2rem;
  }
  .fa {
    display: inline;
  }
}

.last-seen-row {
  i {
    margin-right: 0.5rem;
  }
}

.farmbot-os-details {
  max-width: 350px;
}

.os-release-channel {
  margin-top: 0.5rem;
  label {
    margin: 0;
    margin-right: 1rem;
    line-height: 3rem;
  }
  .filter-search {
    display: inline-block;
    width: 50%;
    button {
      margin: 0;
    }
  }
}

.garden-location {
  .fa-map {
    margin: 0.5rem;
    float: right;
    margin-bottom: 0;
    color: $medium_gray;
  }
  .latitude {
    padding-right: 0;
  }
  .longitude {
    padding-left: 0;
  }
}

.all-content-wrapper {
  margin: 0 auto;
  padding: 11rem 3rem 0;
  width: 100%;
  max-width: 160rem;
  animation: page-transition 0.2s ease-in-out;
}

a {
  cursor: pointer !important;
  outline: none !important;
}

.input-group {
  width: 100% !important;
  input[type=checkbox] {
    box-shadow: none;
  }
}

.fa {
  cursor: pointer !important;
  &.fa-gear {
    color: $white;
    &.dark {
      color: $dark_gray;
    }
  }
}

.caution-icon {
  pointer-events: none;
  margin-left: 1rem;
}

.drag-drop-area {
  &.visible {
    margin: 0.75rem 0;
    margin-right: 25px;
    margin-left: 10px;
    border-style: dashed;
    border-width: 2px;
    border-color: $light_gray;
    color: $gray;
    font-weight: bold;
    padding: 1.25rem;
    background: $off_white;
    text-align: center;
    color: $gray;
    font-weight: bold;
  }
}

.expandable-header {
  cursor: pointer;
  .icon-toggle {
    font-size: 1.2rem;
    font-weight: bold;
    vertical-align: middle;
    .fa {
      font-size: 1rem;
    }
  }
}

.centered-button-div {
  text-align: center;
  padding: 0.25rem;
  .fb-button {
    float: none !important;
  }
  label {
    padding: 0;
  }
}

.single-setting-row {
  .col-xs-5 {
    padding-left: 4.75rem;
    &.centered-button-div {
      padding-left: 6rem;
    }
  }
}

.fb-toggle-button,
.mcu-input-box {
  position: relative;
  .setting-status-indicator {
    position: absolute;
    z-index: 1;
  }
  .fa-exclamation-triangle {
    color: $orange;
  }
  .fa-spinner {
    color: $dark_gray;
  }
  .fa-check {
    color: $green;
    animation: fade-out 1s 0.4s forwards;
  }
  .save-error {
    .bp5-popover-content {
      background: $dark_gray;
      min-width: 200px;
      p {
        text-transform: none;
        color: $off_white;
      }
    }
    .bp5-popover-arrow-fill {
      fill: $dark_gray;
    }
  }
}

.mcu-input-box {
  .setting-status-indicator {
    top: 0.5rem;
  }
}

.fb-toggle-button {
  .setting-status-indicator {
    top: 0.25rem;
  }
}

.mcu-input-box {
  .setting-status-indicator {
    right: 0.5rem;
  }
}

.fb-toggle-button {
  &.yellow {
    .setting-status-indicator {
      display: none;
    }
  }
  &.green {
    .setting-status-indicator {
      right: 0.5rem;
    }
  }
  &.red {
    .setting-status-indicator {
      left: 0.5rem;
    }
  }
}

.toggle-group {
  display: inline-block;
  width: 100%;
  label {
    padding-top: 0.5rem;
    max-width: 75%;
  }
}

.load-progress-bar-wrapper {
  position: relative;
  margin: 0.5rem;
  margin-top: 0;
  margin-left: 0;
  width: 90%;
  height: 1.5rem;
  border: 1px solid $dark_gray;
  .load-progress-bar {
    height: 100%;
    background: $dark_gray !important;
    p {
      position: absolute;
      color: $gray;
      font-weight: bold;
      font-size: 1rem;
    }
  }
}

.firmware-setting-export-menu {
  button {
    margin-bottom: 1rem;
  }
  ul {
    font-size: 0.75rem;
  }
}

.change-ownership-form {
  p {
    padding: 1rem;
    margin-left: 0.5rem;
  }
  .row {
    margin-bottom: 1rem;
    &:empty {
      margin-bottom: 0;
    }
  }
  label {
    margin-top: 0.5rem;
  }
  button {
    margin-top: 1rem;
    margin-right: 1rem;
  }
}

.pin-bindings {
  .fa-exclamation-triangle {
    color: $orange;
    margin-left: 1rem;
    margin-top: 0.75rem;
  }
  .fa-circle-o-notch,
  .fa-th-large {
    position: absolute;
    top: 0.75rem;
    left: 0.5rem;
    color: $dark_gray;
  }
  .fb-button {
    &.green {
      margin-top: 0.5rem;
    }
  }
  .bindings-list {
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-size: 1.2rem;
  }
  .binding-type-dropdown {
    margin-bottom: 1.5rem;
  }
  .stock-pin-bindings-button {
    button {
      margin: 1rem;
      float: left;
      margin-left: 2rem;
    }
    i {
      margin-right: 0.5rem;
    }
  }
  .bp5-popover-wrapper {
    display: inline;
    float: none !important;
    margin-left: 1rem;
  }
}

.sensor-history-widget {
  .sensor-selection,
  .sensor-history-time-selection,
  .sensor-history-location-selection {
    margin-bottom: 1rem !important;
  }
  .row {
    margin-bottom: 0 !important;
  }
  label {
    margin-bottom: 5px;
  }
  .bp5-popover-wrapper {
    float: right;
  }
}

.add-sensor-reading-menu {
  width: 300px;
  .green {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
  .reading-location,
  .add-reading-value-form {
    margin-top: 1rem;
  }
}

.sensor-selection {
  margin-bottom: 4rem !important;
}

.sensor-readings-plot {
  max-height: 300px;
  stroke: $black;
  font-size: 60px;
  font-weight: 100;
}

.sensor-history-table {
  font-size: 1.2rem;
  th,
  td {
    width: 1%;
  }
  tr {
    color: $black;
    &.previous {
      color: $medium_gray;
    }
    &.selected {
      background: $gray;
    }
  }
  .sensor-history-table-contents {
    max-height: 20rem;
    overflow-y: auto;
  }
}

.sensor-history-footer {
  display: flex;
  justify-content: space-between;
  .date {
    span {
      white-space: nowrap;
    }
    label {
      margin-right: 0.5rem;
    }
  }
  .location {
    display: flex;
    label {
      margin-left: 1rem;
      margin-right: 0.5rem;
    }
  }
}

.full-width {
  width: 100%;
}

fieldset {
  border: none;
  legend {
    background: transparent;
  }
}

.move-tab,
.peripherals-tab,
.webcams-tab {
  margin-top: 1rem;
}

.webcams-tab {
  margin-top: 2rem;
}

.webcam-stream-unavailable {
  position: relative;
  width: 100%;
}

.webcam-stream-unavailable img {
  width: 100%;
  max-width: 100%;
  opacity: 0.40;
}

.webcam-stream-valid {
  img, iframe {
    display: flex;
    margin: auto;
    max-height: 650px;
  }
  img {
    max-width: 100%;
    min-height: 100px;
  }
  iframe {
    width: 100%;
    border: none;
    min-height: 300px;
  }
}

.webcam-stream-unavailable p {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
  text-align: center;
  font-size: 1.5rem;
}

.webcam-rows {
  height: 40rem;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-left: 3rem;
}

.webcam-buttons {
  position: relative;
}

.webcam-buttons,
.peripherals-buttons {
  display: flex;
  margin-top: 1rem;
  .bp5-popover-wrapper {
    margin-top: 0.5rem;
  }
  p {
    width: 100%;
    margin-left: 1rem;
    margin-top: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  button {
    margin: 0.25rem;
    margin-bottom: 1rem;
  }
}

h3 {
  display: inline-block;
  margin-top: 0;
  font-size: 2.2rem;
}

h4 {
  line-height: 1.1rem;
  font-size: 1.8rem;
  color: $darker_gray;
}

hr {
  border-top: 1px solid rgba(16, 22, 26, 0.15);
}

.e-stop {
  white-space: nowrap;
  &.yellow {
    animation: bright-flash 1s infinite alternate;
  }
}

.e-stop-btn {
  float: right;
  margin-top: 1.5rem;
  margin-left: 0.5rem;
  border-radius: 1rem;
  .e-stop {
    margin: 0;
    box-shadow: none !important;
    height: 2.9rem;
    font-size: 1.1rem !important;
    &.pseudo-disabled {
      box-shadow: none !important;
    }
    &:hover {
      box-shadow: 0 0 10px $translucent5, 0 0 5px inset rgba(255, 255, 255, 0.2) !important;
      &.red {
        color: $white;
      }
      &.yellow {
        color: $black;
      }
    }
  }
  &.hard {
    border-radius: 5px;
  }
}

a {
  text-decoration: none !important;
  outline: none !important;
  cursor: pointer !important;
  color: $dark_gray;
  &:link {
    font-weight: 500;
    color: $dark_gray;
  }
  &:visited {
    color: $dark_gray;
  }
  &:hover {
    font-weight: bold;
    color: $dark_gray;
  }
  &:active {
    color: $dark_gray;
  }
}

button,
select,
summary,
input {
  outline: none !important;
}

input:disabled {
  background: rgba(0, 0, 0, 0.1) !important;
}

ul {
  list-style-type: none !important;
  padding: 0;
}

.coming-soon {
  position: relative;
  opacity: 0.50;
  width: 100%;
  height: 100%;
}

.coming-soon:after {
  content: "Coming Soon!";
  position: absolute;
  top: 25%;
  left: 0;
  background-color: $red;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: 2.5rem;
}

.unavailable {
  display: inline-block;
  position: relative;
  z-index: 10;
  opacity: 0.40;
  * {
    pointer-events: none;
  }
  &.banner {
    &:after {
      content: "Not available when device is offline.";
      position: absolute;
      top: 25%;
      left: -2.5%;
      z-index: 10;
      width: 105%;
      padding: 0.5rem;
      background-color: $dark_gray;
      opacity: 0.90;
      color: $off_white;
      font-size: 1.8rem;
      vertical-align: middle;
      text-align: center;
    }
  }
}

.button-group {
  display: inline-block;
  margin: 1.5rem 0 -1rem;
  width: 100%;
  button:not(:first-of-type) {
    margin-right: 1rem;
  }
  .run-btn {
    margin-right: 0.5rem;
  }
  .fb-button {
    margin: 0;
  }
  .settings-menu-button {
    margin-top: 0.15rem;
    margin-right: 0.5rem;
    .bp5-popover-wrapper {
      margin-left: 0;
    }
  }
  .fa {
    float: right;
  }
  .fa-code {
    font-weight: bold;
    color: $gray;
    &.enabled {
      color: $dark_gray;
    }
  }
  .inactive {
    color: $gray;
  }
  .fa-eye-slash {
    color: $gray;
  }
  .color-picker {
    float: right;
    vertical-align: middle;
    .saucer {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}

.sequence-description-wrapper,
.button-group,
.panel-header-icon-group {
  .fa-spinner {
    background: none !important;
    box-shadow: none !important;
  }
}

.fb-button-popover-wrapper {
  float: right;
  margin-right: 1rem;
}

.parameter-assignment-menu {
  .test-button-div {
    text-align: center;
  }
  .fb-button {
    float: none;
  }
  .locals-list {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.parameter-assignment-menu-popover {
  max-width: 400px;
}

.note {
  margin-top: 1rem;
  font-style: italic;
  font-size: 1.2rem;
}

.bot-position-rows {
  .missed-step-indicator-wrapper {
    position: absolute;
    top: -1.5rem;
    left: 1.5rem;
    right: 1.5rem;
    height: 1rem;
    .missed-step-details {
      min-width: 9rem;
      padding-bottom: 1rem;
      table tr, td {
        padding: unset;
      }
      label, p {
        color: $white;
        text-align: right;
        font-style: normal;
      }
    }
    .bp5-popover-wrapper {
      .bp5-popover-target {
        display: block;
      }
    }
    .bp5-popover {
      .bp5-popover-arrow {
        svg {
          transform: rotate(-90deg) translate(1px) !important;
          .bp5-popover-arrow-fill {
            fill: $dark_gray;
          }
        }
      }
      .bp5-popover-content {
        background: $dark_gray;
      }
    }
    .missed-step-indicator {
      position: absolute;
      top: 0.2rem;
      height: 0.75rem;
      width: 100%;
      background: $white;
      box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
      cursor: pointer;
      .instant {
        position: absolute;
        height: 100%;
        opacity: 0.5;
        &.yellow {
          opacity: 0.75;
        }
      }
      .peak {
        position: absolute;
        height: 100%;
        width: 2px;
        opacity: 0.5;
        &.yellow {
          opacity: 0.75;
        }
      }
    }
  }
}

.move-settings-menu {
  label {
    margin-top: 7px;
  }
  p {
    margin-top: 0.7rem;
    font-size: 1.4rem;
    color: $medium_gray;
    font-weight: 400;
  }
}

.bot-position-rows {
  label {
    margin-top: 0 !important;
  }
  .axis-titles {
    margin-bottom: 1rem;
    .bp5-popover-wrapper {
      display: inline;
      float: right;
    }
  }
  p {
    text-align: center;
    font-style: italic;
  }
  .axis-info {
    .index-1 {
      z-index: 1;
    }
    .index-2 {
      z-index: 2;
    }
    .index-3 {
      z-index: 3;
    }
  }
  .fa-ellipsis-v {
    font-size: 1.2rem;
    width: 1rem;
    text-align: center;
  }
  .axis-actions {
    width: 10rem;
    .fb-button {
      width: 100%;
      float: none;
      margin-bottom: 0.25rem;
    }
    a {
      display: block;
      padding: 1rem 0.5rem 0.75rem 0.5rem;
      text-decoration: none !important;
      font-size: 1.2rem;
      .fa-external-link {
        margin-top: 0.25rem;
        float: right;
      }
      &:hover {
        .fa-external-link {
          font-weight: bold;
        }
      }
    }
  }
}

.fbos-metric-history {
  .fbos-metric-history-table-wrapper {
    overflow-y: scroll;
    height: 25rem;
    padding-bottom: 1rem;
    thead {
      position: sticky;
      top: 0;
      z-index: 3;
      background: $white;
    }
    .saucer {
      margin: 0 auto;
      height: 1.5rem;
      width: 1.5rem;
      cursor: default;
    }
  }
}

.fbos-metric-history-plot-border,
.motor-position-plot-border {
  text {
    text-anchor: middle;
    dominant-baseline: middle;
  }
}

.fbos-metric-history-plot-border {
  margin: 1rem;
  width: calc(100% - 2rem) !important;
  border-radius: 5px;
  box-shadow: 0 0 10px $light_gray;
  animation: adjust-width 0.01s linear forwards;
  text {
    font-size: 0.6rem;
  }
}

.motor-position-plot-border {
  box-shadow: 0 0 10px $light_gray;
  border-radius: 5px;
  text {
    font-size: 0.4rem;
  }
}

.controls-popup,
.controls-popup-menu-outer {
  position: fixed;
  bottom: 3rem;
  right: 1rem;
  z-index: 3;
  background: $dark_gray;
  border-radius: 3rem;
  height: 6rem;
  width: 6rem;
}

.controls-popup {
  color: $off_white;
  @media screen and (max-width: $mobile_max_width) {
    &.panel-open {
      display: none;
    }
  }
  img {
    position: fixed;
    bottom: 3rem;
    z-index: 4;
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
    padding: 18px 20px;
    font-size: 2.4rem;
    transition: all 0.25s ease-in-out;
    filter: invert(1);
    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
  .move-amount-wrapper,
  .jog-table {
    display: none;
  }
  &.open {
    img {
      transform: rotate(-135deg);
      &:hover {
        background-color: rgba(0, 0, 0, 0);
      }
    }
    .controls-popup-menu-outer {
      transition: all 0.1s 0s ease-in-out;
      width: 36rem;
      height: 14rem;
      padding: 0.6rem 5rem 0rem 0rem;
    }
    .controls-popup-menu-inner {
      transition-delay: 0.25s !important;
      opacity: 1;
    }
    .jog-table {
      display: block;
      margin: 0;
      float: right;
      td {
        padding: 0;
      }
    }
    .move-amount-wrapper {
      display: inline-block;
      width: 100%;
      box-shadow: none;
      margin-left: 2rem;
      padding-top: 0.5rem;
      .move-amount {
        width: 18%;
        height: 2rem;
      }
    }
  }
  .filter-search {
    display: inline-block;
    width: 9rem;
    padding: 1rem;
    margin-left: 1rem;
  }
  .arrow-button {
    margin: 5px;
    box-shadow: none !important;
    &.pseudo-disabled {
      box-shadow: none !important;
    }
  }
}

.controls-popup-menu-inner {
  border-radius: 2rem;
  transition: all 0.1s 0s ease-in-out;
  opacity: 0;
}

.controls-popup-menu-outer {
  transition: all 0.1s ease-in-out;
  transition-delay: 0.2s !important;
}

@keyframes page-transition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.empty-state-graphic {
  display: flex;
  margin: auto;
  margin-top: 25%;
  width: 50%;
}

.empty-state {
  text-align: center;
  h5 {
    font-weight: bold;
  }
  &.plants {
    p,
    h5,
    a {
      color: $panel_green;
    }
  }
  &.curves {
    .empty-state-graphic {
      filter: grayscale(1);
    }
  }
  &.gardens {
    p,
    h5,
    a {
      color: $panel_navy;
    }
    .empty-state-graphic {
      filter: hue-rotate(135deg) brightness(0.5);
      color: $panel_navy;
    }
  }
  &.events {
    p,
    h5,
    a {
      color: $panel_yellow;
    }
  }
  &.farmware {
    p,
    h5,
    a {
      color: $panel_gray;
    }
  }
  &.peripherals {
    img {
      margin-top: 0;
      max-width: 20rem;
    }
    p,
    h5,
    a {
      color: $dark_gray;
    }
  }
  &.sensors {
    img {
      margin-top: 0;
      max-width: 20rem;
      filter: grayscale(1);
      padding: 1rem;
    }
    p,
    h5,
    a {
      color: $dark_gray;
    }
  }
  &.points {
    p,
    h5,
    a {
      color: $panel_teal;
    }
  }
  &.tools {
    p,
    h5,
    a {
      color: $panel_gray;
    }
  }
  &.groups {
    p,
    h5,
    a {
      color: $panel_blue;
    }
  }
  &.weeds {
    p,
    h5,
    a {
      color: $panel_red;
    }
  }
  &.zones {
    p,
    h5,
    a {
      color: $panel_brown;
    }
  }
  &.location {
    img {
      filter: grayscale(1);
    }
    p,
    h5,
    a {
      color: $dark_gray;
    }
  }
}

.farmware-info {
  margin-top: 1rem;
}

.farmware-list-items {
  margin-left: -30px;
  margin-right: -20px;
  padding: 0.5rem;
  padding-left: 1.5rem;
  padding-top: 0.75rem;
  cursor: pointer;
  label {
    cursor: pointer;
  }
  &:hover  {
    background: $medium_light_gray;
    p {
      font-weight: bold;
    }
  }
}

.farmware-url {
  font-size: 1rem;
  width: 100px;
  word-wrap: break-word;
}

.settings-menu-button {
  float: right;
  .fa-gear {
    margin-top: -0.25rem;
    color: $dark_gray;
  }
}

.publish-button {
  float: right;
}

.sequence-settings-menu {
  .bp5-popover-wrapper {
    display: inline;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .fb-button {
    margin-top: 0;
  }
}

.sequence-publish-menu,
.sequence-share-menu {
  max-width: 300px;
  button {
    display: block;
    margin: auto;
    float: none;
    margin-top: 1rem;
  }
}

.sequence-publish-menu {
  .sequence-publish-message {
    text-align: left;
    p {
      padding-bottom: 1rem;
      line-height: 1.5rem;
    }
    a {
      display: inline;
      text-decoration: underline !important;
    }
    ul {
      list-style-type: "- " !important;
      padding: revert;
      padding-left: 1rem;
      color: $dark_gray;
      font-size: 1.1rem;
      line-height: 1.5rem;
    }
    label {
      font-size: 1rem;
      margin-right: 1rem;
    }
    input {
      width: 50%;
    }
    .republish-warning {
      display: flex;
      margin: 0.75rem -10px 1rem -10px;
      padding: 1rem 1rem 0 1rem;
      background: color.adjust($orange, $alpha: -0.6);
      i {
        margin-right: 1rem;
        margin-top: 0.25rem;
      }
      p {
        font-weight: bold;
        padding-bottom: 0.5rem;
      }
    }
  }
  button {
    margin: 0;
    margin-top: 1rem;
    .fa-spinner {
      margin-left: 0.5rem;
    }
  }
}

.sequence-share-menu {
  text-align: center;
  a {
    display: block;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    &:hover {
      color: $black;
      font-weight: normal;
    }
  }
  .versions-table {
    margin-top: 2rem;
    text-align: left;
    .bp5-popover-wrapper {
      display: inline-block;
      margin-left: 1rem;
    }
    .fb-button.gray {
      margin: 0;
      float: right;
    }
    .row {
      margin-top: 0.5rem;
    }
    p {
      width: max-content;
      padding: 5px;
      border-radius: 3px;
      color: $white;
      background: $panel_blue;
    }
    .fa-link {
      float: right;
      margin-top: 0.75rem;
    }
  }
  .fb-button.white {
    color: $darkest_red;
    text-transform: none;
    font-weight: normal;
    background: $white;
    .fa-spinner {
      margin-left: 0.5rem;
    }
    &:hover {
      background: $off_white;
    }
  }
}

.logs-page {
  .row {
    @media screen and (max-width: 974px) {
      margin-left: 0;
      margin-right: 0;
    }
  }
  .bp5-popover-target {
    float: right;
  }
  @media screen and (max-width: 1075px) {
    padding-left: 15px !important;
  }
  @media screen and (max-width: 974px) {
    padding-left: 0 !important;
  }
  .fa-2x {
    float: right;
    font-size: 1rem;
    color: $dark_gray;
  }
  .fa-ban {
    color: $medium_gray;
  }
  details {
    display: inline;
    margin-top: 1rem;
  }
}

.logs-table-wrapper {
  border: none;
  .fa-trash {
    display: none;
  }
  tr {
    vertical-align: top;
    &:hover {
      background: #eee;
      .fa-trash {
        display: inline;
        color: $darkest_red;
        margin-left: 6px;
        padding: 0.5rem;
        line-height: 2rem;
      }
      .log-verbosity-saucer {
        display: none;
      }
    }
  }
  .fa-filter {
    border: 1px black solid;
    border-radius: 50%;
    padding: 0.25rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 1.3rem;
    margin-left: 5px;
  }
  .markdown {
    p {
      margin-top: 0;
    }
    a {
      text-decoration: underline !important;
      &:hover {
        font-weight: normal;
      }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
      font-size: 1.4rem;
      font-weight: bold;
    }
  }
  .notice {
    font-style: italic;
    text-align: center;
    font-size: 1.4rem;
    padding: 1rem;
  }
}

.logs-filter-menu {
  position: relative;
  padding-right: 1rem;
  fieldset {
    display: flex;
    label {
      width: 100%;
      padding-right: 1rem;
    }
  }
  .lines {
    padding-bottom: 2rem;
  }
  .line {
    position: absolute;
    width: 0.5rem;
    height: 90%;
    border-right: 1px $light_gray solid;
    .line-label {
      position: absolute;
      background: $white;
    }
  }
}

.logs-filter-menu,
.logs-settings-menu {
  label {
    margin-top: 7px;
  }
  .saucer {
    float: left;
    margin-right: 10px;
  }
  .bp5-popover-wrapper {
    display: inline-block;
    margin-left: 1rem;
    margin-top: 0.5rem;
  }
  .log-stream-link {
    margin-top: 1rem;
    text-align: center;
    .fa-external-link {
      margin-left: 0.5rem;
    }
  }
  .delete-all {
    text-align: center;
    button {
      float: none;
    }
  }
}

.logs-tab {
  .thin-search-wrapper {
    display: inline-block;
    width: 94%;
    background: $white;
  }
  .logs-settings-menu-button {
    display: inline-block;
    vertical-align: middle;
    .fa-gear {
      color: $dark_gray;
    }
  }
}

.logs-table {
  display: block;
  overflow: scroll;
  max-height: 42rem;
  background: $white;
  .log-verbosity-saucer, .saucer {
    float: left;
    margin-right: 5px;
    margin-left: 3px;
  }
  button {
    float: none;
  }
  thead {
    width: 100%;
  }
  thead,
  th {
    position: sticky;
    top: 0;
    z-index: 999;
    background: $white;
  }
  td {
    color: $dark_gray !important;
    word-break: break-word;
    .markdown {
      p {
        display: block;
        color: $dark_gray;
        font: inherit;
        font-size: inherit;
        text-overflow: inherit;
        overflow: inherit;
        width: inherit;
        white-space: inherit;
      }
    }
  }
  td:nth-child(1),
  td:nth-child(3),
  td:nth-child(4) {
    white-space: nowrap;
  }
}

.link-to-logs {
  margin-top: 2rem;
  margin-bottom: 4rem;
  text-align: center;
  font-style: italic;
}

.map-size-setting {
  margin-top: 1rem;
}

.release-notes-button {
  font-weight: bold;
  cursor: pointer;
}

.release-notes {
  max-width: 250px;
  h1 {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2rem;
    margin-top: 0;
  }
  li {
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 1.75rem;
    margin-bottom: 1rem;
  }
  p {
    display: block;
    color: $dark_gray;
    text-overflow: inherit;
    overflow: inherit;
    width: inherit;
    white-space: inherit;
  }
}

.sensors-widget {
  p {
    margin-top: 0.75rem;
  }
  .sensor-list {
    min-width: 33rem;
    .fb-button {
      white-space: unset;
    }
  }
  .sensor-reading-display {
    border-style: solid;
    border-color: $dark_gray;
    border-width: 0.1px;
    height: 2rem;
    width: 100%;
    margin-top: 0.5rem;
    &.moisture-sensor {
      background: linear-gradient(to right, rgba($blue, 0) 20%, $blue 80%, rgba($blue, 0) 85%);
    }
    &.digital {
      .indicator {
        text-align: center;
      }
    }
    .indicator {
      position: relative;
      background: $dark_gray;
      height: 2rem;
      span {
        position: relative;
        top: -0.1rem;
        font-size: 1.3rem;
      }
    }
  }
}

.sensors-widget,
.webcam-widget,
.peripherals-widget {
  .del-button {
    margin-top: 0.5rem;
  }
}

.electronics-box-3d-model {
  margin-bottom: 1rem;
  .led-label,
  .btn-label {
    display: block;
    margin: auto;
    width: max-content;
    color: $off_white;
    font-size: 1rem;
    background: $dark_gray;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    white-space: normal;
    max-height: 3.4rem;
    overflow-y: hidden;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    user-select: none;
    &.hovered {
      background: $black;
    }
    &.unbound {
      background: $placeholder_gray;
    }
  }
  .led-label {
    max-width: 7rem;
  }
  .btn-label {
    max-width: 5.8rem;
  }
  .filter-search {
    max-width: 5.5rem;
    .fa-caret-down {
      bottom: -0.5rem;
      right: 0.25rem;
      color: $off_white;
    }
    button {
      padding: 0.25rem;
      background: $dark_gray !important;
      border-radius: 0.5rem;
      height: max-content !important;
      min-height: 0;
      &:hover {
        background: $dark_gray !important;
      }
    }
    span {
      color: $off_white;
      white-space: normal !important;
      text-overflow: revert !important;
      font-weight: 700;
      font-size: 1rem;
      text-align: center;
      margin-right: 0.5rem;
    }
  }
  div {
    z-index: 0 !important;
  }
  canvas {
    height: 23rem;
  }
}

.webcam-widget {
  .no-flipper-image-container {
    background: none !important;
    width: 100% !important;
    height: auto !important;
    border-radius: 5px;
    img {
      max-width: 100% !important;
    }
  }
  .image-flipper {
    p,
    button {
      color: $dark_gray !important;
    }
  }
}

.peripheral-list {
  label {
    margin-top: 0 !important;
  }
  .slider-container {
    padding-left: 0.5rem;
    padding-right: 1rem;
    .bp5-slider {
      min-width: 100%;
    }
  }
}

.peripheral-form,
.peripheral-list {
  padding-top: 1rem;
}

.box-top-2d-wrapper {
  margin-top: 2rem;
  .box-top-leds,
  .box-top-buttons {
    display: grid;
    text-align: center;
  }
  .box-top-buttons {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .box-top-leds {
    margin: auto;
    width: 80%;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .fast-blink {
    animation: fill-blink 0.2s linear infinite;
  }
  .slow-blink {
    animation: fill-blink 2s linear infinite;
  }
}

.farmware-step-input-fields {
  label {
    padding-top: 1rem;
  }
  fieldset {
    width: 95%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  button {
    position: absolute;
  }
}

.update-resource-step {
  &.step-content {
    .row {
      margin: 0;
    }
  }
  .update-resource-step-resource {
    margin-bottom: 1rem;
  }
  .update-resource-pair {
    margin-top: 1rem;
    margin-right: -2rem;
    &.first {
      margin-top: 0;
    }
    div[class*=col-] {
      padding: 0;
      padding-right: 2rem;
    }
    .custom-meta-field {
      position: relative;
      input {
        height: 3rem;
      }
      .fa-undo {
        position: absolute;
        top: 0.65rem;
        right: 0.5rem;
        color: $medium_light_gray;
        &:hover {
          color: $dark_gray;
        }
      }
    }
    .custom-field-warning {
      display: inline-block;
      margin-top: 0.5rem;
      i,
      p {
        display: inline;
        cursor: default !important;
        margin-right: 0.5rem;
        color: $darkest_red;
      }
      .did-you-mean {
        cursor: pointer !important;
        font-weight: bold;
      }
    }
  }
}

.farmware-name-manual-input {
  margin-top: 1rem;
}

.write-pin-step {
  .filter-search {
    margin-bottom: 1rem;
  }
  .slider-container {
    padding-left: 0.5rem;
    padding-right: 1rem;
    .bp5-slider {
      min-width: 100%;
    }
  }
}

.read-pin-step {
  &.step-content {
    div[class*=col-] {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

.computed-move-step {
  &.step-content {
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
    input {
      height: 3rem;
      &:disabled {
        background: $light_gray !important;
      }
    }
    .help-icon {
      display: inline;
      margin-left: 0.5rem;
    }
    div[class*=col-] {
      padding: 0;
    }
    .row {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }
    label {
      padding-top: 1rem;
      &.safe-z {
        padding-top: 0.65rem;
      }
    }
    .expandable-header {
      text-align: center;
    }
    span {
      color: $dark_gray;
    }
    .input {
      position: relative;
      border: 3px solid $transparent;
      &.lua {
        border-color: $yellow;
        &:after {
          content: "lua";
          position: absolute;
          top: -0.25rem;
          right: -0.3rem;
          color: $dark_gray;
          background: $yellow;
          padding: 0.2rem 0.4rem;
          font-size: 0.65rem;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }
    .filter-search,
    .fb-checkbox {
      border: 3px solid $transparent;
    }
    .bp5-checkbox {
      padding-top: 0.75rem;
      margin-left: 0.25rem;
    }
  }
}

.lua-input {
  .lua-editor {
    height: 20rem;
    &.full {
      height: 40rem;
    }
    &.expanded {
      height: 70vh;
    }
  }
  .char-limit {
    padding: 0.5rem;
  }
  textarea {
    height: 100% !important;
    font-family: monospace;
    pointer-events: revert !important;
    font-size: 1.4rem;
    padding: 0 3rem 0 2.6rem;
    line-height: 1.9rem;
  }
}

.modified {
  box-shadow: 0 0 0px 3px $yellow !important;
  &.bp5-slider {
    box-shadow: none !important;
    .bp5-slider-handle {
      box-shadow: 0 0 0px 3px $yellow;
    }
  }
}

.modified-start {
  box-shadow: none !important;
  .bp5-start {
    box-shadow: 0 0 0px 3px $yellow;
  }
}

.modified-end {
  box-shadow: none !important;
  .bp5-end {
    box-shadow: 0 0 0px 3px $yellow;
  }
}

.input {
  .fa-undo {
    position: absolute;
    top: 1rem;
    right: 0.25rem;
    font-size: 1rem;
  }
}

.checkbox-row {
  display: flex;
  margin-top: 1rem;
  label {
    padding: 0;
    line-height: 2rem;
    margin-bottom: 0;
  }
  .fb-checkbox {
    display: inline;
    position: relative;
    margin-right: 1rem;
  }
  .bp5-popover-wrapper,
  .bp5-popover-target {
    margin-left: 1rem;
  }
}

.farmware-input-group {
  position: relative;
  margin-left: 3rem;
  .fa-times-circle,
  .fa-refresh {
    position: absolute;
    top: 0.85rem;
    color: $light_gray;
    &:hover {
      color: $dark_gray;
    }
  }
  .fa-times-circle {
    right: 1rem;
  }
  .fa-refresh {
    right: 3rem;
  }
  &.dropdown {
    .filter-search {
      border: 3px solid $transparent;
    }
    .fa-times-circle {
      right: 3rem;
    }
    .fa-refresh {
      right: 5rem;
    }
  }
}

.tour-list {
  margin: auto;
  max-width: 300px;
  margin-top: 1rem;
  .fb-button {
    margin: 0;
  }
}

.location-form {
  .row {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }
}

.default-value-form {
  position: relative;
}

.custom-coordinate-form {
  margin-left: -3rem;
  margin-right: -1rem;
  .x,
  .y,
  .z {
    padding-left: 2.5rem;
    margin-right: -0.25rem;
  }
}

.error-with-button {
  margin-top: 1rem;
  background: $pink;
  border: 1px solid $red;
  border-radius: 5px;
  label,
  p {
    margin: 0.5rem;
    color: $red;
  }
  button {
    margin: 0.5rem !important;
  }
}

.status-icon {
  &.ok {
    color: $green;
  }
  &.no {
    color: $red;
  }
  &.unknown {
    color: $orange;
  }
}

.status-details-target {
  margin-left: -1rem;
  margin-top: 0.25rem;
}

.status-details {
  max-width: 30rem;
  button {
    float: none !important;
  }
  .bp5-popover-wrapper {
    display: inline;
    margin-left: 0.5rem;
    font-size: 1.3rem;
  }
}

.problem-alert {
  position: relative;
  margin: 1rem;
  margin-bottom: 3rem;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 0px 2px 5px $medium_gray;
  background: $off_white;
  .fa-exclamation-triangle,
  .fa-check-square,
  .fa-info-circle {
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-size: 1.6rem;
    padding-right: 0.5rem;
  }
  .fa-exclamation-triangle {
    color: $orange;
  }
  .fa-check-square {
    color: $green;
  }
  .fa-info-circle {
    color: $blue;
  }
  &.bulletin-alert {
    img, iframe {
      margin: 1rem auto;
      width: 100%;
      border-radius: 5px;
    }
  }
  .problem-alert-title {
    margin-top: 0.15rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    line-height: 1rem;
    h3 {
      display: inline;
      color: $dark_gray;
      font-size: 1.5rem;
      font-weight: bold;
    }
    p {
      display: inline;
      color: $medium_gray;
      font-size: 1.2rem;
      white-space: nowrap;
      margin-left: 0.5rem;
    }
  }
  .fa-times {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: $medium_light_gray;
    &:hover {
      color: $dark_gray;
    }
  }
  .problem-alert-content {
    .markdown {
      p {
        display: block;
        color: $dark_gray;
        text-overflow: inherit;
        overflow: inherit;
        width: inherit;
        white-space: inherit;
      }
      ul {
        list-style-type: disc !important;
        padding-inline-start: 40px;
      }
    }
    p {
      margin-bottom: 0.75rem !important;
      font-size: 1.4rem;
      line-height: 2rem;
    }
    label {
      margin-top: 0.5rem;
    }
    .row {
      margin-top: 2rem;
    }
    .tour-list {
      margin: 0;
      label {
        max-width: 57%;
      }
    }
    .link-button {
      color: $off_white !important;
      font-weight: bold !important;
      float: none;
      margin-bottom: 2rem;
    }
    .fb-button {
      margin-top: 0.5rem;
    }
    a {
      text-decoration: none !important;
      outline: none !important;
      cursor: pointer !important;
      color: $dark_gray;
      &:link {
        font-weight: 500;
        color: $dark_gray;
      }
      &:visited {
        color: $dark_gray;
      }
      &:hover {
        font-weight: bold;
        color: $dark_gray;
      }
      &:active {
        color: $dark_gray;
      }
    }
  }
  .documentation-card {
    .fa-question {
      cursor: default !important;
      margin-left: 0.25rem;
      margin-right: 0.25rem;
    }
  }
}

.firmware-alerts {
  max-width: 600px;
}

.firmware-hardware-choice-table {
  margin: 2rem;
  margin-top: 1rem;
  width: 93%;
  border: 1px solid $gray;
  font-size: 1.2rem;
  th {
    background: $light_gray;
    font-weight: normal;
  }
  td {
    background: $off_white;
    color: $medium_gray;
  }
  code {
    background: $light_gray;
    color: $dark_gray;
  }
}

.firmware-path-selection {
  .manual-selection {
    margin: 1rem -15px;
    p {
      padding: 0rem 1.5rem 1rem;
    }
  }
}

.move-absolute-form {
  display: flex;
  .location-form,
  .expandable-header {
    padding-left: 15px;
  }
  .expandable-header {
    padding-right: 15px;
  }
  .input-line {
    flex: auto;
  }
  .more-options {
    min-width: 110px;
    margin-top: 0.5rem;
  }
  .custom-coordinate-form {
    margin-left: -2.5rem;
    margin-right: -11.25rem;
  }
}

textarea {
  width: 100%;
  border: 0;
  padding: 6px 8px;
  box-shadow: 0 0 10px #ddd;
  outline: none!important;
  resize: vertical;
}

textarea:focus {
  box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.sort-option-bar {
  cursor: pointer;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  border: 2px solid color.adjust($panel_light_blue, $lightness: -30%);
  border-radius: 5px;
  &:hover, &.selected {
    .sort-path-info-bar {
      background: color.adjust($panel_light_blue, $lightness: -40%);
    }
  }
  &:hover {
    border: 2px solid color.adjust($panel_light_blue, $lightness: -40%);
  }
  &.selected {
    border: 2px solid $medium_gray;
  }
  .sort-path-info-bar {
    background: color.adjust($panel_light_blue, $lightness: -30%);
    font-size: 1.2rem;
    padding-left: 0.5rem;
    white-space: nowrap;
    line-height: 2.5rem;
  }
}

.os-download-page {
  table {
    a {
      text-transform: none;
    }
  }
}

.featured-sequences-page,
.os-download-page {
  text-align: center;
  .all-content-wrapper {
    padding-top: 0 !important;
    min-height: 30rem;
  }
  h1 {
    margin-top: 5rem;
    font-size: 2rem !important;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.1), 0 0 25px rgba(0, 0, 0, 0.1) !important;
  }
  p {
    margin: auto;
    width: 70%;
    color: $off_white;
  }
  a {
    white-space: nowrap;
    font-weight: bold !important;
    color: $off_white !important;
    &:hover {
      color: $white !important;
    }
    &:visited {
      color: $off_white;
    }
    &:link {
      color: $off_white;
    }
    &:active {
      color: $white !important;
    }
  }
  table {
    margin: auto;
    margin-top: 3rem;
    width: 93%;
    font-size: 1.2rem;
    color: $off_white;
    text-align: left;
    thead {
      border-bottom: 2px solid $off_white;
    }
    tr:not(:last-child) {
      border-bottom: 1px solid $gray;
    }
    td {
      padding-top: 1rem;
      padding-bottom: 1rem;
      white-space: pre-wrap;
      span {
        display: block;
        white-space: nowrap;
      }
    }
  }
  button {
    cursor: pointer;
  }
  .wizard-btn {
    margin: 1rem;
    float: none;
    color: $white;
    margin-top: 7rem;
  }
  .os-download-wizard {
    position: relative;
    margin-top: 2rem;
    .transparent-button {
      margin: 1rem;
      float: none;
      color: $white;
      height: 5rem;
      width: 15rem;
    }
    .back {
      display: block;
      position: absolute;
      top: -1rem;
      float: left;
      height: unset;
      width: unset;
    }
    .start {
      height: unset;
      width: unset;
    }
    p {
      font-size: 1.4rem;
      margin-bottom: 1rem !important;
    }
    .os-download-wizard-note {
      font-size: 1.4rem;
      font-weight: bold;
    }
    .buttons {
      display: flex;
      button {
        width: 75%;
        border-radius: 0;
        padding: 0;
        border: 3px solid $white;
        width: 75%;
        img {
          margin: 0;
          width: 100%;
          margin-top: -1rem;
        }
        &:hover {
          border-color: $off_white;
          .btn-text {
            background: color.adjust($cyan, $lightness: -10%);
          }
        }
      }
    }
    .download-wizard-button {
      .os-wizard-content-button {
        border-radius: 8px;
        .btn-text {
          background: $cyan;
          border-radius: 5px 5px 0 0;
          .btn-title {
            font-family: "Inknut Antiqua";
            font-weight: bold;
            margin-bottom: 0.5rem !important;
            padding-top: 0.75rem;
            font-size: 1.7rem;
          }
          .os-download-wizard-btn-label {
            width: 75%;
            font-size: 1.2rem;
            padding-bottom: 0.5rem;
            line-height: 1.5rem;
          }
        }
        img {
          border-radius: 0 0 5px 5px;
        }
        &.white {
          background: $white !important;
          border-color: $off_white;
          .btn-text {
            background: $off_white;
            .btn-title {
              color: $dark_gray;
            }
          }
          &:hover {
            background: $off_white !important;
            border-color: $white;
            .btn-text {
              background: $white;
            }
          }
        }
        &.black {
          background: $white !important;
          border-color: $dark_gray;
          .btn-text {
            background: $dark_gray;
            .btn-title {
              color: $white;
            }
          }
          &:hover {
            background: $off_white !important;
            border-color: $darker_gray;
            .btn-text {
              background: $darker_gray;
            }
          }
        }
      }
    }
    .download-link {
      display: inline-block;
      a {
        text-transform: none;
      }
    }
    .buttons-with-image {
      display: flex;
      .buttons {
        margin: auto;
        margin-right: 0;
      }
      img {
        margin: auto;
        margin-left: 3rem;
        width: 12rem;
        border-radius: 5px;
        border: 3px solid $lighter_gray;
      }
    }
  }
}

.static-page {
  &.os-download-page {
    .os-download-description {
      width: 80%;
    }
    p {
      font-size: 1.5rem;
      line-height: 2rem;
    }
    h1 {
      margin-top: 0;
      font-family: "Inknut Antiqua" !important;
      font-weight: 600 !important;
    }
  }
}

.featured-sequences-page {
  summary {
    color: $light_gray;
    cursor: pointer;
  }
  .sequence-description {
    margin-left: -1.5rem;
    margin-right: -5rem;
  }
  .markdown {
    p {
      color: $white !important;
    }
  }
  details {
    max-width: calc(min(70vw, 370px));
  }
  summary {
    margin-bottom: 0.5rem;
  }
  h1,
  h2 {
    margin-bottom: 0;
  }
  li,
  p {
    white-space: pre-wrap;
  }
}

.setting {
  position: relative;
  &.section {
    .bp5-collapse {
      padding-top: 1rem;
    }
  }
  &.highlight {
    background-color: $light_yellow;
    box-shadow: 0px 0px 7px 4px $light_yellow;
  }
  &.unhighlight {
    transition: background-color 10s linear, box-shadow 10s linear;
    background-color: transparent;
    box-shadow: none;
  }
  &.advanced {
    border-left: 3px solid $blue;
    padding-left: 0.7rem;
    margin-left: -1rem;
  }
  .fa-anchor {
    position: absolute;
    top: 1.1rem;
    left: -0.8rem;
    color: $gray;
    font-size: 0.8rem;
    visibility: hidden;
    &.hovered {
      visibility: visible;
    }
    &.section {
      position: absolute !important;
      top: 0.1rem;
    }
  }
  .landing-page-setting {
    input {
      margin-top: 1rem;
    }
  }
  .activity-beep-setting {
    margin-left: 0;
    margin-right: 1.5rem !important;
    .bp5-slider {
      width: 0;
      margin-left: 1rem;
    }
  }
}

.beacon-transition {
  transition: border 1s, border-radius 1s, background 1s;
}

.beacon {
  &.hard {
    box-shadow: 0 0 0 4px $yellow !important;
  }
  &.soft {
    background: #ffe53e52 !important;
  }
}

.tour-toast {
  cursor: default !important;
  .toast-title,
  .toast-message {
    color: $white !important;
    i {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
    .extra-content {
      margin-top: 1rem;
    }
  }
  .toast-loader {
    display: flex;
    width: unset;
    height: unset;
    transform: none;
    .previous,
    .next,
    .exit {
      padding: 0.5rem;
      &:hover {
        font-weight: bold;
      }
    }
    .previous,
    .next {
      margin-right: 0.5rem;
      &.disabled {
        pointer-events: none;
        color: $dark_gray;
      }
    }
  }
  .toast-message {
    margin-top: 1.5rem;
  }
  .toast-title,
  .message-contents {
    transition: height 0.4s, opacity 0.2s;
  }
  .message-contents {
    &.height-hidden {
      position: absolute;
      visibility: hidden;
      padding-right: 2rem;
    }
  }
  .progress-indicator {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.5rem;
    background: $white;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 5px;
    transition: width 0.4s 0.2s, border-bottom-right-radius 0.4s 0.2s;
  }
}

.widget-body-tooltips {
  display: flex;
  padding-right: 0.5rem;
  .bp5-popover-wrapper {
    line-height: 3rem;
  }
}

.z-param-label {
  margin-top: 0.2rem;
  padding-right: 0;
  label {
    font-size: 1.2rem !important;
  }
}

.read-only-icon {
  margin: 9px 0px 0px 9px;
  float: right;
  box-sizing: inherit;
  .fa-pencil {
    color: $white;
  }
}
