.hotkey-guide {
  position: relative;
  top: 24vh;
  left: 0;
  right: 0;
  z-index: 99;
  margin: 0 auto;
  width: 32rem;
  outline: none;
  h3 {
    display: block;
    text-align: center;
    margin-bottom: 3rem;
  }
  i {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
  }
}
