.image-flipper {
  position: relative;
  margin-top: 1rem;
}

.image-flipper-image {
  margin: auto;
  max-width: 100%;
  max-height: 650px;
  min-height: 200px;
}

.image-flipper-left {
  position: absolute;
  top: -5px;
  left: -5px;
  bottom: -5px;
  background-color: rgba(0, 0, 0, 0.5);
  &:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.image-flipper-right {
  position: absolute;
  top: -5px;
  bottom: -5px;
  right: -5px;
  background-color: rgba(0, 0, 0, 0.5);
  &:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.is-loaded-false {
  display: none;
}

.is-loaded-true {
  display: block;
}

.no-flipper-image-container {
  img {
    opacity: 0.4;
  }
  p {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    font-size: 1.5rem;
    text-align: center;
    padding: 20% 1rem 0;
    line-height: 2.4rem;
    margin-left: 50px;
    margin-right: 50px;
  }
}

.photos-footer {
  display: flex;
  position: relative;
  bottom: 1rem;
  justify-content: space-between;
  label {
    font-weight: normal;
  }
  span {
    font-weight: bold;
  }
}

.image-metadata {
  display: flex;
  label {
    margin-left: 1rem;
    margin-right: 0.5rem;
  }
}

.image-created-at {
  span {
    white-space: nowrap;
  }
  label {
    margin-right: 0.5rem;
  }
}

.photos{
  .farmware-button{
    position: relative!important;
    bottom: 3rem;
    height: 0px;
    float: right!important;
  }
}

.camera-calibration,
.weed-detector{
  .farmware-button{
    position: relative;
    top: 0rem;
    z-index: 9;
    height: 0px;
    float: right;
  }
}

.farmware-button {
  div {
    float: right;
  }
  p {
    float: right;
    margin-top: 0.75rem;
    margin-right: 1rem;
    color: $medium_gray;
  }
}

.index-indicator {
  position: absolute;
  top: 3rem;
  bottom: 0;
  right: 0;
  background: $white;
  height: 3px;
}
