// Bulk Scheduler
.bulk-scheduler {
  &.page {
    @media screen and (max-width: 768px) {
      display: none;
      margin-bottom: 3rem;
      &.open {
        &.inserting-item {
          display: block;
        }
      }
    }
  }
  label {
    margin-top: 0 !important;
  }
  .week-grid {
    margin-top: 2rem;
  }
  .week-grid-meta-buttons {
    margin-top: 1rem;
    text-align: right;
    button {
      float: none;
      margin-left: 1rem;
      margin-bottom: 1rem;
    }
  }
  @media screen and (max-width: 974px) {
    margin-left: 15px;
    margin-right: 15px;
  }
  .fa-clock-o {
    margin-left: 0.75rem;
    color: $dark_gray;
  }
  input {
    background-color: $white !important;
  }
}

.bulk-scheduler-add {
  margin: 1.5rem;
}

.bulk-scheduler-content {
  margin-top: 1rem;
}

// Regimen Editor
.regimen-day {
  margin: 1.5rem 0;
  margin-right: 10px;
}

.regimen-event {
  position: relative;
  background: $gray;
  border-radius: 3px;
  min-height: 3.5rem;
  margin-bottom: 1rem;
  &.blue {
    .regimen-item-variables {
      background: $panel_light_blue;
    }
  }
  &.green {
    .regimen-item-variables {
      background: $light_green;
    }
  }
  &.yellow {
    .regimen-item-variables {
      background: $light_yellow;
    }
  }
  &.orange {
    .regimen-item-variables {
      background: $light_orange;
    }
  }
  &.purple {
    .regimen-item-variables {
      background: $light_purple;
    }
  }
  &.pink {
    .regimen-item-variables {
      background: $light_pink;
    }
  }
  &.gray {
    .regimen-item-variables {
      background: $light_gray;
    }
  }
  &.red {
    .regimen-item-variables {
      background: $light_red;
    }
  }
}

.regimen-event-titlebar {
  padding: 0.5rem;
  padding-left: 1rem;
}

.regimen-event-title {
  color: $dark_gray;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  .fa-external-link {
    margin-left: 0.5rem;
  }
}

.regimen-event-time {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.regimen-item-variables {
  padding: 1rem;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  .variable-icon {
    margin-right: 1rem;
  }
}

.regimen-event-variable {
  display: block;
  margin-right: 1.5rem;
}

.regimen-control {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.regimen-days-label {
  margin-left: 50%;
  margin-top: 2rem;
}

.open-bulk-scheduler-btn-wrapper {
  margin: auto;
  width: fit-content;
  text-align: center;
  button {
    float: none;
    margin-bottom: 1rem;
  }
  .open-bulk-scheduler-btn {
    display: none;
    @media screen and (max-width: 768px) {
      display: block;
      margin: auto;
      float: none !important;
    }
  }
}

// Regimen List styles in sequences.scss
