*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: $light_gray;
}

*::-webkit-scrollbar-track {
  background-color: $light_gray;
}

*::-webkit-scrollbar-thumb {
  background-color: $medium_gray;
}
