.sequence-editor-panel {
  margin: -3rem -1.5rem -3rem;
  height: calc(100vh - 5rem);
  background: $light_gray;
  @media screen and (max-width: 767px) {
    display: none;
    &.open {
      display: block;
      &.inserting-item,
      &.inserting-step {
        display: none;
      }
    }
  }
  padding: 3rem 1.5rem 8rem;
  overflow: hidden;
  .bp3-popover-target .saucer {
    float: left;
  }
  @media screen and (max-width: 767px) {
    h3,
    p {
      margin-left: 15px;
      margin-right: 15px;
    }
    h3 {
      max-width: 60%;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 2.5rem;
      padding-left: 0 !important;
    }
    .button-group {
      margin-right: 15px;
      margin-top: -1rem;
    }
    .title-help-text {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .sequence-editor-content {
    margin-right: -15px;
  }
  .copy-item {
    &:hover {
      background: $lighter_gray !important;
    }
  }
  .sequence-section-header {
    &:hover {
      background: $lighter_gray !important;
    }
  }
}

.sequence-editor-content,
.regimen-editor-content {
  margin-right: -10px;
  margin-left: -10px;
  .regimen {
    padding-left: 1rem;
  }
  .sequence {
    margin-bottom: 1rem;
  }
  @media screen and (max-width: 767px) {
    margin-left: 5px;
    margin-right: 0;
    padding-right: 2rem;
    .regimen {
      padding-left: 0;
    }
  }
}

.regimen-editor-content {
  @media screen and (max-width: 767px) {
    padding-right: 0;
  }
}

.sequence-editor-content {
  hr {
    margin-right: 15px;
    margin-bottom: 0;
    margin-top: 0.5rem;
    margin-left: 15px;
  }
  .import-banners {
    margin-bottom: 1rem;
  }
  .public-copy-toolbar {
    margin: 1rem;
    text-align: right;
    p {
      float: left;
      max-width: 50%;
      line-height: 2rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    a {
      vertical-align: middle;
      margin-left: 1rem;
    }
    button {
      float: none;
      vertical-align: top;
    }
    .fa-code {
      float: none;
      margin-right: 1rem;
    }
  }
  .upgrade-compare-banner {
    display: flex;
    margin-left: -15px;
    box-shadow: 0 5px 10px -5px $translucent;
    .copy-item {
      width: 100%;
      height: 3.5rem;
      padding: 0.75rem;
      text-align: center;
      cursor: pointer;
      &:hover {
        background: $light_gray;
      }
      label {
        cursor: pointer;
      }
      .bp3-popover-wrapper {
        display: inline;
      }
      p {
        display: inline-block;
        width: max-content;
        height: 2rem;
        margin-left: 0.5rem;
        padding: 5px;
        padding-top: 3px;
        border-radius: 3px;
        color: $white;
        background: $panel_blue;
        font-weight: bold;
        font-size: 1rem;
        i {
          margin-left: 0.5rem;
        }
      }
      .filter-search {
        display: inline-block;
        button {
          min-height: 0;
          height: 2rem !important;
          margin-left: 0.5rem;
          background: $panel_blue !important;
          border-radius: 3px;
          color: $white !important;
          font-weight: bold;
          font-size: 1rem !important;
        }
        .fa-caret-down {
          color: $white;
        }
      }
      &.selected {
        border-bottom: 3px solid $dark_gray;
      }
    }
  }
  .padding {
    height: 12rem;
  }
}

.sequence-editor-sections {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100vh - 17.5rem);
  pre {
    margin-top: 2rem;
  }
  .sequence {
    pre {
      margin-top: 0;
    }
  }
  .sequence-section-header {
    line-height: 3rem;
    cursor: pointer;
    padding-left: 1.5rem;
    &:hover {
      background: $off_white;
    }
    label {
      cursor: pointer;
    }
    .fa-caret-up,
    .fa-caret-down {
      float: right;
      line-height: 3rem;
      font-size: 2rem;
      margin-right: 2rem;
      margin-top: 0.5rem;
      color: $dark_gray;
    }
  }
  .sequence-description {
    position: relative;
    width: 100%;
    padding-right: 2rem;
    textarea {
      margin-left: 2rem;
      height: 100%;
      box-shadow: 0px 0px 10px $gray;
      padding-bottom: 2rem;
    }
    .markdown {
      display: block;
      min-height: 10rem;
      max-height: 20rem;
      overflow-y: auto;
      border: 2px solid $gray;
      padding: 0.5rem;
      margin-left: 1.5rem;
      margin-right: -1.5rem;
      p {
        display: revert;
        margin: revert;
        color: $dark_gray;
        overflow: revert;
        white-space: revert;
        text-transform: revert;
      }
      ul {
        list-style-type: revert !important;
        padding: revert;
        font-size: 1.1rem;
      }
      :first-child {
        margin-top: 0;
      }
    }
    .description-editor-tools {
      position: absolute;
      bottom: 0;
      right: 2rem;
      .fa-pencil {
        margin-bottom: 1rem;
      }
      .char-limit {
        font-size: 1rem;
        line-height: 1.75rem;
        margin-left: 1rem;
        color: $medium_gray;
        &.over {
          color: $darkest_red;
        }
      }
    }
  }
}

.preview-description {
  .sequence-description {
    .markdown {
      border: none;
    }
  }
}

.sequence-editor-tools,
.regimen-editor-tools {
  margin-right: 15px;
  @media screen and (max-width: 767px) {
    margin-right: 10px;
  }
  .fa-thumb-tack {
    color: $placeholder_gray;
    line-height: 2rem;
    transform: rotate(45deg);
    &.pinned {
      transform: rotate(0deg);
      color: $dark_gray;
    }
  }
  hr {
    margin: 0.5rem 0;
  }
  input {
    margin-top: 1rem;
  }
  &.preview {
    .filter-search,
    .input,
    input {
      pointer-events: none;
    }
  }
}

.regimen-editor-tools {
  .button-group {
    margin-bottom: 1rem;
  }
}

.locals-list {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  >.location-form {
    margin: 1rem;
    width: 100%;
    height: 100%;
    min-width: 30rem;
    max-width: 30rem;
    background: $off_white;
    border-radius: 3px;
    box-shadow: 0px 0px 10px #ccc;
    label {
      margin-top: 0;
    }
    >.location-form-header {
      width: 100%;
      height: 3.5rem;
      background: darken($off_white, 5%);
      padding: 1rem;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      label,
      input {
        vertical-align: top;
        max-width: 80%;
      }
      label {
        width: 100%;
        font-size: 1.2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: text;
        text-transform: none;
        white-space: nowrap;
      }
      input {
        height: 1.5rem;
        font-weight: bold;
        padding-left: 0;
      }
      .fa-trash {
        float: right;
        margin-left: 1rem;
        margin-right: 0;
        color: $darkest_red;
      }
      .fa-caret-down,
      .fa-caret-up {
        float: right;
        font-size: 2rem;
        color: $dark_gray;
        margin-top: -0.25rem;
        margin-left: 1rem;
      }
      .bp3-popover-wrapper {
        display: inline;
        margin-left: 1rem;
        font-size: 1.2rem;
      }
    }
    >.location-form-content {
      padding: 1rem;
    }
  }
  .add-variable {
    margin: 1rem;
    cursor: pointer;
    width: 100%;
    min-width: 30rem;
    max-width: 30rem;
    padding: 1rem;
    background: $off_white;
    transition: 0.2s ease;
    p {
      transition: 0.2s ease;
    }
    &:hover {
      background: darken($off_white, 5%);
      p {
        color: $placeholder_gray;
      }
      border-color: $medium_light_gray;
    }
    text-align: left;
    p {
      margin: auto;
      padding: 1rem;
      font-size: 1.2rem;
      color: $gray;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

.regimen {
  width: 100%;
  height: calc(100vh - 25rem);
  overflow-y: auto;
  overflow-x: hidden;
}

.license {
  p {
    padding-bottom: 1rem;
    line-height: 1.5rem;
    margin-right: 1rem;
    margin-left: 1.5rem;
  }
}

.sequence-steps {
  margin-right: 30px;
  margin-left: 10px;
  margin-top: 10px;
  .sequence-step {
    &.hovered {
      box-shadow: 0px 0px 15px #ff7700;
    }
    &.read-only {
      margin-top: 1rem;
      margin-bottom: 1rem;
      .bp3-control,
      .filter-search,
      textarea,
      .input,
      input {
        pointer-events: none;
      }
    }
  }
}

.step-button-cluster {
  margin-right: -15px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100vh - 16rem);
  .step-button {
    .step-block-wrapper {
      margin-bottom: 1rem;
      label {
        cursor: pointer;
      }
    }
  }
}

.step-button-cluster-panel {
  @media screen and (max-width: 767px) {
    display: none;
    &.inserting-step {
      display: block;
    }
    margin-left: 15px;
    margin-right: 15px;
  }
}

.step-button-cluster {
  @media screen and (max-width: 767px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.farmware-list-items,
.sequence-list-item {
  button {
    text-align: left;
    label {
      width: 90%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-top: 0.5rem;
      float: left;
      cursor: pointer;
    }
  }
  i {
    float: right;
    margin-top: 0.75rem;
  }
}

.folders-panel {
  margin-left: -30px;
  margin-right: -20px;
  @media screen and (max-width: 767px) {
    margin-left: -15px;
  }
  .non-empty-state {
    max-height: calc(100vh - 19rem);
    overflow-y: auto;
    overflow-x: hidden;
  }
  .panel-top {
    margin-left: 1rem !important;
    button {
      margin-top: 0.7rem !important;
    }
  }
  .panel-top,
  .folder-button-cluster {
    i {
      font-size: 1.5rem;
    }
    .fa-stack {
      font-size: 1rem;
      transform: scale(0.8);
    }
    .fa-stack-2x {
      font-size: 2rem;
    }
    .fa-stack-1x {
      font-size: 1.5rem;
      line-height: 1.5rem;
      margin-left: 0.75rem;
      filter: drop-shadow(0 0 0.2rem  $dark_green);
      text-align: center;
    }
  }
  .folder-button-cluster {
    display: flex;
    i {
      width: 1.5rem !important;
      line-height: 2rem !important;
    }
  }
  ul {
    margin-bottom: 0;
  }
  .folder-drop-area {
    height: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: height 0.5s ease-out,
    padding-top 0.5s ease-out,
    padding-bottom 0.5s ease-out;
    transition-delay: 0.4s;
    color: $gray;
    font-weight: bold;
    background: $white;
    text-align: center;
    cursor: pointer;
    &.visible {
      transition: height 0.3s ease-in,
      padding-top 0.3s ease-in,
      padding-bottom 0.3s ease-in;
      transition-delay: 0.2s;
      height: 3rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
    &:hover, &.hovered {
      color: $medium_gray;
    }
  }
  .folders {
    .folder > div:not(:first-child), ul {
      margin-left: 1rem;
    }
  }
  .folder-list-item,
  .sequence-list-item {
    display: flex;
    position: relative;
    width: 100%;
    height: 3.5rem;
    border-bottom: 1px solid $light_gray;
    cursor: pointer;
    background: $lighter_gray;
    border-left: 4px solid transparent;
    &.active {
      border-left: 4px solid $dark_gray;
      p {
        font-weight: bold;
      }
    }
    .fa-chevron-down, .fa-chevron-right {
      position: absolute;
      z-index: 2;
      width: 3rem;
      font-size: 1.1rem;
    }
    .folder-settings-icon,
    .fa-arrows-v {
      position: absolute;
      right: 0;
    }
    .fa-arrows-v, .fa-ellipsis-v {
      display: none;
    }
    .fa-ellipsis-v {
      &.open {
        display: block;
      }
    }
    @media screen and (max-width: 450px) {
      .fa-arrows-v, .fa-ellipsis-v {
        display: block;
        margin-right: 0.5rem;
      }
    }
    &:hover {
      .fa-arrows-v, .fa-ellipsis-v {
        display: block;
      }
    }
    i {
      margin: 0;
      line-height: 3.5rem;
      width: 3rem;
      text-align: center;
    }
    .saucer, .icon-saucer {
      position: absolute;
      margin: 0.5rem;
      width: 1.2rem;
      height: 1.2rem;
    }
    a {
      width: 100%;
    }
    p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 1.2rem;
      font-weight: normal;
      width: 72%;
      padding: 0.5rem;
      padding-left: 0;
      margin-left: 3rem;
      line-height: 2.5rem;
    }
    .folder-name {
      width: 100%;
      margin-right: 3rem;
      margin-left: 6rem;
      p {
        margin-left: 0;
      }
      .folder-name-input {
        display: flex;
        button {
          top: 0.5rem;
          width: auto;
          height: 2rem;
          i {
            line-height: 0;
            width: 1rem;
          }
        }
        .input {
          margin: 0.3rem;
          width: 90%;
        }
      }
    }
    .sequence-list-item-icons {
      display: flex;
      position: absolute;
      right: 0;
      .fa-exclamation-triangle {
        color: $orange;
      }
      .fa-hdd-o,
      .fa-exclamation-triangle,
      .fa-thumb-tack,
      .fa-chain-broken,
      .fa-link,
      .fa-globe {
        width: 1.75rem;
      }
      .icon-spacer {
        margin-right: 3rem;
      }
    }
    button {
      margin-left: 0.5rem;
    }
    &.move-source {
      border: 1px solid $dark_gray;
    }
    &.move-target {
      background: $white;
    }
  }
  .folder-list-item,
  .sequence-list-item {
    .bp3-popover-wrapper.color-picker {
      position: absolute;
      line-height: 0;
      .bp3-popover-target {
        width: 2rem;
        height: 3.5rem;
      }
    }
    padding-left: 3rem;
    .saucer, .icon-saucer {
      position: relative;
      top: 0.55rem;
      margin: auto;
      margin-top: 0.6rem;
    }
  }
  .folder-list-item {
    padding-left: 0;
    .bp3-popover-wrapper.color-picker {
      margin-left: 3rem;
    }
    .color-picker {
      .icon-saucer {
        top: 0;
        margin-top: 0;
        margin-left: 0.4rem;
      }
    }
  }
}

.sequence-list-panel {
  padding-top: 0.4rem;
  margin-right: 5px;
  @media screen and (max-width: 1075px) {
    margin-left: 15px;
  }
  .empty-state {
    display: none;
    .empty-state-graphic {
      margin-top: 25%;
    }
  }
  @media screen and (max-width: 767px) {
    &.open {
      display: none;
    }
    margin-left: 15px;
    margin-right: 15px;
    .empty-state {
      display: block;
    }
  }
  .panel-top {
    margin: 0;
    .text-input-wrapper {
      margin: 0.1rem;
      margin-right: 1rem;
    }
  }
}

.designer-regimen-list-panel {
  label {
    margin-top: 0 !important;
  }
  .add-regimen {
    height: 2rem;
  }
  .panel-content {
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: -15px;
    padding: 0;
  }
}

.farmware-list-items {
  margin-left: -15px;
}

.back-to-sequences {
  display: none;
  &.open {
    @media screen and (max-width: 767px) {
      display: block;
      margin-top: -2rem;
      float: left !important;
      height: 6rem;
      width: 4rem;
      font-size: 2rem;
      text-align: center;
      line-height: 6rem;
      margin-left: 15px;
      &.inserting-step,
      &.inserting-item {
        margin-left: 0;
      }
    }
  }
}

.drag-drop-area {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.add-command-button-container {
  display: none;
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 0;
  &.first,
  &.middle,
  &.last {
    .add-command {
      width: 20px;
      height: 20px;
      padding: 0.25rem;
      border-radius: 2rem;
      box-shadow: none !important;
      background: $dark_gray !important;
      i {
        font-size: 1.2rem;
        padding-top: 1px;

      }
    }
  }
  &.middle {
    .add-command {
      transform: rotate(-45deg);
      margin-top: -1.5rem;
      margin-right: 1.5rem;
      border-top-left-radius: 0;
      i {
        transform: rotate(45deg);
      }
    }
  }
  &.first {
    .add-command {
      margin-top: -0.25rem;
      margin-right: 1.5rem;
      border-top-left-radius: 0;
    }
  }
  &.last {
    .add-command {
      margin-top: -1.75rem;
      border-radius: 2rem;
      margin-right: 0.5rem;
      border-bottom-left-radius: 0;
    }
  }
  &.only {
    position: relative;
    margin: auto;
    text-align: center;
    height: 3rem;
    .add-command {
      float: none;
    }
  }
  @media screen and (max-width: 767px) {
    display: block;
    .add-command {
      display: block;
    }
  }
}

.imported-banner,
.import-banner {
  margin: 0 -15px 0 -15px;
  padding: 1rem 1.5rem 1rem 2rem;
  background: transparentize($orange, 0.4);
  button {
    margin-right: 1rem;
  }
  label {
    display: inline-block;
  }
  .bp3-popover-wrapper {
    display: inline-block;
    margin-left: 1rem;
  }
}

.import-banner {
  margin-bottom: 1rem;
}

.imported-banner {
  background: transparentize($blue, 0.4);
}

.transparent-button {
  text-transform: uppercase;
  font-size: 1rem;
  border: 1px solid;
  padding: 0.4rem 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 4px;
  color: $dark_gray;
  background: none;
  float: right;
  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}
