.static-page {
  min-height: 100vh;
  max-height: 100%;
  background: url(/public/app-resources/img/plant-icon-background.png), linear-gradient(#00b685, #003f53);
  padding: 8rem 2rem;
  h1,
  h2 {
    font-family: "Cabin", Arial, Helvetica, sans-serif !important;
    font-weight: 100 !important;
    color: $white;
    text-shadow: 0 0 25px rgba(0, 0, 0, 0.1), 0 0 25px rgba(0, 0, 0, 0.1);
  }
  h1 {
    font-family: "Inknut Antiqua" !important;
    font-weight: bold !important;
    font-size: 3.4rem;
    line-height: 3.6rem;
  }
  h2 {
    margin: 0;
    font-size: 2.2rem;
  }
  form {
    display: grid;
    gap: 1rem;
  }
  input {
    font-family: revert;
    font-size: revert;
  }
  .all-content-wrapper {
    max-width: 50rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .widget-wrapper {
    text-align: start;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 40rem;
    max-width: 40rem;
    margin: 0 auto;
  }
  .or-divider {
    text-align: center;
    color: $white;
    width: 10rem;
    display: flex;
    gap: 1rem;
    justify-self: center;
    font-style: italic;
    hr {
      width: 100%;
      border: 1.5px solid rgb(255 255 255 / 50%)
    }
  }
  .front-page-container {
    display: grid;
    grid-auto-flow: row;
    gap: 3rem;
    justify-items: stretch;
  }
  .forgot-password-login-row {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
    align-items: center;
  }
  .forgot-password {
    display: inline-block;
    color: $blue;
  }
  .create-account-button, .reset-password-button {
    justify-self: right;
  }
  .tos {
    margin-bottom: 1.5rem;
  }
  input[type="checkbox"] {
    float: left;
    margin-right: 0.5rem;
    margin-top: 0.25rem;
  }
  a:link {
    font-weight: 300;
    color: $dark_gray;
  }
  a:visited {
    color: $medium_gray;
  }
  a:hover {
    font-weight: 500;
  }
  a:active {
    color: $medium_gray;
    font-weight: 500;
  }
  .fa-gear {
    float: right;
  }
  .fa-external-link {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
  }
}
