// Styles for ALL STEPS
.step-wrapper {
  box-shadow: 0px 0px 10px $gray;
  border-radius: 3px;
  .bottom-content {
    display: flex;
    fieldset {
      text-align: right;
    }
    .channel-options {
      flex: 1;
      margin-top: 2rem;
    }
    .channel-fields {
      flex: 1;
      input,
      label {
        display: inline-block;
        width: auto;
        cursor: pointer;
      }
      input {
        margin-left: 1rem;
        box-shadow: none;
      }
      input[type="radio"] {
        margin-right: 0.25rem;
        margin-bottom: 0.25rem;
        margin-top: 0;
        vertical-align: middle;
      }
      form {
        padding-top: 0.5rem;
        .options {
          display: inline;
          label {
            margin-left: 0.25rem;
          }
        }
      }
    }
  }
  pre {
    border: none;
    border-radius: 0;
  }
}

.step-header {
  letter-spacing: .05rem;
  padding: .75rem 1rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  .bp3-popover-wrapper {
    float: right;
    margin-top: 0.1rem;
  }
  ::-webkit-input-placeholder {
    color: $dark_gray;
    font-weight: bold;
    text-transform: uppercase;
  }
  ::-moz-placeholder {
    color: $dark_gray;
    font-weight: bold;
    text-transform: uppercase;
  }
  :-ms-input-placeholder {
    color: $dark_gray;
    font-weight: bold;
    text-transform: uppercase;
  }
  .step-comment {
    display: inline;
  }
  input {
    width: auto;
    padding: 0rem;
    background-color: transparent;
    box-shadow: none;
    color: $dark_gray;
    font-weight: bold;
    min-width: 130px;
  }
  p {
    font-size: 1rem;
    font-style: italic;
  }
  &.computed-move-step {
    background: $blue;
  }
  &.move-absolute-step {
    background: $blue;
  }
  &.move-relative-step {
    background: $green;
  }
  &.write-pin-step {
    background: $orange;
  }
  &.read-pin-step {
    background: $yellow;
  }
  &.wait-step {
    background: $brown;
  }
  &.send-message-step {
    background: $brown;
  }
  &.find-home-step {
    background: $blue;
  }
  &.if-step {
    background: $purple;
  }
  &.assertion-step {
    background: $purple;
  }
  &.execute-step {
    background: $gray;
  }
  &.execute-script-step {
    background: $pink;
  }
  &.take-photo-step {
    background: $brown;
  }
  &.update-resource-step {
    background: $brown;
  }
  &.set-servo-angle-step {
    background: $blue;
  }
  &.toggle-pin-step {
    background: $orange;
  }
  &.set-zero-step {
    background: $blue;
  }
  &.calibrate-step {
    background: $blue;
  }
  &.move-home-step {
    background: $blue;
  }
  &.firmware-action-step {
    background: $brown;
  }
  &.system-action-step {
    background: $brown;
  }
  &.emergency-stop-step {
    background: $red;
  }
  &.reboot-step {
    background: $brown;
  }
  &.shutdown-step {
    background: $brown;
  }
  &.unknown-step {
    background: $gray;
  }
  .help {
    float: right;
  }
  .step-warning {
    display: inline-block;
    float: none;
    .bp3-popover-wrapper {
      float: left;
    }
  }
  .input {
    display: inline-block;
  }
}

.step-up-down-arrows {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
}

.step-control {
  margin-top: 0.3rem;
  margin-left: 2rem;
  float: right;
}

.step-content {
  border-color: $light_gray;
  color: $dark_gray;
  padding: 1.25rem 1.25rem;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  &.computed-move-step {
    background: $light_blue;
  }
  &.move-absolute-step {
    background: $light_blue;
  }
  &.move-relative-step {
    background: $light_green;
  }
  &.write-pin-step {
    background: $light_orange;
  }
  &.read-pin-step {
    background: $light_yellow;
  }
  &.wait-step {
    background: $light_brown;
  }
  &.send-message-step {
    background: $light_brown;
  }
  &.find-home-step {
    background: $light_blue;
  }
  &.if-step {
    background: $light_purple;
    input {
      height: 3rem;
    }
    .execute-row {
      margin-top: 1rem;
    }
  }
  &.assertion-step {
    background: $light_purple;
    textarea {
      margin-bottom: 1rem;
    }
  }
  &.execute-step {
    background: $light_gray;
    padding-bottom: 1rem;
    &.step-content {
      .row {
        margin: 0;
      }
    }
  }
  &.execute-script-step {
    background: $light_magenta;
    padding-bottom: 1rem;
  }
  &.execute-script-step a {
    color: $magenta;
    text-decoration: none !important;
  }
  &.take-photo-step {
    background: $light_brown;
  }
  &.take-photo-step a {
    color: $dark_brown;
    text-decoration: none !important;
  }
  &.update-resource-step {
    background: $light_brown;
  }
  &.set-servo-angle-step {
    background: $light_blue;
  }
  &.toggle-pin-step {
    background: $light_orange;
  }
  &.set-zero-step {
    background: $light_blue;
  }
  &.calibrate-step {
    background: $light_blue;
  }
  &.move-home-step {
    background: $light_blue;
  }
  &.firmware-action-step {
    background: $light_brown;
  }
  &.system-action-step {
    background: $light_brown;
  }
  &.emergency-stop-step {
    background: $light_red;
  }
  &.shutdown-step {
    background: $light_brown;
  }
  &.reboot-step {
    background: $light_brown;
  }
  &.unknown-step {
    background: $light_gray;
  }
  input,
  select {
    width: 100%;
  }
  .expandable-header {
    font-size: 1.6rem;
  }
  .bp3-collapse {
    overflow: hidden;
  }
  p {
    font-size: 1.3rem;
  }
}
