// MOVE AMOUNT (mm) selector
.text-center {
  text-align: center;
  width: 100%;
}

.move-amount-wrapper {
  box-shadow: 0px 0px 10px $light_gray;
  height: 2.5rem;
  border-radius: 7px;
}

.move-amount {
  margin: 0;
  background-color: $white;
  border-right: 2px solid $off-white;
  color: $medium_gray;
  font-weight: bold;
  height: 2.5rem;
  padding-top: auto;
  padding-bottom: auto;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  width: 20%;
  float: left;
  &:hover {
    background-color: darken($white, 40%);
    color: $off_white;
  }
  &:nth-child(n+2) {
    border-left: 0;
  }
  &.leftmost {
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
  }
  &.rightmost {
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    border-right: 0px none;
  }
  &.move-amount-selected {
    background-color: $medium_gray !important;
    color: $off_white;
  }
}

.no-radius {
  border-radius: 0;
}

// JOG CONTROLS
.jog-table {
  margin: auto;
  margin-top: 15px;
  width: auto;
  border: 0;
  .bp4-popover-wrapper {
    line-height: 0;
  }
  .fa-camera {
    .bp4-popover-wrapper {
      z-index: 1;
      width: 4rem;
      height: 4rem;
      margin-top: -3rem;
      margin-left: -1rem;
      .bp4-popover-target {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.in-progress {
  background: $gray !important;
  border-bottom-color: $medium_gray !important;
}

.progress-percent {
  width: 3rem;
  height: 3rem;
  margin-top: -0.75rem;
  margin-left: -0.75rem;
  border-radius: 50%;
  padding: 0.25rem;
  p {
    display: inline-block;
    position: relative !important;
    margin: auto !important;
    color: $dark_gray !important;
    background: $gray;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    font-size: 0.7rem;
    font-weight: bold;
    line-height: 2.25rem;
    vertical-align: middle;
  }
}

.power-btn-popover {
  label {
    color: $off_white;
  }
  .bp4-popover-wrapper {
    display: inline;
    margin-left: 0.5rem;
    color: $off_white;
  }
  .bp4-popover-content {
    width: 310px;
    background: $dark_gray;
  }
  .bp4-popover-arrow-fill {
    fill: $dark_gray;
  }
  .fa-anchor {
    display: none;
  }
}

.arrow-button {
  position: relative;
  margin: 0;
  background-color: $medium_gray;
  border-bottom: 2px solid $dark_gray;
  color: $off_white;
  font-size: 16px !important;
  height: 40px;
  padding: 12px;
  text-align: center;
  width: 40px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 7px 0px;
  &:hover {
    background-color: darken($medium_gray, 5%);
  }
  &:disabled {
    border-bottom: none;
    box-shadow: none !important;
  }
  p {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    color: $white;
    margin-top: -2px;
    padding-left: 1px;
    font-size: 0.9rem;
  }
  &:before {
    position: relative;
    z-index: 1;
  }
}

.movement-progress {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background: $medium_gray;
}

.camera-message,
.movement-message {
  .bp4-popover-content {
    width: unset !important;
  }
}

.home-button {
  i {
    margin-top: -1rem;
    font-size: 2rem;
  }
  .fa-stack {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0.5rem;
    padding: 0.5rem;
    .fa-stack-1x {
      top: -1rem;
      left: -1rem;
      margin-top: 0;
      font-size: 1rem;
    }
    .fa-stack-2x {
      margin-top: 0;
      font-size: 2rem;
    }
  }
}

// ABSOLUTE MOVES
input {
  &.move-input {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
}
