@use "../variables" as *;
@use "sass:color";

// Bulk Scheduler
.bulk-scheduler {
  .regimen-days-label {
    text-align: center;
  }
  .week-grid-meta-buttons {
    text-align: right;
    justify-content: end;
  }
  @media screen and (max-width: 974px) {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.bulk-scheduler-add {
  margin: 1.5rem !important;
}

.schedule-regimen-item {
  justify-self: center;
}

.regimen-event {
  background: $gray;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0 1rem $translucent2;
  color: $dark_gray;
}

.regimen-event-titlebar {
  padding: 0.5rem 0.75rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.regimen-item-variables {
  background: $translucent8_white;
  padding: 1rem;
}

.regimen-event-variable {
  align-items: baseline;
  i {
    cursor: default !important;
  }
}

.designer-regimen-editor-panel-content {
  padding: 0;
}

.regimen-editor-content {
  padding: 0 1rem 1rem;
  .location-form-content {
    .row {
      white-space: nowrap;
      .trash {
        display: inline;
        float: none;
      }
    }
  }
  .sequence-section-header {
    &:hover {
      background: $translucent!important;
    }
  }
}

.designer-regimen-editor-panel {
  .panel-header {
    color: $dark_gray;
  }
  .panel-content {
    scrollbar-width: none;
    label {
      margin-top: 0;
    }
  }
}
