.small-12.columns
  .small-12.columns.purple-block.block
    .row.purple-header
      .small-12.columns
        %nav.row.top-bar.purple-header
          %ul.title-area
            %li.name
              %h5 IF STATMENT
          = render partial: "dashboard/ng-partials/sequence-builder/step_ui/step_titlebar_button_group"
    .row.content-area.purple-content
      .large-12.columns
        .row.collapse.prefix-radius
          .small-3.columns
            %span.prefix IF
          .small-3.columns
            %select{ng_options: "obj for obj in variables", ng_model: "step.command.variable"}
          .small-3.columns
            %select{ng_options: "obj for obj in operators", ng_model: "step.command.operator"}
          .small-3.columns
            %input{:placeholder => "off", :type => "text", ng_model: "step.command.value"}
    .row.content-area.purple-content
      .large-12.columns
        .row.collapse.prefix-radius
          .small-3.columns
            %span.prefix EXECUTE
          .small-9.columns
            %select{ng_options: "obj._id as obj.name for obj in storedSequences", ng_model: "step.command.sub_sequence_id"}
        %p <strong>PROTIP:</strong> Create a `Schedule` for endless execution. Sequences don't support endless looping.
