.small-12.columns
  .small-12.columns.purple-block.block
    .row.purple-header
      .small-12.columns
        %nav.row.top-bar.purple-header
          %ul.title-area
            %li.name
              %h5 IF STATMENT
          = render partial: "dashboard/ng-partials/sequence-builder/step_ui/step_titlebar_button_group"
    .row.content-area.purple-content
      .large-12.columns
        .row.collapse.prefix-radius
          .small-3.columns
            %span.prefix IF
          .small-3.columns
            %select
              %option{value: 'x'} x
              %option{value: 'y'} y
              %option{value: 'z'} z
              %option{value: 's'} s
              %option{value: 'busy'} busy
              %option{value: 'last'} last
              %option{value: 'pin0'} pin0
              %option{value: 'pin1'} pin1
              %option{value: 'pin2'} pin2
              %option{value: 'pin3'} pin3
              %option{value: 'pin4'} pin4
              %option{value: 'pin5'} pin5
              %option{value: 'pin6'} pin6
              %option{value: 'pin7'} pin7
              %option{value: 'pin8'} pin8
              %option{value: 'pin9'} pin9
              %option{value: 'pin10'} pin10
              %option{value: 'pin11'} pin11
              %option{value: 'pin12'} pin12
              %option{value: 'pin13'} pin13
          .small-3.columns
            %select
              %option{value: '>'} >
              %option{value: '<'} <
              %option{value: '=='} =
              %option{value: '!='} !=
          .small-3.columns
            %input{:placeholder => "off", :type => "text", ng_model: "step.command.value"}
    .row.content-area.purple-content
      .large-12.columns
        .row.collapse.prefix-radius
          .small-3.columns
            %span.prefix EXECUTE
          .small-9.columns
            %select
              %option{value: 'x'} Sequence 1
              %option{value: 'y'} Sequence 2
        %br
