.col-sm-12
  .col-sm-12.purple-block.block
    .row.purple-header
      .col-sm-12
        %nav.row.top-bar.purple-header
          %ul.title-area
            %li.name
              %h5 IF STATMENT
          = render partial: "dashboard/ng-partials/sequence-builder/step_ui/step_titlebar_button_group"
    .row.content-area.purple-content
      .col-md-12
        .row.collapse.prefix-radius
          .col-sm-3
            %span.prefix IF
          .col-sm-3
            %select{ng_options: "obj for obj in variables", ng_model: "step.command.variable"}
          .col-sm-3
            %select{ng_options: "obj for obj in operators", ng_model: "step.command.operator"}
          .col-sm-3
            %input{:placeholder => "off", :type => "text", ng_model: "step.command.value"}
    .row.content-area.purple-content
      .col-md-12
        .row.collapse.prefix-radius
          .col-sm-3
            %span.prefix EXECUTE
          .col-sm-9
            %select{ng_options: "obj._id as obj.name for obj in storedSequences", ng_model: "step.command.sub_sequence_id"}
        %p <strong>PROTIP:</strong> Create a `Schedule` for endless execution. Sequences don't support endless looping.
