<div class="small-12 columns block">
  <div class="small-12 columns blue-block">
    <div class="row" as-sortable-item-handle data-topbar>
      <div class="small-12 columns">
        <nav class="row top-bar blue-header"="navigation">
          <ul class="title-area">
            <li class="name">
              <h5>MOVE ABSOLUTE</h5>
            </li>
          </ul>
          <%= render partial: "dashboard/ng-partials/sequence-builder/step_ui/step_titlebar_button_group" %>
        </nav>
      </div>
    </div>
    <div class="row content-area blue-content">
      <div class="large-8 columns">
        <div class="row collapse prefix-radius">
          <div class="small-2 columns">
            <span class="prefix uppercase">x</span>
          </div>
          <div class="small-8 columns">
            <input type="text" placeholder="Inherit Plant-ID_X">
          </div>
          <div class="small-2 columns">
            <button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="tiny button postfix dropdown light-gray"></button>
              <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
                <li><a href="#">This is a link</a></li>
                <li><a href="#">This is another</a></li>
                <li><a href="#">Yet another</a></li>
              </ul>
          </div>
        </div>
        <div class="row collapse prefix-radius">
          <div class="small-2 columns">
            <span class="prefix uppercase">y</span>
          </div>
          <div class="small-8 columns">
            <input type="text" placeholder="Inherit Plant-ID_Y">
          </div>
          <div class="small-2 columns">
            <button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="tiny button postfix dropdown light-gray"></button>
              <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
                <li><a href="#">This is a link</a></li>
                <li><a href="#">This is another</a></li>
                <li><a href="#">Yet another</a></li>
              </ul>
          </div>
        </div>
        <div class="row collapse prefix-radius">
          <div class="small-2 columns">
            <span class="prefix uppercase">z</span>
          </div>
          <div class="small-8 columns">
            <input type="text" placeholder="Inherit Plant-ID Plant-Height">
          </div>
          <div class="small-2 columns">
            <button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="tiny button postfix dropdown light-gray"></button>
              <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
                <li><a href="#">This is a link</a></li>
                <li><a href="#">This is another</a></li>
                <li><a href="#">Yet another</a></li>
              </ul>
          </div>
        </div>
        <div class="row collapse prefix-radius">
          <div class="small-3 columns">
            <span class="prefix uppercase">speed</span>
          </div>
          <div class="small-7 columns">
            <input type="text" placeholder="Default">
          </div>
          <div class="small-2 columns">
            <button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="tiny button postfix dropdown light-gray"></button>
              <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
                <li><a href="#">This is a link</a></li>
                <li><a href="#">This is another</a></li>
                <li><a href="#">Yet another</a></li>
              </ul>
          </div>
        </div>
      </div>
      <div class="large-4 columns">
        <div class="row collapse prefix-radius">
          <div class="small-6 columns">
            <span class="prefix uppercase">x-offset</span>
          </div>
          <div class="small-6 columns">
            <input type="text" placeholder="-100 mm">
          </div>
        </div>
        <div class="row collapse prefix-radius">
          <div class="small-6 columns">
            <span class="prefix uppercase">y-offset</span>
          </div>
          <div class="small-6 columns">
            <input type="text" placeholder="0 mm">
          </div>
        </div>
        <div class="row collapse prefix-radius">
          <div class="small-6 columns">
            <span class="prefix uppercase">z-offset</span>
          </div>
          <div class="small-6 columns">
            <input type="text" placeholder="+20 mm">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
