  <div class="small-12 columns">
    <div class="row">
      <div class="small-12 columns">
        <nav class="top-bar green" data-topbar role="navigation">
          <ul class="title-area">
            <li class="name">
              <h1><a href="#">MOVE RELATIVE</a></h1>
            </li>
          </ul>
          <div class="icon-group">
            <a href="#"><i class="fa fa-angle-up"></i></a>&nbsp;
            <i class="fa fa-trash" ng-click="remove($index)"></i>&nbsp;
            <i class="fa fa-clipboard" ng-click="copy(cmd, $index)"></i></a>&nbsp;
            <i class="fa fa-bars" as-sortable-item-handle></i>
          </div>

        </nav>
      </div>
    </div>
    <div class="row">
    <div class="large-2 columns">
        <div class="row collapse prefix-radius">
          <div class="small-3 columns">
            <span class="prefix">X</span>
          </div>
          <div class="small-9 columns">
            <input type="text" placeholder="25 mm">
          </div>
        </div>
    </div>
    <div class="large-2 columns">
        <div class="row collapse prefix-radius">
          <div class="small-3 columns">
            <span class="prefix">Y</span>
          </div>
          <div class="small-9 columns">
            <input type="text" placeholder="20 mm">
          </div>
        </div>
    </div>
    <div class="large-2 columns">
        <div class="row collapse prefix-radius">
          <div class="small-3 columns">
            <span class="prefix">Z</span>
          </div>
          <div class="small-9 columns">
            <input type="text" placeholder="0 mm">
          </div>
        </div>
    </div>
    <div class="large-6 columns">
        <div class="row collapse prefix-radius">
          <div class="small-3 columns">
            <span class="prefix">SPEED</span>
          </div>
          <div class="small-7 columns">
            <input type="text" placeholder="Default">
          </div>
          <div class="small-2 columns">
            <button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="tiny button postfix dropdown light-gray"></button>
              <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
                <li><a href="#">This is a link</a></li>
                <li><a href="#">This is another</a></li>
                <li><a href="#">Yet another</a></li>
              </ul>
          </div>
        </div>
    </div>
    </div>
  </div>
