.small-12.column
  .small-12.columns.orange-block.block
    .row.orange-header
      .small-12.columns
        %nav.row.top-bar.orange-header
          %ul.title-area
            %li.name
              %h5 WRITE PIN
          = render partial: "dashboard/ng-partials/sequence-builder/step_ui/step_titlebar_button_group"
    .row.content-area.orange-content
      .large-4.columns
        .row.collapse.prefix-radius
          .small-6.columns
            %span.prefix PIN NUMBER
          .small-6.columns
            %input{:placeholder => "10", :type => "text", ng_model: "step.command.pin"}
      .large-4.columns
        .row.collapse.prefix-radius
          .small-6.columns
            %span.prefix VALUE
          .small-6.columns
            %input{:placeholder => "1", :type => "text", ng_model: "step.command.value"}
      .large-4.columns
        .row.collapse.prefix-radius
          .small-6.columns
            %span.prefix PIN MODE
          .small-6.columns
            %input{:placeholder => "0", :type => "text", ng_model: "step.command.mode"}
