.col-sm-12.column
  .col-sm-12.orange-block.block
    .row.orange-header
      .col-sm-12
        %nav.row.top-bar.orange-header
          %ul.title-area
            %li.name
              %h5 WRITE PIN
          = render partial: "dashboard/ng-partials/sequence-builder/step_ui/step_titlebar_button_group"
    .row.content-area.orange-content
      .col-md-4
        .row.collapse.prefix-radius
          .col-sm-6
            %span.prefix PIN NUMBER
          .col-sm-6
            %input{:placeholder => "10", :type => "text", ng_model: "step.command.pin"}
      .col-md-4
        .row.collapse.prefix-radius
          .col-sm-6
            %span.prefix VALUE
          .col-sm-6
            %input{:placeholder => "1", :type => "text", ng_model: "step.command.value"}
      .col-md-4
        .row.collapse.prefix-radius
          .col-sm-6
            %span.prefix PIN MODE
          .col-sm-6
            %input{:placeholder => "0", :type => "text", ng_model: "step.command.mode"}
