<div class="small-12 column">
  <div class="small-12 columns orange-block block">
    <div class="row orange-header" as-sortable-item-handle data-topbar>
      <div class="small-12 columns">
        <nav class="row top-bar orange-header" role="navigation">
          <ul class="title-area">
            <li class="name">
              <h5>WRITE PIN</h5>
            </li>
          </ul>
          <%= render partial: "dashboard/ng-partials/sequence-builder/step_ui/step_titlebar_button_group" %>
        </nav>
      </div>
    </div>
    <div class="row content-area orange-content">
      <div class="large-4 columns">
        <div class="row collapse prefix-radius">
          <div class="small-6 columns">
            <span class="prefix">PIN NUMBER</span>
          </div>
          <div class="small-6 columns">
            <input type="text" placeholder="10">
          </div>
        </div>
      </div>
      <div class="large-4 columns">
        <div class="row collapse prefix-radius">
          <div class="small-6 columns">
            <span class="prefix">VALUE</span>
          </div>
          <div class="small-6 columns">
            <input type="text" placeholder="1">
          </div>
        </div>
      </div>
      <div class="large-4 columns">
        <div class="row collapse prefix-radius">
          <div class="small-6 columns">
            <span class="prefix">PIN MODE</span>
          </div>
          <div class="small-6 columns">
            <input type="text" placeholder="0">
          </div>
        </div>
      </div>
