<div class="small-12 columns">
  <div class="small-12 columns yellow-block block">
    <div class="row yellow-header" as-sortable-item-handle data-topbar>
      <div class="small-12 columns">
        <nav class="row top-bar yellow-header" role="navigation">
          <ul class="title-area">
            <li class="name">
              <h5>READ PIN</h5>
            </li>
          </ul>
          <%= render partial: "dashboard/ng-partials/sequence-builder/step_ui/step_titlebar_button_group" %>
        </nav>
      </div>
    </div>
    <div class="row content-area yellow-content">
      <div class="large-4 columns">
        <div class="row collapse prefix-radius">
          <div class="small-6 columns">
            <span class="prefix">PIN NUMBER</span>
          </div>
          <div class="small-6 columns">
            <input type="text" placeholder="10">
          </div>
        </div>
      </div>
    </div>
