<div class="small-12 columns">
  <div class="row">
    <div class="small-12 columns">
      <nav class="top-bar orange" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><a href="#">WRITE PIN</a></h1>
          </li>
        </ul>
        <div class="icon-group">
          <a href="#"><i class="fa fa-angle-up"></i></a>&nbsp;
          <i class="fa fa-trash" ng-click="remove($index)"></i>&nbsp;
          <i class="fa fa-clipboard" ng-click="copy(cmd, $index)"></i></a>&nbsp;
          <i class="fa fa-bars" as-sortable-item-handle></i>
        </div>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <div class="row collapse prefix-radius">
        <div class="small-6 columns">
          <span class="prefix uppercase">pin-number</span>
        </div>
        <div class="small-6 columns">
          <input type="text" placeholder="10">
        </div>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="row collapse prefix-radius">
        <div class="small-6 columns">
          <span class="prefix uppercase">value</span>
        </div>
        <div class="small-6 columns">
          <input type="text" placeholder="1">
        </div>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="row collapse prefix-radius">
        <div class="small-6 columns">
          <span class="prefix uppercase">pin-mode</span>
        </div>
        <div class="small-6 columns">
          <input type="text" placeholder="0">
        </div>
      </div>
