.col-sm-12
  .col-sm-12.yellow-block.block
    .row.yellow-header
      .col-sm-12
        %nav.row.top-bar.yellow-header
          %ul.title-area
            %li.name
              %h5 READ PIN
          = render partial: "dashboard/ng-partials/sequence-builder/step_ui/step_titlebar_button_group"
    .row.content-area.yellow-content
      .col-md-4
        .row.collapse.prefix-radius
          .col-sm-6
            %span.prefix PIN NUMBER
          .col-sm-6
            %input{ placeholder: "10", type: "text", ng_model: "step.command.pin" }
