.small-12.columns
  .small-12.columns.red-block.block
    .row.red-header
      .small-12.columns
        %nav.row.top-bar.red-header
          %ul.title-area
            %li.name
              %h5 SEND MESSAGE
          = render partial: "dashboard/ng-partials/sequence-builder/step_ui/step_titlebar_button_group"
    .row.content-area.red-content
      .large-12.columns
        .row.collapse.prefix-radius
          .small-2.columns
            %span.prefix MESSAGE
          .small-10.columns
            %input{:placeholder => "1000", :type => "text"}
