<div class="small-12 columns">
  <div class="small-12 columns red-block block">
    <div class="row red-header" as-sortable-item-handle data-topbar>
      <div class="small-12 columns">
        <nav class="row top-bar red-header" role="navigation">
          <ul class="title-area">
            <li class="name">
              <h5>SEND MESSAGE</h5>
            </li>
          </ul>
          <%= render partial: "dashboard/ng-partials/sequence-builder/step_ui/step_titlebar_button_group" %>
        </nav>
      </div>
    </div>
    <div class="row content-area red-content">
      <div class="large-12 columns">
        <div class="row collapse prefix-radius">
          <div class="small-2 columns">
            <span class="prefix">MESSAGE</span>
          </div>
          <div class="small-10 columns">
            <input type="text" placeholder="1000">
          </div>
        </div>
      </div>
    </div>
