.small-12.columns
  .small-12.columns.gray-block.block
    .row.gray-header{"as-sortable-item-handle" => "", "data-topbar" => ""}
      .small-12.columns
        %nav.row.top-bar.gray-header{:role => "navigation"}
          %ul.title-area
            %li.name
              %h5 SINGLE COMMAND
          .icon-group
            %a{:href => ""}>
              %i.fa.fa-angle-up
              %a{:href => ""}
                %i.fa.fa-trash{"ng-click" => "deleteStep($index)"}
              %a{:href => ""}
                %i.fa.fa-clipboard{"ng-click" => "copy(step, $index)"}
            %a{:href => ""}
              %i.fa.fa-bars{"as-sortable-item-handle" => ""}
