.col-sm-12
  .col-sm-12.gray-block.block
    .row.gray-header
      .col-sm-12
        %nav.row.top-bar.gray-header
          %ul.title-area
            %li.name
              %h5 SINGLE COMMAND
          = render partial: "dashboard/ng-partials/sequence-builder/step_ui/step_titlebar_button_group"
