.small-12.columns
  .small-12.columns.gray-block.block
    .row.gray-header
      .small-12.columns
        %nav.row.top-bar.gray-header
          %ul.title-area
            %li.name
              %h5 SINGLE COMMAND
          = render partial: "dashboard/ng-partials/sequence-builder/step_ui/step_titlebar_button_group"
