<div class="small-12 columns block">
  <div class="small-12 columns gray-block">
     <div class="row gray-header" as-sortable-item-handle data-topbar>
      <div class="small-12 columns">
        <nav class="row top-bar gray-header" role="navigation">
          <ul class="title-area">
            <li class="name">
              <h5>SINGLE COMMAND</h5>
            </li>
          </ul>
          <%= render partial: "dashboard/ng-partials/sequence-builder/step_ui/step_titlebar_button_group" %>
        </nav>
      </div>
    </div>
  </div>
</div>
