                  <div class="small-12 columns">
                    <div class="row">
                      <div class="small-12 columns">
                        <nav class="top-bar red" data-topbar role="navigation">
                          <ul class="title-area">
                            <li class="name">
                              <h1><a href="#">SCARE AWAY THE BIRDS</a></h1>
                            </li>
                          </ul>
                          <div class="icon-group">
                            <a href="#"><i class="fa fa-angle-up"></i></a>&nbsp;
                            <a href="#"><i class="fa fa-trash"></i></a>&nbsp;
                            <a href="#"><i class="fa fa-clipboard"></i></a>&nbsp;
                            <i class="fa fa-bars" sortable-item-handle></i>
                          </div>
                        </nav>
                      </div>
                    </div>
                    <div class="row">
                      <div class="large-8 columns">
                        <div class="row collapse prefix-radius">
                          <div class="small-3 columns">
                            <span class="prefix uppercase">plant-id</span>
                          </div>
                          <div class="small-7 columns">
                            <input type="text" placeholder="Inherit Plant-ID">
                          </div>
                          <div class="small-2 columns">
                            <button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="tiny button postfix dropdown light-gray"></button>
                              <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
                                <li><a href="#">This is a link</a></li>
                                <li><a href="#">This is another</a></li>
                                <li><a href="#">Yet another</a></li>
                              </ul>
                          </div>
                        </div>
                      </div>
                      <div class="large-4 columns">
                      </div>
                    </div>
                  </div>
