.col-sm-12
  .col-sm-12.red-block.block
    .row.red-header
      .col-sm-12
        %nav.row.top-bar.red-header
          %ul.title-area
            %li.name
              %h5 SCARE AWAY THE BIRDS
          = render partial: "dashboard/ng-partials/sequence-builder/step_ui/step_titlebar_button_group"
    .row.content-area
      .col-md-8
        .row.collapse.prefix-radius
          .col-sm-3
            %span.prefix.uppercase plant-id
          .col-sm-7
            %input{:placeholder => "Inherit Plant-ID", :type => "text"}
          .col-sm-2
            %button.tiny.button.postfix.dropdown.light-gray{"aria-controls" => "drop1", "aria-expanded" => "false", "data-dropdown" => "drop1", :href => "#"}
            %ul#drop1.f-dropdown{"aria-hidden" => "true", "data-dropdown-content" => "", :tabindex => "-1"}
              %li
                %a{:href => "#"} This is a link
              %li
                %a{:href => "#"} This is another
              %li
                %a{:href => "#"} Yet another
      .col-md-4
