<div class="small-12 columns">
   <div class="row">
    <div class="small-12 columns">
      <nav class="top-bar gray" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><a href="#">WAIT</a></h1>
          </li>
        </ul>
        <div class="icon-group">
          <a href="#"><i class="fa fa-angle-up"></i></a>&nbsp;
          <i class="fa fa-trash" ng-click="remove($index)"></i>&nbsp;
          <i class="fa fa-clipboard" ng-click="copy(step, $index)"></i></a>&nbsp;
          <i class="fa fa-bars" as-sortable-item-handle></i>
        </div>
      </nav>
    </div>
  </div>
</div>
