.row
  .col-md-5.col-sm-6.col-xs-12.col-md-offset-1
    %div= render partial: "dashboard/ng-partials/widgets/devices"
  .col-md-5.col-sm-6.col-xs-12.end
    %div= render partial: "dashboard/ng-partials/widgets/hardware"
.row
  .col-md-10.col-sm-12.col-xs-12.col-xs-centered.col-md-offset-1
    %div= render partial: "dashboard/ng-partials/widgets/logs"
