.row
  .large-5.medium-6.small-12.columns.large-offset-1
    %div= render partial: "dashboard/ng-partials/widgets/devices"
  .large-5.medium-6.small-12.columns.end
    %div= render partial: "dashboard/ng-partials/widgets/hardware"
.row
  .large-10.medium-12.small-12.columns.small-centered.large-offset-1
    %div= render partial: "dashboard/ng-partials/widgets/logs"
