.row
  .large-3.medium-4.small-12.columns
    %div= render partial: "dashboard/ng-partials/widgets/plants_and_operations"
  .large-6.medium-8.small-12.columns
    %div= render partial: "dashboard/ng-partials/widgets/map"
  .large-3.medium-12.small-12.columns
    %div= render partial: "dashboard/ng-partials/widgets/calendar"
