.row.collapse.farm-designer
  .large-2.columns.designer-left-bar
    = render partial: "dashboard/ng-partials/farm-designer/left_side"
  .large-8.columns
    = render partial: "dashboard/ng-partials/farm-designer/middle"
  .large-2.columns
    = render partial: "dashboard/ng-partials/farm-designer/right_side"
