.row
  .large-10.columns
    %ul{'ng-repeat' => 'device in new_devices.list'}
      %li {{device.name}}
.row
  .large-6.columns
    = render partial: "dashboard/ng-partials/control_star"
  .large-6.columns
    .panel
      .container.clearfix
        .large-3.columns
          %h5 Axis
        .large-3.columns
          %h5 Current Position (m1)
        .large-3.columns
          %h5 Enter New Position (m)
        .large-3.columns
          %h5 Home
        %br
      .container.clearfix
        .large-3.columns Gantry (X)
        .large-3.columns 10.2
        .large-3.columns
          %input.tiny-input{type: "number"}
        .large-3.columns
          %button.button.tiny
            X
        %br
      .container.clearfix
        .large-3.columns Cross-Slide (Y)
        .large-3.columns 4.6
        .large-3.columns
          %input.tiny-input{type: "number"}
        .large-3.columns
          %button.button.tiny
            Y
        %br
      .container.clearfix
        .large-3.columns Tool Slide (Z)
        .large-3.columns 3.14
        .large-3.columns
          %input.tiny-input{type: "number"}
        .large-3.columns
          %button.button.tiny
            Z
        %br
      .container.clearfix
        .large-3.columns.clearfix
          %br
        .large-3.columns.clearfix
          %br
        .large-3.columns
          %button.button.tiny
            Home
        .large-3.columns
          %button.button.tiny
            All
  .row
    .large-12.columns
      %iframe{frameborder: "0", scrolling: "no", src: "http://75.128.5.101:8081/", style: "border: 0px none transparent;", width: '100%', height: '640'}
  .row
    .large-3.columns
    .large-6.columns
      %h1 Debugger
      %form{ng_submit: 'debug()'}
        %input{type: "text", name: "fname", ng_model: 'message'}
        %input.button{name: "commit", type: "submit", value: "Send"}
    .large-3.columns