.row
  .large-6.columns
    .panel
      %p
        This panel is here as a placeholder, because I am busy working on the control star widget. At some point, this will hold a real widget.
      %p Try clicking the "+Y*100" arrow to the left.
  .large-6.columns
    = render partial: "dashboard/ng-partials/control_star"
