.row
  .large-12.columns
    %ul{'ng-repeat' => 'device in new_devices.list'}
      %li {{device.name}}
.row.controlPageRow
  .large-3.columns
    .panel
      .container.clearfix
        .row
          %ul.button-group
            %li
              %button.button.tiny{ng_click: 'setMultiplier(1)'} 1
            %li
              %button.button.tiny{ng_click: 'setMultiplier(10)'} 10
            %li
              %button.button.tiny{ng_click: 'setMultiplier(100)'} 100
            %li
              %button.button.tiny{ng_click: 'setMultiplier(1000)'} 1000

        .row
          .large-8.columns
            %button.tiny
              %i.fi-arrow-left{style: 'color: #fff;',  ng_click: 'move("y", -1)'}
            %button.tiny
              %i.fi-arrow-up{style: 'color: #fff;',    ng_click: 'move("x", 1)'}
            %button.tiny
              %i.fi-arrow-down{style: 'color: #fff;',  ng_click: 'move("x", -1)'}
            %button.tiny
              %i.fi-arrow-right{style: 'color: #fff;', ng_click: 'move("y", 1)'}
          .large-4.columns
            %button.tiny
              %i.fi-arrow-up{style: 'color: #fff;',    ng_click: 'move("z", 1)'}
            %button.tiny
              %i.fi-arrow-down{style: 'color: #fff;',  ng_click: 'move("z", -1)'}
        .row
          %button.button.tiny.alert STOP
  .large-3.columns
    .panel
      .container.clearfix
        .large-3.columns
          %h5 Axis
        .large-3.columns
          %h5 Current Position (m1)
        .large-3.columns
          %h5 Enter New Position (m)
        .large-3.columns
          %h5 Home
        %br
      .container.clearfix
        .large-3.columns Gantry (X)
        .large-3.columns 10.2
        .large-3.columns
          %input.tiny-input{type: "number"}
        .large-3.columns
          %button.button.tiny
            X
        %br
      .container.clearfix
        .large-3.columns Cross-Slide (Y)
        .large-3.columns 4.6
        .large-3.columns
          %input.tiny-input{type: "number"}
        .large-3.columns
          %button.button.tiny
            Y
        %br
      .container.clearfix
        .large-3.columns Tool Slide (Z)
        .large-3.columns 3.14
        .large-3.columns
          %input.tiny-input{type: "number"}
        .large-3.columns
          %button.button.tiny
            Z
        %br
      .container.clearfix
        .large-3.columns.clearfix
          %br
        .large-3.columns.clearfix
          %br
        .large-3.columns
          %button.button.tiny
            Home
        .large-3.columns
          %button.button.tiny
            All
  .large-3.columns
    %iframe{frameborder: "0", scrolling: "no", src: "http://75.128.5.101:8081/", style: "border: 0px none transparent;", width: '100%', height: '640'}
  .large-3.columns
    .panel
      %p
      %ul.breadcrumbs
        %li
          %a{:href => "#"} x:{{ devices.current.x }}
        %li
          %a{:href => "#"} y:{{ devices.current.y }}
        %li
          %a{:href => "#"} z:{{ devices.current.z }}
      %ul.breadcrumbs
        %li
          %a{:href => "#"} status: {{ devices.current.status }}
      %ul.breadcrumbs
        %li
          %a{:href => "#"} Network: {{ devices.status.meshblu }}
      .container.clearfix
        .large-8.columns Vacuum
        .large-4.columns
          %button.tiny{ng_class: "{'disabled': !devices.current.pin10 }", ng_click: 'toggle(10)'}
            %span{ng_hide: '!devices.current.pin10'} on
            %span{ng_hide: 'devices.current.pin10'} off
        %br
      .container.clearfix
        .large-8.columns Water Pump
        .large-4.columns
          %button.tiny{ng_class: "{'disabled': !devices.current.pin9 }", ng_click: 'toggle(9)'}
            %span{ng_hide: '!devices.current.pin9'} on
            %span{ng_hide: 'devices.current.pin9'} off

        %br
      .container.clearfix
        .large-8.columns LED
        .large-4.columns
          %button.tiny{ng_class: "{'disabled': !devices.current.pin13 }", ng_click: 'toggle(13)'}
            %span{ng_hide: '!devices.current.pin13'} on
            %span{ng_hide: 'devices.current.pin13'} off
        %br
      .container.clearfix
        .large-8.columns Tool Mount
        .large-4.columns
          %button.tiny{ng_class: "{'disabled': !devices.current.pin8 }", ng_click: 'toggle(8)'}
            %span{ng_hide: '!devices.current.pin8'} on
            %span{ng_hide: 'devices.current.pin8'} off
        %br
      %button.button.small{ng_click: 'refresh()'} Fetch Status
.row.controlPageRow
  .large-3.columns
  .large-3.columns
    %h1 Debugger
    %form{ng_submit: 'debug()'}
      %input{type: "text", name: "fname", ng_model: 'message'}
      %input.button{name: "commit", type: "submit", value: "Send"}
    .switch
      %input#exampleCheckboxSwitch{:type => "checkbox"}/
      %label{:for => "exampleCheckboxSwitch"}
  .large-3.columns .
  .large-3.columns .
