.row
  .large-5.medium-6.small-12.columns
    %div= render partial: "dashboard/ng-partials/widgets/move"
    %div= render partial: "dashboard/ng-partials/widgets/tool_control"
    %div= render partial: "dashboard/ng-partials/widgets/device_status"
  .large-7.medium-6.small-12.columns
    %div= render partial: "dashboard/ng-partials/widgets/camera"
