.row
  .col-md-4.col-sm-6.col-xs-12.col-md-offset-1
    %div= render partial: "dashboard/ng-partials/widgets/move"
    %div= render partial: "dashboard/ng-partials/widgets/tool_control"
  .col-md-6.col-sm-6.col-xs-12
    %div= render partial: "dashboard/ng-partials/widgets/camera"
