.row
  .large-4.medium-6.small-12.columns.large-offset-1
    %div= render partial: "dashboard/ng-partials/widgets/move"
    %div= render partial: "dashboard/ng-partials/widgets/tool_control"
    %div= render partial: "dashboard/ng-partials/widgets/device_status"
  .large-6.medium-6.small-12.columns.end
    %div= render partial: "dashboard/ng-partials/widgets/camera"
