.row
  .large-4.medium-6.small-12.columns
    %ng-include{:src => "'widgets/move'"}
    %ng-include{:src => "'widgets/tool_control'"}
  .large-4.medium-6.small-12.columns
    %ng-include{:src => "'widgets/move_abs'"}
    %ng-include{:src => "'widgets/camera'"}
  .large-4.medium-6.small-12.columns
    %ng-include{:src => "'widgets/device_status'"}

