.row
  .large-4.medium-6.small-12.columns
    %ng-include{:src => "'widgets/move'"}
    %ng-include{:src => "'widgets/tool_control'"}
    %ng-include{:src => "'widgets/device_status'"}
  .large-8.medium-6.small-12.columns
    %ng-include{:src => "'widgets/camera'"}
