.row
  %h1 Manual Device Control
.row
  .large-8.columns
    .panel
      .container.clearfix
        .large-4.columns Gantry (X)
        .large-4.columns
          %span.label.round.success>
            %i.fi-plus
          46
          %span.label.round.alert
            %i.fi-minus
        .large-4.columns Jog to:
      %br/
      .container.clearfix
        .large-4.columns Cross-Slide (Y)
        .large-4.columns
          %span.label.round.success>
            %i.fi-plus
          46
          %span.label.round.alert
            %i.fi-minus
        .large-4.columns Jog to:
      %br/
      .container.clearfix
        .large-4.columns Tool Mount (Z)
        .large-4.columns
          %span.label.round.success>
            %i.fi-plus
          46
          %span.label.round.alert
            %i.fi-minus
        .large-4.columns Jog to:
      %br/
      %br/
      %ul.button-group.even-3
        %li
          %a.button.small{href: "", 'ng-click' => 'goHome()'} Jog to Home
        %li
          %a.button.small{href: "#"} Calibrate
        %li
          %a.button.small.alert{href: "#"} Shutdown
  .row
    .large-12.columns
      %iframe{frameborder: "0", height: "234", scrolling: "no", src: "http://75.128.5.101:8081/", style: "border: 0px none transparent;", width: "800", height: "600"}