<div class="row">
  <h2 class="page-title">Sequence Scheduler</h2>
  <div class="large-7 columns">
    <%= render partial: "dashboard/ng-partials/widgets/schedule_sequence" %>
  </div>

  <div class="large-5 columns">
    <%= render partial: "dashboard/ng-partials/widgets/calendar" %>
  </div>
</div>
