<div class="row">
  <div class="large-12 medium-10 small-centered columns">
    <h2 class="page-title">Sequence Scheduler</h2>
    <div class="large-6 columns">
	    <h3>Widget Area 1</h3>
	    <ng-include src="'widgets/schedule_sequence'">
   	  </ng-include>
	  </div>

    <div class="large-6 columns">
      <h3>Widget Area 2</h3>
	    <ng-include src="'widgets/calendar'">
 	    </ng-include>
	  </div>
  </div>
</div>
