.row
  .large-7.columns
    = render partial: "dashboard/ng-partials/widgets/schedule_sequence"
  .large-5.columns
    = render partial: "dashboard/ng-partials/widgets/calendar"
.widget-wrapper
  .row
    .small-4.columns
      .header-wrapper
        %h5 Temporary Flipper
  .row
    .small-4.columns
      .content-wrapper.calendar-wrapper
        .row.day
          .small-12.columns.centered
            %button <--
            %button Calendar
            %button -->
