<div class="row">
  <div class="large-4 medium-4 columns">
    <%= render partial: "dashboard/ng-partials/widgets/basic_operations" %>
    <%= render partial: "dashboard/ng-partials/widgets/saved_sequences" %>
  </div>

  <div class="large-8 medium-8 columns">
    <%= render partial: "dashboard/ng-partials/widgets/build_sequence" %>
  </div>
</div>
