= stylesheet_link_tag "sequence_builder/sequence_builder"
.row
  .large-4.medium-4.columns
    .row
      .small-12.columns
        .header-wrapper
          %h5 Lorum ipsum
          %p Lorum ipsum it madsame ipsum it madsame ipsum it madsame ipsum it madsame
    .content-wrapper
      .row
        .small-6.large-6.columns
          %a.tiny.button{:href => "#"} Simple Button
        .small-6.large-6.columns
          %a.tiny.button{:href => "#"} Simple Button
      .row
        .small-6.large-6.columns
          %a.tiny.button{:href => "#"} Simple Button
        .small-6.large-6.columns
          %a.tiny.button{:href => "#"} Simple Button
      .row
        .small-6.large-6.columns
          %a.tiny.button{:href => "#"} Simple Button
        .small-6.large-6.columns
          %a.tiny.button{:href => "#"} Simple Button
    .row
      .small-12.columns
        .header-wrapper
          %h5 Lorum ipsum
          %p Lorum ipsum it madsame ipsum it madsame ipsum it madsame ipsum it madsame
        .content-wrapper
          %a.tiny.expand.button{:href => "#"} Simple Button
          %a.tiny.expand.button{:href => "#"} Simple Button
          %a.tiny.expand.button{:href => "#"} Simple Button
          %a.tiny.expand.button{:href => "#"} Simple Button
  .large-8.medium-8.columns
    .row
      .small-12.columns
        .header-wrapper
          %h5 Lorum ipsum
          %p Lorum ipsum it madsame ipsum it madsame ipsum it madsame ipsum it madsame
    .row
      .small-12.columns
        .content-wrapper
          .row
            .small-3.columns
              %label.right.inline{:for => "right-label"} Sequence Name
            .small-4.columns
              %input#right-label{:placeholder => "Inline Text Input", :type => "text"}/
            .small-3.columns
              %select
                %option{:value => "husker"} Choose color
                %option{:value => "starbuck"} Red
                %option{:value => "hotdog"} White
                %option{:value => "apollo"} Green
            .small-2.columns
              %a.small.button.postfix{:href => "#"} Save
          .row
            .small-12.columns
              %a.small.expand.button{:href => "#"} Simple Button
          .row
            .small-4.columns
              .row
                .small-3.columns
                  %label.right.inline{:for => "right-label"} X
                .small-9.columns
                  %input#right-label{:placeholder => "Inline Text Input", :type => "text"}/
            .small-4.columns
              .row
                .small-3.columns
                  %label.right.inline{:for => "right-label"} Y
                .small-9.columns
                  %input#right-label{:placeholder => "Inline Text Input", :type => "text"}/
            .small-4.columns
              .row
                .small-3.columns
                  %label.right.inline{:for => "right-label"} Z
                .small-9.columns
                  %input#right-label{:placeholder => "Inline Text Input", :type => "text"}/
          .row
            .small-4.columns
              .row
                .small-3.columns
                  %label.right.inline{:for => "right-label"} Speed
                .small-9.columns
                  %input#right-label{:placeholder => "Inline Text Input", :type => "text"}/
            .small-4.columns
              .row
                .small-3.columns
                  %label.right.inline{:for => "right-label"} Delay
                .small-9.columns
                  %input#right-label{:placeholder => "Inline Text Input", :type => "text"}/
            .small-4.columns
              .row
                .small-3.columns
                .small-9.columns
          .row
            .small-12.columns
              %a.small.expand.button{:href => "#"} Simple Button
          .row
            .small-4.columns
              .row
                .small-3.columns
                  %label.right.inline{:for => "right-label"} X
                .small-9.columns
                  %input#right-label{:placeholder => "Inline Text Input", :type => "text"}/
            .small-4.columns
              .row
                .small-3.columns
                  %label.right.inline{:for => "right-label"} Y
                .small-9.columns
                  %input#right-label{:placeholder => "Inline Text Input", :type => "text"}/
            .small-4.columns
              .row
                .small-3.columns
                  %label.right.inline{:for => "right-label"} Z
                .small-9.columns
                  %input#right-label{:placeholder => "Inline Text Input", :type => "text"}/
          .row
            .small-4.columns
              .row
                .small-3.columns
                  %label.right.inline{:for => "right-label"} Speed
                .small-9.columns
                  %input#right-label{:placeholder => "Inline Text Input", :type => "text"}/
            .small-4.columns
              .row
                .small-3.columns
                  %label.right.inline{:for => "right-label"} Delay
                .small-9.columns
                  %input#right-label{:placeholder => "Inline Text Input", :type => "text"}/
            .small-4.columns
              .row
                .small-3.columns
                .small-9.columns
          .row
            .small-12.columns
              %a.small.expand.button{:href => "#"} Simple Button
          .row
            .small-4.columns
              .row
                .small-3.columns
                  %label.right.inline{:for => "right-label"} X
                .small-9.columns
                  %input#right-label{:placeholder => "Inline Text Input", :type => "text"}/
            .small-4.columns
              .row
                .small-3.columns
                  %label.right.inline{:for => "right-label"} Y
                .small-9.columns
                  %input#right-label{:placeholder => "Inline Text Input", :type => "text"}/
            .small-4.columns
              .row
                .small-3.columns
                  %label.right.inline{:for => "right-label"} Z
                .small-9.columns
                  %input#right-label{:placeholder => "Inline Text Input", :type => "text"}/
          .row
            .small-4.columns
              .row
                .small-3.columns
                  %label.right.inline{:for => "right-label"} Speed
                .small-9.columns
                  %input#right-label{:placeholder => "Inline Text Input", :type => "text"}/
            .small-4.columns
              .row
                .small-3.columns
                  %label.right.inline{:for => "right-label"} Delay
                .small-9.columns
                  %input#right-label{:placeholder => "Inline Text Input", :type => "text"}/
            .small-4.columns
              .row
                .small-3.columns
                .small-9.columns
          .row
            .small-12.columns
              %a.small.expand.button{:href => "#"} Simple Button
          .row
            .small-12.columns
              .drag-drop-area
                %h6 DRAG BASIC OPERATIONS AND/OR SAVE SEQUENCES HERE
