<div class="row">
  <div class="large-4 medium-4 columns">
    <div class="row">
      <div class="small-12 columns">
        <div class="header-wrapper">
          <h5>Basic Operations</h5>
        </div>
      </div>
    </div>


    <div class="content-wrapper">
      <div class="row">
        <div class="small-6 large-6 columns">
          <button class="tiny expand button radius blue" ng-click="addStep('move_abs')">MOVE ABSOLUTE</button>
        </div>


        <div class="small-6 large-6 columns">
          <button class="tiny expand button radius green" ng-click="addStep('move_rel')">MOVE RELATIVE</button>
        </div>
      </div>


      <div class="row">
        <div class="small-6 large-6 columns">
          <button class="tiny expand button radius yellow" ng-click="addStep('pin_write')">PIN WRITE</button>
        </div>


        <div class="small-6 large-6 columns">
          <button class="tiny expand button radius orange" ng-click="addStep('move_rel')">HELLO</button>
        </div>
      </div>


      <div class="row">
        <div class="small-6 large-6 columns">
          <button class="tiny expand button radius purple" ng-click="addStep('move_rel')">TAKE PICTURE</button>
        </div>


        <div class="small-6 large-6 columns">
          <button class="tiny expand button radius pink" ng-click="addStep('move_rel')">IF STATEMENT</button>
        </div>
      </div>


      <div class="row">
        <div class="small-6 large-6 columns">
          <button class="tiny expand button radius gray" ng-click="addStep('move_rel')">WAIT</button>
        </div>


        <div class="small-6 large-6 columns">
          <button class="tiny expand button radius red" ng-click="addStep('move_rel')">SEND ERROR</button>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="small-12 columns">
        <div class="header-wrapper">
          <h5>Saved Sequences</h5>
        </div>


        <div class="content-wrapper">
          <button
            class="tiny expand button radius green"
            ng-click="addSequence()">
            <i class="step fi-plus size-12"></i>
            New Sequence
          </button>
          <div ng-repeat="seq in storedSequences track by $id(seq)">
            <button
              ng-click="load(seq)"
              class="tiny expand button radius {{seq.color}}">
              {{seq.name}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="large-8 medium-8 columns">
    <div class="row">
      <div class="small-12 columns">
        <div class="header-wrapper">
          <h5>Build A Sequence</h5>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="small-12 columns">
        <div class="content-wrapper">
          <div class="row">
            <div class="small-8 columns">
              <input id="right-label" type="text" ng-model="sequence.name">
            </div>


            <div class="small-2 columns">
              <button class="tiny button radius red" ng-click="deleteSequence(sequence)">
                Delete
              </button>
            </div>
            <div class="small-2 columns">
              <button class="tiny button radius green" ng-click="saveSequence(sequence)">
                Save
              </button>
            </div>
          </div>


          <div class="row">
            <div class="small-12 columns">
              <div class="drag-drop-area padding">
                <h6>DRAG BASIC OPERATIONS AND/OR SAVE SEQUENCES HERE</h6>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="small-4 columns">
              <label>Sequence Parameters:</label>
            </div>


            <div class="small-5 columns">
              <a class="tiny expand button round dark-gray" href="#">PLANT-ID/PLANT-GROUP-ID</a>
            </div>


            <div class="small-3 columns">
              <a class="tiny expand button radius dark-gray" href="#">ADD PARAMETER</a>
            </div>
          </div>


          <div class="row" as-sortable='dragControlListeners' ng-model="sequenceSteps">
            <div ng-repeat='step in sequenceSteps | orderBy: "position" ' >
              <div class="row" as-sortable-item ng-model="step">
                <ng-include src="'sequence-builder/' + step.message_type">
                </ng-include>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <div ng-repeat="step in storedSequences track by $id(step)">
    </div>
  </div>
</div>
