.row.controlPageRow
  .large-4.columns
    .pricing-table
      .title
        Basic Operations
      .description
        These are the most basic operations that FarmBot can execute. Drag them to the right to <strong>BUILD A SEQUENCE</strong> of operations.
      .pt-body
        Hello, world!

    .pricing-table
      .title
        Saved Sequences
      .description
        Drag <strong>SAVED SEQUENCES</strong> to the right to <strong>BUILD A SEQUENCE</strong> that is even bigger.
      .pt-body
        Hello, world!

  .large-8.columns
    .pricing-table
      .title
        Build A Sequence
      .description
        Drag basic operations and / or save sequences into this area to build a sequence.
      .pt-body
        %form
          %label Sequence Name:
          %input{type: 'text'}
          %select
            %option{value: 'stuff'} Stuff
            %option{value: 'moar'} Moar!
          %input.button{type: 'submit', value: 'Save'}
      .pt-body
        .pricing-table
          .title
            Move Relative
          .pt-body
            %p
              Nothing on this page works yet. I'm just building the interface.
          .pt-body
