.content-wrapper{
  border-style: solid;
  border-width: 1px;
  border-top-width: 0px;
  border-color: #d8d8d8;
  margin-bottom: 1rem;
  padding: 1.25rem;
  background: #ffffff;
  color: #333333;
  text-align: center;
}
.header-wrapper{
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  margin-bottom: 0rem;
  padding: 1rem;
  background: #333333;
  color: #ffffff;
}
.header-wrapper h5{
	color: #ffffff;
}
.header-wrapper p{
	font-size: 88%;
	font-style: italic;
}
.drag-drop-area{
  border-style: dashed;
  border-width: 2px;
  border-color: #d8d8d8;
  margin-bottom: 1rem;
  padding: 1.25rem;
  background: #ffffff;
  color: #333333;
  text-align: center;
}
.sized a{
  width: 100px;
}
.blue{
  background-color: #9ADFF6;
  border-right:1px solid #5BAFCB;
  border-bottom: 1px solid #5BAFCB;
  color: #333;
}
.green{
  background-color: #99F9AA;
  border-right:1px solid #5FDF75;
  border-bottom: 1px solid #5FDF75;
  color: #333;
}
.yellow{
  background-color: #FFF69D;
  border-right:1px solid #FFDC34;
  border-bottom: 1px solid #FFDC34;
  color: #333;
}
.orange{
  background-color: #FFB770;
  border-right:1px solid #FF7F01;
  border-bottom: 1px solid #FF7F01;
  color: #333;
}
.purple{
  background-color: #F88EF8;
  border-right:1px solid #A805C4;
  border-bottom: 1px solid #A805C4;
  color: #333;
}
.pink{
  background-color: #FF99D3;
  border-right:1px solid #F31A95;
  border-bottom: 1px solid #F31A95;
  color: #333;
}
.gray{
  background-color: #D1D1D1;
  border-right:1px solid #646062;
  border-bottom: 1px solid #646062;
  color: #333;
}
.red{
  background-color: #FF9297;
  border-right:1px solid #FC2F39;
  border-bottom: 1px solid #FC2F39;
  color: #333;
}
.save-green{
  background-color: #5FDF75;
}
.dark-gray{
  background-color: #333;
}
.light-gray{
  background-color: #BDBCBD;
}
.black{
  color: #000;
}
.padding{
  margin-top: 20px;
}
.yellow-circle{
  color: #FFF69D;
}
.uppercase {
    text-transform: uppercase;
}
.icon-group{
  float:right;
  padding-right: 10px;
}
.icon-group a{
  color: #333;
  padding-right: 5px;
}