.farm-event-panel {
  .fa-calendar {
    margin: 0.5rem 0 0 1.6rem;
    font-size: 2rem;
  }
  .panel-content {
    padding: 6rem 1rem 6rem 0;
  }
}

.farm-events {
  max-height: calc(100vh - 19rem);
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 1.8rem;
  margin-right: -10px;
}

.farm-event {
  display: flex;
  margin-top: 1rem;
  margin-right: 10px;
}

.farm-event-year {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.farm-event-date {
  flex: 1;
  text-align: center;
}

.farm-event-date-day {
  font-size: 2rem;
}

.farm-event-data {
  flex: 5;
}

.farm-event-data-executable {
  margin-left: 1rem;
}

.farm-event-data-block {
  display: flex;
  position: relative;
  padding: 0.8rem;
  font-size: 1.2rem;
  align-items: center;
  background: $white;
  border-bottom: 1px solid $gray;
  &:hover {
    i {
      opacity: 1;
    }
  }
  i {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    opacity: 0;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 6rem;
    bottom: 0;
    width: 1px;
    background: $gray;
  }
}

.add-farm-event-panel {
  .note {
    margin-top: 4rem;
  }
}

.add-event-repeat-frequency {
  min-height: 34px;
}
