.widget-wrapper
  .row
    .small-12.columns
      .header-wrapper
        %h5 Basic Operations
  .row
    .small-12.columns
      .content-wrapper
        .row
          .small-6.large-6.columns
            %button.full-width.text-left.blue-block.no-radius.block{"ng-click" => "addStep('move_absolute')"}
              MOVE ABSOLUTE
              %i.fa.fa-bars.right
          .small-6.large-6.columns
            %button.full-width.text-left.green-block.no-radius.block{"ng-click" => "addStep('move_relative')"}
              MOVE RELATIVE
              %i.fa.fa-bars.right
        .row
          .small-6.large-6.columns
            %button.full-width.text-left.orange-block.no-radius.block{"ng-click" => "addStep('pin_write')"}
              WRITE PIN
              %i.fa.fa-bars.right
          .small-6.large-6.columns
            %button.full-width.text-left.gray-block.no-radius.block{"ng-click" => "addStep('wait')"}
              WAIT
              %i.fa.fa-bars.right
        .row
          .small-6.large-6.columns
            %button.full-width.text-left.red-block.no-radius.block{"ng-click" => "addStep('send_message')"}
              SEND MESSAGE
              %i.fa.fa-bars.right
          .small-6.large-6.columns
            %button.full-width.text-left.purple-block.no-radius.block{"ng-click" => "addStep('move_relative')"}
              TAKE PICTURE*
              %i.fa.fa-bars.right
        .row
          .small-6.large-6.columns
            %button.full-width.text-left.pink-block.no-radius.block{"ng-click" => "addStep('move_relative')"}
              IF STATEMENT*
              %i.fa.fa-bars.right
          .small-6.large-6.columns
            %button.full-width.text-left.yellow-block.no-radius.block{"ng-click" => "addStep('move_relative')"}
              READ PIN*
              %i.fa.fa-bars.right
