<div class="row">
  <div class="small-12 columns header-wrapper">
    <h5>Basic Operations</h5>
  </div>
</div>

<div class="row">
  <div class="content-wrapper">
    <div class="row">
      <div class="small-6 large-6 columns">
        <button class="full-width left-aligned blue-block margin no-radius" ng-click="addStep('move_abs')">MOVE ABSOLUTE</button>
      </div>


      <div class="small-6 large-6 columns">
        <button class="full-width left-aligned green-block margin no-radius" ng-click="addStep('move_rel')">MOVE RELATIVE</button>
      </div>
    </div>


    <div class="row">
      <div class="small-6 large-6 columns">
        <button class="full-width left-aligned orange-block margin no-radius" ng-click="addStep('pin_write')">WRITE PIN</button>
      </div>


      <div class="small-6 large-6 columns">
        <button class="full-width left-aligned yellow-block margin no-radius" ng-click="addStep('pin_read')">READ PIN</button>
      </div>
    </div>


    <div class="row">
      <div class="small-6 large-6 columns">
        <button class="full-width left-aligned purple-block margin no-radius" ng-click="addStep('move_rel')">TAKE PICTURE</button>
      </div>


      <div class="small-6 large-6 columns">
        <button class="full-width left-aligned pink-block margin no-radius" ng-click="addStep('move_rel')">IF STATEMENT</button>
      </div>
    </div>


    <div class="row">
      <div class="small-6 large-6 columns">
        <button class="full-width left-aligned gray-block margin no-radius" ng-click="addStep('wait')">WAIT</button>
      </div>


      <div class="small-6 large-6 columns">
        <button class="full-width left-aligned red-block margin no-radius" ng-click="addStep('send_message')">SEND MESSAGE</button>
      </div>
    </div>
  </div>
</div>
