.widget-wrapper
  .row
    .col-sm-12
      %button.green.button-like{"ng-click" => "saveSequence(sequence)", style: 'margin-top: 5px; margin-right: 15px;'}
        Save
      %button.yellow.button-like{"ng-click" => "execute(sequence)", style: 'margin-top: 5px; margin-right: 15px;'}
        Execute
      %button.red.button-like{"ng-click" => "deleteSequence(sequence)", style: 'margin-top: 5px; margin-right: 15px;'}
        Delete
      .header-wrapper
        %h5 Build A Sequence
  .row
    .col-sm-12
      .content-wrapper
        .row
          .col-sm-12
            %input#right-label{"ng-model" => "sequence.name", :type => "text"}
        .row
          .col-sm-12
            %label Sequence Parameters:
            %a.tiny.expand.button.round.dark-gray{:href => "#"} PLANT-ID/PLANT-GROUP-ID
        .row
          .col-sm-12
            .drag-drop-area.padding
              %h6 DRAG BASIC OPERATIONS AND/OR SAVE SEQUENCES HERE
        .row
          .col-sm-12{"as-sortable" => "dragControlListeners", "ng-model" => "sequence.steps"}
            %div{"ng-repeat" => "step in sequence.steps | orderBy: 'position'", 'as-sortable-item' => true}
              .row
                %ng-include{src: "'sequence-builder/' + step.message_type"}
