.widget-wrapper
  .row
    .small-12.columns
      %button.green.button-like{ "ng-click" => "saveSequence(sequence)", style: "margin: 9px;" }
        Save
      %button.yellow.button-like{ "ng-click" => "execute(sequence)", style: "margin: 9px;" }
        Execute
      %button.red.button-like{ "ng-click" => "deleteSequence(sequence)", style: "margin: 9px;" }
        Delete
      .header-wrapper
        %h5 Sequence Builder
  .row
    .small-12.columns
      .content-wrapper
        .row
          .small-12.columns
            %label.left NAME
            %input{"ng-model" => "sequence.name", :type => "text"}
        .row
          .small-12.columns
            %label.left PARAMETERS
            %button.round.dark-gray.left.margin-left PLANT-ID
          .small-12.columns{"as-sortable" => "dragControlListeners", "ng-model" => "sequence.steps"}
            %div{"ng-repeat" => "step in sequence.steps | orderBy: 'position'", 'as-sortable-item' => true}
              .row
                %ng-include{src: "'sequence-builder/' + step.message_type"}
        .row
          .small-12.columns
            .drag-drop-area.padding DRAG AND DROP BASIC OPERATIONS AND SEQUENCES HERE
