.widget-wrapper
  .row
    .col-sm-12
      .header-wrapper
        %h5 Build A Sequence
  .row
    .col-sm-12
      .content-wrapper
        .row
          .col-sm-6
            %input#right-label{"ng-model" => "sequence.name", :type => "text"}
          .col-sm-2
            %button.green.button-like{"ng-click" => "saveSequence(sequence)"}
              Save
          .col-sm-2
            %button.yellow.button-like{"ng-click" => "execute(sequence)"}
              Execute
          .col-sm-2
            %button.red.button-like{"ng-click" => "deleteSequence(sequence)"}
              Delete
        .row
          .col-sm-12
            .drag-drop-area.padding
              %h6 DRAG BASIC OPERATIONS AND/OR SAVE SEQUENCES HERE
        .row
          .col-sm-4
            %label Sequence Parameters:
          .col-sm-5
            %a.tiny.expand.button.round.dark-gray{:href => "#"} PLANT-ID/PLANT-GROUP-ID
          .col-sm-3
            %a.tiny.expand.button.radius.dark-gray{:href => "#"} ADD PARAMETER
          .col-sm-12{"as-sortable" => "dragControlListeners", "ng-model" => "sequence.steps"}
            %div{"ng-repeat" => "step in sequence.steps | orderBy: 'position'", 'as-sortable-item' => true}
              .row
                %ng-include{src: "'sequence-builder/' + step.message_type"}
