<div class="row">
  <div class="small-12 columns header-wrapper">
    <h5>Calendar</h5>
  </div>
</div>

<div class="row widget-contents">
  <div class="row">
    <div class="small-12 columns single-day">
      <div class="small-2 columns no-right-gutter">
        <h6 class="calendar-date">21</h6>
        <div class="calendar-month">Aug</div>
      </div>
      <div class="small-10 columns">
        
        <div class="small-12 columns single-operation">
          <div class="row">
            <div class="small-2 columns no-right-gutter">
              <div class="calendar-time">2pm</div>
            </div>
            <div class="small-1 columns">
              <i class="operation-icon fi-target"></i>
            </div>
            <div class="small-8 columns">
              <div>Deep Watering</div>
            </div>
            <div class="small-1 columns">
              <i class="edit-icon fi-pencil"></i>
            </div>
          </div>
        </div>

        <div class="small-12 columns single-operation">
          <div class="row">
            <div class="small-2 columns no-right-gutter">
              <div class="calendar-time">4pm</div>
            </div>
            <div class="small-1 columns no-right-gutter">
              <i class="operation-icon fi-target"></i>
            </div>
            <div class="small-8 columns no-right-gutter">
              <div>Seed Injection</div>
            </div>
            <div class="small-1 columns">
              <i class="edit-icon fi-pencil"></i>
            </div>
          </div>
        </div>

      </div>   
    </div>
  </div>
</div>