.widget-wrapper
  .row
    .small-12.columns
      .header-wrapper
        %h5 Calendar
  .row
    .small-12.columns
      .content-wrapper
        .row.day
          .small-2.columns
            %h6.calendar-date 21
            .calendar-month Aug
          .small-10.columns
            .small-12.columns.event.past
              .row
                .small-12.columns
                  .event-time 2pm
                  %i.event-icon.fi-target
                  .event-title Deep Watering
                  %i.edit-icon.fi-pencil.right
            .small-12.columns.event.past
              .row
                .small-12.columns
                  .event-time 4pm
                  %i.event-icon.fi-target
                  .event-title Seed Injection
                  %i.edit-icon.fi-pencil.right
            .small-12.columns.event.next
              .row
                .small-12.columns
                  .event-time 6pm
                  %i.event-icon.fi-target
                  .event-title Harvest
                  %i.edit-icon.fi-pencil.right
        .row.day
          .small-2.columns
            %h6.calendar-date 22
            .calendar-month Aug
          .small-10.columns
            .small-12.columns.event
              .row
                .small-12.columns
                  .event-time 2pm
                  %i.event-icon.fi-target
                  .event-title Deep Watering
                  %i.edit-icon.fi-pencil.right
            .small-12.columns.event
              .row
                .small-12.columns
                  .event-time 4pm
                  %i.event-icon.fi-target
                  .event-title Seed Injection
                  %i.edit-icon.fi-pencil.right
            .small-12.columns.event
              .row
                .small-12.columns
                  .event-time 6pm
                  %i.event-icon.fi-target
                  .event-title Harvest
                  %i.edit-icon.fi-pencil.right
