<div class="small-12 columns">
  <div class="row">
    <div class="small-12 columns header-wrapper">
      <h5>Calendar</h5>
    </div>
  </div>

  <div class="row content-wrapper calendar-contents">

    <div class="row day">
      <div class="small-2 columns">
        <h6 class="calendar-date">21</h6>
        <div class="calendar-month">Aug</div>
      </div>
      <div class="small-10 columns">

        <div class="small-12 columns event past">
          <div class="row">
            <div class="small-11 columns no-right-gutter">
              <div class="event-time">2pm</div>
              <i class="event-icon fi-target"></i>
              <div class="event-title">Deep Watering</div>
            </div>
            <div class="small-1 columns">
              <i class="edit-icon fi-pencil"></i>
            </div>
          </div>
        </div>

        <div class="small-12 columns event past">
          <div class="row">
            <div class="small-11 columns no-right-gutter">
              <div class="event-time">4pm</div>
              <i class="event-icon fi-target"></i>
              <div class="event-title">Seed Injection</div>
            </div>
            <div class="small-1 columns">
              <i class="edit-icon fi-pencil"></i>
            </div>
          </div>
        </div>

        <div class="small-12 columns event next">
          <div class="row">
            <div class="small-11 columns no-right-gutter">
              <div class="event-time">6pm</div>
              <i class="event-icon fi-target"></i>
              <div class="event-title">Harvest</div>
            </div>
            <div class="small-1 columns">
              <i class="edit-icon fi-pencil"></i>
            </div>
          </div>
        </div>

      </div>
    </div>

  <div class="row day">
      <div class="small-2 columns">
        <h6 class="calendar-date">22</h6>
        <div class="calendar-month">Aug</div>
      </div>
      <div class="small-10 columns">

        <div class="small-12 columns event">
          <div class="row">
            <div class="small-11 columns no-right-gutter">
              <div class="event-time">2pm</div>
              <i class="event-icon fi-target"></i>
              <div class="event-title">Deep Watering</div>
            </div>
            <div class="small-1 columns">
              <i class="edit-icon fi-pencil"></i>
            </div>
          </div>
        </div>

        <div class="small-12 columns event">
          <div class="row">
            <div class="small-11 columns no-right-gutter">
              <div class="event-time">4pm</div>
              <i class="event-icon fi-target"></i>
              <div class="event-title">Seed Injection</div>
            </div>
            <div class="small-1 columns">
              <i class="edit-icon fi-pencil"></i>
            </div>
          </div>
        </div>

        <div class="small-12 columns event">
          <div class="row">
            <div class="small-11 columns no-right-gutter">
              <div class="event-time">6pm</div>
              <i class="event-icon fi-target"></i>
              <div class="event-title">Harvest</div>
            </div>
            <div class="small-1 columns">
              <i class="edit-icon fi-pencil"></i>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
