.widget-wrapper
  .row
    .small-12.columns
      .header-wrapper
        %h5 Calendar
  .row
    .small-12.columns
      .content-wrapper.calendar-wrapper
        .row.day{'ng-repeat' => 'schedule in prettyDates'}
          .small-2.columns
            .div{ng_if: 'showNextDate(schedule.next_time)'}
              %h6.calendar-date {{ schedule.next_time | date: 'd' }}
              %h6.calendar-month {{ schedule.next_time | date: 'MMM' }}
          .small-10.columns.event
            .event-time {{ schedule.start_time | date: 'h:mm a' }}
            %i.event-icon.fi-target
            .event-title {{ schedule.sequence_name }}
            %i.edit-icon.fi-pencil.right{'ng-click' => 'edit(s)'}
