.widget-wrapper
  .row
    .col-sm-12
      .header-wrapper
        %h5 Calendar
  .row
    .col-sm-12
      .content-wrapper.calendar-wrapper
        .row.date-flipper
          .col-sm-2
            %i.fa.fa-2x.fa-arrow-left.arrow-button.radius{ng_click: 'shiftDate(-1)'}
          .col-sm-8
            %h6.date{'pick-a-date' => 'calDate'} {{ calDate | date: 'MMMM d' }}
          .col-sm-2
            %i.fa.fa-2x.fa-arrow-right.arrow-button.radius.right{ng_click: 'shiftDate(1)'}
        .row.event{'ng-repeat' => 'schedule in prettyDates', ng_class:'{past: pastEvent(schedule), next: nextEvent($index)}'}
          .col-sm-12
            .event-time {{ schedule.next_time | date: 'h:mm a' }}
            %i.event-icon.fi-target
            .event-title {{ schedule.sequence_name }}
            %i.edit-icon.fi-pencil.right{'ng-click' => 'edit(schedule)'}
