.widget-wrapper
  .row
    .small-12.columns
      .header-wrapper
        %h5 Calendar
  .row
    .small-12.columns
      .content-wrapper
        .row.day{'ng-repeat' => '(date, scheds) in prettyDates'}
          .small-2.columns
            %h6.calendar-date {{ date.substring(0, 3) }}
            .calendar-month {{ date.substring(4, 6) }}
          .small-10.columns{'ng-repeat' => 's in scheds'}
            .small-12.columns.event
              // .past is a thing, FYI.
              // See examples in source control from 2/25/15
              .row
                .small-12.columns
                  .event-time {{ s.start_time | date: 'h a' }}
                  %i.event-icon.fi-target
                  .event-title {{ s.sequence_name }}
                  %i.edit-icon.fi-pencil.right{'ng-click' => 'edit(s)'}
