.widget-wrapper
  .row
    .small-12.columns
      .header-wrapper
        %h5 Calendar
  .row
    .small-12.columns
      .content-wrapper.calendar-wrapper
        .row.date-flipper
          .small-2.columns
            %i.fa.fa-2x.fa-arrow-left.arrow-button.radius
          .small-8.columns
            %h6.date {{ schedule.next_time | date: 'MMMM d' }} March 5 (make me real)
          .small-2.columns
            %i.fa.fa-2x.fa-arrow-right.arrow-button.radius.right
        .row.event{'ng-repeat' => 'schedule in prettyDates', ng_class:'{past: pastEvent(schedule), next: nextEvent($index)}'}
          .small-12.columns
            .event-time {{ schedule.next_time | date: 'h:mm a' }}
            %i.event-icon.fi-target
            .event-title {{ schedule.sequence_name }}
            %i.edit-icon.fi-pencil.right{'ng-click' => 'edit(schedule)'}
