.widget-wrapper
  .row
    .col-sm-12
      .header-wrapper
        %h5 Camera
  .row
    .col-sm-12
      %img.padding-bottom{src: "http://108.90.200.9:8080/?action=stream", style: "width: 1080px; height: auto; padding-bottom: 0px;"}
