.widget-wrapper
  .row
    .large-12.small-12.columns
      .header-wrapper
        %h5 Device Status
    .large-12.small-12.columns
      .content-wrapper
        .row
          .large-6.small-6.columns
            %label.left.inline Current Operation
          .large-6.small-6.columns
            %label.left.inline ?
        .row
          .large-6.small-6.columns
            %label.left.inline Status
          .large-6.small-6.columns
            %label.left.inline {{ device.status || '?'}}
        .row
          .large-6.small-6.columns
            %label.left.inline Gantry Position(X)
          .large-6.small-6.columns
            %label.left.inline {{ device.x || '?' }}
        .row
          .large-6.small-6.columns
            %label.left.inline Cross Slide Position(Y)
          .large-6.small-6.columns
            %label.left.inline {{ device.x || '?' }}
        .row
          .large-6.small-6.columns
            %label.left.inline Z-Axis Position(Z)
          .large-6.small-6.columns
            %label.left.inline {{ device.x || '?' }}
        .row.padding-bottom
          .large-6.small-6.columns
            %button.red.button-like STOP
          .large-6.small-6.columns
            %button.yellow.button-like{ng_click: 'setRefreshTimer()'} RESTART
