.widget-wrapper
  .row
    .large-12.small-12.columns
      .header-wrapper
        %h5 Device Status
    .large-12.small-12.columns
      .content-wrapper
        .row
          .large-5.small-5.columns
            %label.left.inline Current Operation
          .large-7.small-7.columns
            %label.left.inline ?
        .row
          .large-5.small-5.columns
            %label.left.inline Status
          .large-7.small-7.columns
            %label.left.inline {{ device.current.status }}
        .row
          .large-5.small-5.columns
            %label.left.inline Gantry (X)
          .large-7.small-7.columns
            %label.left.inline {{ device.current.x }}
        .row
          .large-5.small-5.columns
            %label.left.inline Cross Slide (Y)
          .large-7.small-7.columns
            %label.left.inline {{ device.current.x }}
        .row
          .large-5.small-5.columns
            %label.left.inline Z-Axis (Z)
          .large-7.small-7.columns
            %label.left.inline {{ device.current.x }}
        .row.padding-bottom
          .large-5.small-5.columns
            %button.red.button-like STOP
          .large-7.small-7.columns
            %button.yellow.button-like{ng_click: 'setRefreshTimer()'} RESTART
