.row
  .small-12.columns
    .row
      .small-12.columns
        %button.xx-small.yellow{ng_click: "updateCalibration()", style: "margin: 10px;"} UPDATE FARMBOT
        // TODO: Hide the save button ^ until a value in the table has been changed and needs saving. Once the user presses the button, change the text to 'UPDATING' (while the update is happening, just like the sync button). Once the update is complete, change it to 'UPDATED :checkmark:' and make it green.
        .header-wrapper
          %h5 Hardware
    .row
      .small-12.columns
        .content-wrapper
          %table.calibration-control
            %thead
              %tr
                %th.row-parameters
                %th.row-x GANTRY (X)
                %th.row-y CROSS-SLIDE (Y)
                %th.row-z Z-AXIS (Z)
            %tbody
              %tr.row-input
                %td LENGTH (m)
                %td
                  %input{ng_model: "device.LENGTH_X"}
                %td
                  %input{ng_model: "device.LENGTH_Y"}
                %td
                  %input{ng_model: "device.LENGTH_Z"}
              %tr.row-input
                %td MAX SPEED (mm/s)
                %td
                  %input{ng_model: "device.MOVEMENT_MAX_SPD_X"}
                %td
                  %input{ng_model: "device.MOVEMENT_MAX_SPD_Y"}
                %td
                  %input{ng_model: "device.MOVEMENT_MAX_SPD_Z"}
              %tr.row-input
                %td ACCELERATE FOR (steps)
                %td
                  %input{ng_model: "device.MOVEMENT_STEPS_ACC_DEC_X"}
                %td
                  %input{ng_model: "device.MOVEMENT_STEPS_ACC_DEC_Y"}
                %td
                  %input{ng_model: "device.MOVEMENT_STEPS_ACC_DEC_Z"}
              %tr.row-input
                %td TIMEOUT AFTER (seconds)
                %td
                  %input{ng_model: "device.MOVEMENT_TIMEOUT_X"}
                %td
                  %input{ng_model: "device.MOVEMENT_TIMEOUT_Y"}
                %td
                  %input{ng_model: "device.MOVEMENT_TIMEOUT_Z"}
              %tr.row-input
                %td STEPS PER MM
                %td
                  %input{ng_model: "device.MOVEMENT_STEPS_PER_MM_X"}
                %td
                  %input{ng_model: "device.MOVEMENT_STEPS_PER_MM_Y"}
                %td
                  %input{ng_model: "device.MOVEMENT_STEPS_PER_MM_Z"}
              %tr.row-invert
                %td INVERT ENDPOINTS
                %td
                  %calibrationbutton{toggleval: "MOVEMENT_INVERT_ENDPOINTS_X"}
                %td
                  %calibrationbutton{toggleval: "MOVEMENT_INVERT_ENDPOINTS_Y"}
                %td
                  %calibrationbutton{toggleval: "MOVEMENT_INVERT_ENDPOINTS_Z"}
              %tr.row-invert
                %td INVERT MOTOR
                %td
                  %calibrationbutton{toggleval: "MOVEMENT_INVERT_MOTOR_X"}
                %td
                  %calibrationbutton{toggleval: "MOVEMENT_INVERT_MOTOR_Y"}
                %td
                  %calibrationbutton{toggleval: "MOVEMENT_INVERT_MOTOR_Z"}
              %tr.row-invert
                %td NEGATIVES
                %td
                  %calibrationbutton{toggleval: "MOVEMENT_NEGATIVE_X"}
                %td
                  %calibrationbutton{toggleval: "MOVEMENT_NEGATIVE_Y"}
                %td
                  %calibrationbutton{toggleval: "MOVEMENT_NEGATIVE_Z"}