.widget-wrapper
  .row
    .small-12.columns
      .row
        .small-12.columns
          .header-wrapper
            %h5 Logs
      .row
        .small-12.columns
          %table
            %thead
              %tr
                %th{width: '15%'}
                  %label TIME
                %th{width: '75%'}
                  %label MESSAGE
                %th{width: '10%'}
                  %label COORDINATES
            %tbody{ng_if: "logs.length > 1"}
              %tr{'ng-repeat' => 'log in logs'}
                %td
                  %p {{ log.timestamp | date:'MM/dd h:mma' }}
                %td
                  %p {{ log.data || "-" }}
                %td
                  %p {{ (log.X || '0') + ', ' + (log.Y || '0') + ', ' + (log.Z || '0') }}
            %tbody{ng_if: "logs.length < 1"}
              %tr
                %td{colspan: '3'}
                  %p We can't find any logs. Are your FarmBot device credentials correct?
