.widget-wrapper
  .row
    .small-12.columns
      .header-wrapper
        %h5 Move
    .small-12.columns
      .content-wrapper
        %h6.control-title.text-center Move Amount (mm) {{ device.current.busy == 0 ? "Ready" : "Busy" }}
        .row
          .small-12.columns
            %button.move-amount.no-radius.leftmost{stepsize: '1'} 1
            %button.move-amount.no-radius{stepsize: '10'} 10
            %button.move-amount.no-radius{stepsize: '100'} 100
            %button.move-amount.no-radius.rightmost{stepsize: '1000'} 1000

        .row
          %table.transparent-table.jog-table{:align => "center", :style => 'border: 0px;'}
            %tr
              %td
              %td
                %directionbutton{direction: "up", axis: "y"}
              %td
              %td
                %directionbutton{direction: "up", axis: "z"}
            %tr
              %td
                %directionbutton{direction: "up", axis: "x"}
              %td
                %directionbutton{direction: "down", axis: "y"}
              %td
                %directionbutton{direction: "down", axis: "x"}
              %td
                %directionbutton{direction: "down", axis: "z"}

        .row
          .small-4.columns
            %div.control-title Gantry (X)
          .small-4.columns
            %input.move-input{:placeholder => "3.124", :type => "text", ng_model: "axis('x')", ng_model_options: "{ getterSetter: true }", ng_focus: 'buffer.x.in()', ng_blur: 'buffer.x.out()'}
          .small-4.columns
            %button.full-width.gray.button-like{ng_click: 'home("x")'} HOME X
        .row
          .small-4.columns
            %div.control-title Cross-Slide (Y)
          .small-4.columns
            %input.move-input{:placeholder => "1.210", :type => "text", ng_model: "axis('y')", ng_model_options: "{ getterSetter: true }", ng_focus: 'buffer.y.in()', ng_blur: 'buffer.y.out()'}
          .small-4.columns
            %button.full-width.gray.button-like{ng_click: 'home("y")'} HOME Y
        .row
          .small-4.columns
            %div.control-title Z-Axis (Z)
          .small-4.columns
            %input.move-input{:placeholder => "0.893", :type => "text", ng_model: "axis('z')", ng_model_options: "{ getterSetter: true }", ng_focus: 'buffer.z.in()', ng_blur: 'buffer.z.out()'}
          .small-4.columns
            %button.full-width.gray.button-like{ng_click: 'home("z")'} HOME Z
        .row.padding-bottom
          .small-4.columns
            %stopbutton
          .small-4.columns
            %button.full-width.green.button-like{ng_click: 'manualMovement()'} GO
          .small-4.columns
            %button.full-width.gray.button-like{ng_click: 'home()'} HOME ALL
