.widget-wrapper
  .row
    .small-12.columns
      .header-wrapper
        %h5 Move
    .small-12.columns
      .content-wrapper
        %h6.control-title.text-center Move Amount (mm)
        .row
          .small-12.columns
            %button.move-amount.no-radius.leftmost{ng_click: 'setMultiplier(1)'} 1
            %button.move-amount.no-radius{ng_click: 'setMultiplier(10)'} 10
            %button.move-amount.no-radius{ng_click: 'setMultiplier(100)'} 100
            %button.move-amount.no-radius.rightmost{ng_click: 'setMultiplier(1000)'} 1000

        .row
          %table.transparent-table.jog-table{:align => "center", :style => 'border: 0px;'}
            %tr
              %td
              %td
                %directionbutton{direction: "up", axis: "y"}
              %td
              %td
                %directionbutton{direction: "up", axis: "z"}
            %tr
              %td
                %directionbutton{direction: "up", axis: "x"}
              %td
                %directionbutton{direction: "down", axis: "y"}
              %td
                %directionbutton{direction: "down", axis: "x"}
              %td
                %directionbutton{direction: "down", axis: "z"}

        .row
          .small-4.columns
            %div.control-title Gantry (X)
          .small-4.columns
            %input.move-input{:placeholder => "3.124", :type => "text"}/
          .small-4.columns
            %button.full-width.gray.button-like HOME X
        .row
          .small-4.columns
            %div.control-title Cross-Slide (Y)
          .small-4.columns
            %input.move-input{:placeholder => "1.210", :type => "text"}/
          .small-4.columns
            %button.full-width.gray.button-like HOME Y
        .row
          .small-4.columns
            %div.control-title Z-Axis (Z)
          .small-4.columns
            %input.move-input{:placeholder => "0.893", :type => "text"}/
          .small-4.columns
            %button.full-width.gray.button-like HOME Z
        .row.padding-bottom
          .small-4.columns
            %button.full-width.red.button-like STOP
          .small-4.columns
            %button.full-width.green.button-like GO
          .small-4.columns
            %button.full-width.gray.button-like HOME ALL
