.widget-wrapper
  .row
    .small-12.columns
      .header-wrapper
        %h5 Move
    .small-12.columns
      .content-wrapper
        %label.text-center MOVE AMOUNT (mm) {{ device.current.busy == 0 ? "Ready" : "Busy" }}
        .row
          .small-12.columns
            %button.move-amount.no-radius.leftmost{stepsize: '1'} 1
            %button.move-amount.no-radius{stepsize: '10'} 10
            %button.move-amount.no-radius{stepsize: '100'} 100
            %button.move-amount.no-radius.rightmost{stepsize: '1000'} 1000

        .row
          %table.jog-table{:align => "center", :style => 'border: 0px;'}
            %tr
              %td
              %td
              %td
              %td
                %directionbutton{direction: "up", axis: "y"}
              %td
              %td
              %td
                %directionbutton{direction: "up", axis: "z"}
            %tr
              %td
                %button.button-like.i.fa.fa-home.arrow-button{ng_click: 'home()'}
              %td
              %td
                %directionbutton{direction: "up", axis: "x"}
              %td
                %directionbutton{direction: "down", axis: "y"}
              %td
                %directionbutton{direction: "down", axis: "x"}
              %td
              %td
                %directionbutton{direction: "down", axis: "z"}
            %tr
              %td

        .row
          .medium-6.small-7.columns.medium-offset-1
            %label GANTRY (X)
          .medium-4.small-5.columns.end
            %manualmovementinput{axisdata: 'axisdata', axis: 'x'}
        .row
          .medium-6.small-7.columns.medium-offset-1
            %label CROSS-SLIDE (Y)
          .medium-4.small-5.columns.end
            %manualmovementinput{axisdata: 'axisdata', axis: 'y'}
        .row
          .medium-6.small-7.columns.medium-offset-1
            %label Z-AXIS (Z)
          .medium-4.small-5.columns.end
            %manualmovementinput{axisdata: 'axisdata', axis: 'z'}
        .row.padding-bottom
          .medium-6.small-7.columns.medium-offset-1
            %stopbutton.left
          .medium-4.small-5.columns.end
            %button.full-width.green.button-like{ng_click: 'manualMovement()'} GO

