.widget-wrapper
  .row
    .small-12.columns
      .header-wrapper
        %h5 Plants and Operations
  .row
    .small-12.columns
      .content-wrapper
        .row
          .small-12.columns
            %input.search-box{:placeholder => "Search Plants and Operations", :type => "text"}
        .row.padding-bottom
          .small-6.columns
            .plant-block
              %img.image-background.radius{:src => "http://png-5.findicons.com/files/icons/1187/pickin_time/256/lettuce.png"}
                .control-title.text-center
                  Lettuce
          .small-6.columns
            .plant-block
              %img.image-background.radius{:src => "http://png-5.findicons.com/files/icons/1187/pickin_time/256/lettuce.png"}
                .control-title.text-center
                  Lettuce
