.widget-wrapper
  .row
    .small-12.columns
      %button.green.button-like{"ng-click" => "addSequence()", style: "margin: 9px;" }
        Add
      .header-wrapper
        %h5 Sequences
  .row
    .small-12.columns
      .content-wrapper
        %div{"ng-repeat" => "seq in storedSequences track by $id(seq)"}
          %button.full-width.text-left.no-radius.block{"ng-click" => "load(seq)", class: "{{seq.color}}-block"}
            {{seq.name}}
            %i.fa.fa-bars.right
            %i.fa.fa-pencil.right.edit-icon
