.widget-wrapper
  .row
    .small-12.columns
      .header-wrapper
        %h5 Saved Sequences
  .row
    .small-12.columns
      .content-wrapper
        %button.full-width.green.margin.button-like.text-left{"ng-click" => "addSequence()"}
          %i.step.fi-plus.size-12
          New Sequence
        %div{"ng-repeat" => "seq in storedSequences track by $id(seq)"}
          %button.full-width.text-left.no-radius.block{"as-sortable-item-handle" => "", :class => "{{seq.color}}-block"}
            {{seq.name}}
            %i.fa.fa-bars.right
            %i.fa.fa-pencil.right.edit-icon{"ng-click" => "load(seq)"}
