<div class="row">
  <div class="small-12 columns header-wrapper">
    <h5>Saved Sequences</h5>
  </div>
</div>

<div class="row">
  <div class="content-wrapper">
    <button
      class="full-width margin green left-aligned"
      ng-click="addSequence()">
      <i class="step fi-plus size-12"></i>
      New Sequence
    </button>
    <div ng-repeat="seq in storedSequences track by $id(seq)">
      <button
        ng-click="load(seq)"
        class="full-width left-aligned margin no-radius {{seq.color}}-block">
        {{seq.name}}
      </button>
    </div>
  </div>
</div>
