.widget-wrapper
  .row
    .col-sm-12
      .header-wrapper
        %button.green.button-like.text-left{"ng-click" => "addSequence()", style: 'margin-top: -3px;'}
          %i.step.fi-plus.size-12
          Add
        %h5 Sequences
  .row
    .col-sm-12
      .content-wrapper
        %div{"ng-repeat" => "seq in storedSequences track by $id(seq)"}
          %button.full-width.text-left.no-radius.block{"ng-click" => "load(seq)", class: "{{seq.color}}-block"}
            {{seq.name}}
            %i.fa.fa-bars.right
            %i.fa.fa-pencil.right.edit-icon
