<div class="widget-wrapper">
  <div class="row">
    <div class="small-12 columns">
      <div class="header-wrapper">
        <h5>Schedule a Sequence</h5>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <div class="content-wrapper">
        <div class="row padding-bottom">
          <div class="small-4 columns">
            <p>Choose a Sequence</p>
          </div>

          <div class="small-12 columns">
            <div class="small-12 columns">
              <div class="row content-area blue-content">
                <div class="large-6 columns">
                  <div class="row collapse prefix-radius">
                    <div class="small-4 columns">
                      <span class="prefix uppercase">Plant-ID</span>
                    </div>
                    <div class="small-8 columns">
                      <input type="text" placeholder="42">
                    </div>
                  </div>
                  <div class="row collapse prefix-radius">
                    <div class="small-4 columns">
                      <span class="prefix uppercase">Date</span>
                    </div>
                    <div class="small-8 columns">
                      <input type="text" placeholder="25 August">
                    </div>
                  </div>
                  <div class="row collapse prefix-radius">
                    <div class="small-4 columns">
                      <span class="prefix uppercase">Repeat</span>
                    </div>
                    <div class="small-8 columns">
                      <input type="text" placeholder="Weekly">
                    </div>
                  </div>
                </div>
                <div class="large-6 columns">
                  <div class="row collapse prefix-radius">
                    <div class="small-6 columns">
                      <span class="prefix uppercase">Tool-ID</span>
                    </div>
                    <div class="small-6 columns">
                      <input type="text" placeholder="3">
                    </div>
                  </div>
                  <div class="row collapse prefix-radius">
                    <div class="small-6 columns">
                      <span class="prefix uppercase">Time</span>
                    </div>
                    <div class="small-6 columns">
                      <input type="text" placeholder="9:00am">
                    </div>
                  </div>
                  <div class="row collapse prefix-radius">
                    <div class="small-6 columns">
                      <span class="prefix uppercase">Ends</span>
                    </div>
                    <div class="small-6 columns">
                      <input type="text" placeholder="Never">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row padding-bottom">
          <div class="small-12 columns">
            <button class="green button-like" ng-click="saveEvent(event)">
            Schedule
            </button>
            <button class="red button-like left" ng-click="deleteEvent(event)">
            Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
