.widget-wrapper
  .row
    .small-12.columns
      .header-wrapper
        %h5 Schedule a Sequence
  .row
    .small-12.columns
      .content-wrapper
        .row.padding-bottom
          .small-4.columns
            %p Choose a Sequence
          .small-12.columns
            .small-12.columns
              .row.content-area.blue-content
                .large-6.columns
                  .row.collapse.prefix-radius
                    .small-3.columns
                      %span.prefix.uppercase Starts
                    .small-9.columns
                      %input{'pick-a-date' => "form.dstart", placeholder: "Today", :type => "text"}
                  .row.collapse.prefix-radius
                    .small-3.columns
                      %span.prefix.uppercase Ends
                    .small-9.columns
                      %input{'pick-a-date' => "form.dend", :placeholder => "Never", :type => "text"}
                  .row.collapse.prefix-radius
                    .small-3.columns
                      %span.prefix.uppercase Time
                    .small-9.columns
                      %input{'pick-a-time' => "form.tstart", placeholder: "Now", type: "text"}
                .large-6.columns
                  .row.collapse.prefix-radius
                    .small-4.columns
                      %span.prefix.uppercase Every
                    .small-4.columns
                      %input{:placeholder => "4", :type => "text"}
                    .small-4.columns
                      %select{'ng-options' => 'item.value as item.show for item in repeats', 'ng-model' => 'form.repeat'}
                  .row.collapse.prefix-radius
                    .small-4.columns
                      %span.prefix.uppercase Plant-ID
                    .small-8.columns
                      %input{:placeholder => "42", :type => "text"}
                  .row.collapse.prefix-radius
                    .small-4.columns
                      %span.prefix.uppercase Tool-ID
                    .small-8.columns
                      %input{:placeholder => "3", :type => "text"}
        .row.padding-bottom
          .small-12.columns
            %button.green.button-like{"ng-click" => "saveEvent(event)"}
              Schedule
            %button.red.button-like.left{"ng-click" => "deleteEvent(event)"}
              Delete
