.widget-wrapper
  .row
    .col-sm-12
      .header-wrapper
        %h5 Schedule a Sequence
  .row
    .col-sm-12
      %form.content-wrapper{name: 'form',  "ng-submit" => "submit()" }
        .row.padding-bottom
          .col-sm-4
            %p Choose a Sequence
          .col-sm-12
            .col-sm-12
              .row.content-area.blue-content
                .col-md-6
                  .row.collapse.prefix-radius
                    .col-sm-3
                      %span.prefix.uppercase Starts
                    .col-sm-9
                      %input{'pick-a-date' => "form.start_time", placeholder: "Today", :type => "text"}
                  .row.collapse.prefix-radius
                    .col-sm-3
                      %span.prefix.uppercase Ends
                    .col-sm-9
                      %input{'pick-a-date' => "form.end_time", :placeholder => "Never", :type => "text"}
                  .row.collapse.prefix-radius
                    .col-sm-3
                      %span.prefix.uppercase Time
                    .col-sm-9
                      %input{'pick-a-time' => "form.start_time", placeholder: "Now", type: "text"}
                .col-md-6
                  .row.collapse.prefix-radius
                    .col-sm-4
                      %span.prefix.uppercase * Every
                    .col-sm-4
                      %input{:placeholder => "4", :type => "text", ng_model: 'form.repeat', required: true}
                    .col-sm-4
                      %select{'ng-options' => 'item.value as item.show for item in repeats', 'ng-model' => 'form.time_unit', required: true}
                  .row.collapse.prefix-radius
                    .col-sm-4
                      %span.prefix.uppercase Tool-ID
                    .col-sm-8
                      %input{:placeholder => "3", :type => "text"}
                  .row.collapse.prefix-radius
                    .col-sm-4
                      %span.prefix.uppercase * Sequence
                    .col-sm-8
                      %select{'ng-options' => 'item._id as item.name for item in sequences', 'ng-model' => 'form.sequence_id', required: true}
        .row
          .col-sm-12
            %button.green.button-like{'ng-disabled' => 'form.$invalid', type: 'submit'}
              Schedule
            %syncbutton{schedules: "schedules"}
            %button.red.button-like.left{"ng-click" => "destroy()", type: 'button'}
              Delete
        .row.padding-bottom
          .col-sm-12
            %strong{'ng-show' => 'form.$invalid'}
              Fields marked with (*) are required.
