.widget-wrapper
  .row
    .large-12.small-12.columns
      .header-wrapper
        %h5 Tool Control
    .large-12.small-12.columns
      .content-wrapper
        .row
          .large-6.small-6.columns
            %label.inline VACUUM PUMP
          .large-6.small-6.columns
            %togglebutton{peripheral: 'vacuum'}
        .row
          .large-6.small-6.columns
            %label.inline WATER VALVE
          .large-6.small-6.columns
            %togglebutton{peripheral: 'water'}
        .row
          .large-6.small-6.columns
            %label.inline LED
          .large-6.small-6.columns
            %togglebutton{peripheral: 'led'}
