.widget-wrapper
  .row
    .col-md-12.col-sm-12
      .header-wrapper
        %h5 Tool Control
    .col-md-12.col-sm-12
      .content-wrapper
        .row
          .col-md-6.col-sm-6
            %label.inline VACUUM PUMP
          .col-md-6.col-sm-6
            %togglebutton{peripheral: 'vacuum'}
        .row
          .col-md-6.col-sm-6
            %label.inline WATER VALVE
          .col-md-6.col-sm-6
            %togglebutton{peripheral: 'water'}
        .row
          .col-md-6.col-sm-6
            %label.inline LED
          .col-md-6.col-sm-6
            %togglebutton{peripheral: 'led'}
