// Styles for the sequence and regimen BLOCKS
.block-wrapper {
  height: 3.5rem;
  margin-bottom: 1.5rem;
  button {
    transition: all 0.2s ease-out;
    &:hover {
      transition: all 0.2s ease-out;
      .block-control {
        transition: all 0.2s ease-out;
        opacity: 1;
      }
    }
  }
}

.block-control {
  transition: all 0.2s ease-out;
  opacity: 0;
  float: right;
  font-size: 1.4rem !important;
  padding-left: 1rem;
}

.block-header {
  height: 3.5rem;
  font-size: 1.2rem !important;
}