@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,100,100italic);
html {
  height: 100%;
}

.static-page {
  min-height: 100vh;
  padding: 2rem;
  background: linear-gradient(-135deg, #089460, #159ACC);
  background-size: 400% 400%;
  .forgot-password {
    color: $blue;
    font-size: 1rem;
  }
  h1,
  h2 {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #f4f4f4;
    text-align: center;
  }
  h1 {
    font-size: 2.6rem;
    line-height: 3.2rem;
    margin-bottom: 10px;
  }
  h2 {
    margin-top: 0;
    font-size: 1.8rem;
    margin-bottom: 3rem;
    line-height: 2.2rem;
    display: none;
  }
  .widget-wrapper {
    box-shadow: none !important;
  }
  img {
    display: none;
  }
  * {
    outline: none;
  }
  .image-login-wrapper {
    display: flex;
  }
  .widget-header i {
    float: right;
    color: #fff;
    padding: 0.2rem 0 0;
    cursor: pointer;
  }
  .input-field {
    display: flex;
    width: 130%;
    label {
      flex: 1;
      padding: 0.5rem 0 0;
    }
    input {
      flex: 2;
    }
  }
  // Mobile portrait
  @media screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
    .all-content-wrapper.login-wrapper {
      padding: 1.5rem 2rem 0rem 2rem;
    }
    .fb-mobile-show {
      display: block;
    }
    h1,
    h2 {
      margin: 20px 0 20px;
    }
  }
  // Tablet landscape
  @media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .fb-tablet-show {
      display: block;
    }
    .image-wrapper {
      padding-top: 2.2rem;
    }
    h1 {
      font-size: 3rem;
      line-height: 0.2rem;
      margin: 50px 0 32px;
    }
  }
  // Tablet portrait
  @media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .fb-tablet-show:not(img) {
      display: block;
    }
    .all-content-wrapper {
      padding: 3rem 16rem 0rem !important;
    }
  }
  // Desktop
  @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .fb-desktop-show {
      display: block;
    }
    .image-wrapper {
      padding: 2.6rem 0 0;
      flex: 2;
    }
    img {
      width: 100%;
    }
    .login-wrapper {
      flex: 1;
    }
    .image-login-wrapper {
      padding: 0 10rem !important;
    }
  }
}

.image-login-wrapper {
  max-width: 160rem;
}