.image-flipper {
    margin-top: 2rem;
    position: relative;
}

.image-flipper-image {
    max-width: 100%;
    margin: auto;
    max-height: 650px;
}

.image-flipper-left {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    &:hover {
        background-color: rgba(0, 0, 0, 0.7);
    }
}

.image-flipper-right {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    &:hover {
        background-color: rgba(0, 0, 0, 0.7);
    }
}

.is-loaded-false {
    display: none;
}

.is-loaded-true {
    display: block;
}

.no-flipper-image-container {
    p {
        position: absolute;
        text-shadow: 0 0 25px rgba(0, 0, 0, 1), 0 0 25px rgba(0, 0, 0, 1);
        color: $white;
        font-size: 1.8rem;
        text-align: center;
        padding: 10% 10rem 0;
        line-height: 2.4rem;
        left: 0;
        right: 0;
    }
}
