// Styles for ALL WIDGETS
.widget-wrapper {
  box-shadow: 0px 0px 10px $gray;
  margin-bottom: 3rem;
}

.tools,
.account,
.controls,
.devices,
.regimens,
.farmware,
.sequences {
  .widget-header {
    >*+*:not(.fa) {
      margin-right: 1rem;
    }
  }
  .widget {
    box-shadow: 0px 0px 10px #cccccc;
  }
  .widget-body {
    background: $off_white;
    border-color: $light_gray;
    color: $dark_gray;
    padding: 1.25rem;
    &.calendar-wrapper {
      padding-bottom: 20px;
    }
    &.no-bottom-padding {
      padding-bottom: 0px;
    }
    >.row:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}

// ok... :(
.peripherals-widget {
  .widget-body div>.row:not(:last-child) {
    margin-bottom: 1.2rem;
  }
  .widget-header button[class*="is-saving"] {
    margin-right: 0;
  }
}

@media (max-width: 600px) {
  .widget-wrapper {
    margin-bottom: 1.5rem;
  }
}

.widget-header {
  background: $dark_gray;
  letter-spacing: .05rem;
  padding: .75rem 1rem;
  h5 {
    color: $gray;
    font-size: 1.2rem;
    margin: .25rem;
    text-transform: uppercase;
    display: inline;
    margin-right: 1rem;
  }
  p {
    font-size: 1rem;
    font-style: italic;
  }
}

.widget-control {
  margin-top: 0.7rem;
  margin-right: 1.5rem;
}

i.widget-help-icon {
  display: inline;
  padding: 1rem 0;
  color: $medium_gray;
  &:hover {
    color: $gray;
    transition-delay: 0.1s;
  }
}

.widget-help-text {
  font-style: italic;
  color: $off_white;
  line-height: 2rem;
  font-family: sans-serif;
  padding: 0 0.3rem;
  opacity: 0;
  max-height: 0px;
  overflow: hidden;
  transition: 0.5s;
  transition-delay: 0.2s;
}

.widget-help-icon:hover .widget-help-text,
.widget-help-icon:active .widget-help-text {
  opacity: 100;
  padding: 0.5rem 0.3rem;
  max-height: 200px;
  transition: 0.5s;
  transition-delay: 0.5s;
}

.widget-content {
  background: $off_white;
  border-color: $light_gray;
  color: $dark_gray;
  padding: 1.25rem;
  &.calendar-wrapper {
    padding-bottom: 20px;
  }
  &.no-bottom-padding {
    padding-bottom: 0px;
  }
  td {
    vertical-align: top;
    button:not(.fb-toggle-button) {
      float: left;
    }
  }
  p {
    padding-top: 0.2rem;
  }
}