<div class="row"></div>
<nav class="navbar navbar-default drop-shadow" ng_app="farmbot" ng_controller="nav" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display
    -->
    <div class="navbar-header">
      <button class="navbar-toggle" data-target="#navbar" data-toggle="collapse" type="button">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling
    -->
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <% if current_user %>
          <li>
            <a href="/pages/farm_designer">Farm Designer</a>
          </li>
          <li>
            <a href="/dashboard#/movement">Controls</a>
          </li>
          <li>
            <a href="/dashboard#/devices">Devices</a>
          </li>
          <li>
            <a href="/dashboard#/sequence">Sequences</a>
          </li>
          <li>
            <a href="/dashboard#/schedule">Schedules</a>
          </li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user && controller_name == "dashboard" %>
          <li>
            <syncbutton class="nav-status-buttons" schedules="schedules"></syncbutton>
          </li>
          <li>
            <stopbutton class="nav-status-buttons"></stopbutton>
          </li>
        <% end %>
        <% if current_user %>
          <li>
            <a href="<%= destroy_user_session_path %>">Sign out</a>
          </li>
          <li>
            <a href="<%= edit_user_registration_path %>">My Account</a>
          </li>
        <% else %>
          <li>
            <a href="<%= dashboard_path %>">Log In</a>
          </li>
          <li>
            <a href="<%= new_user_registration_path %>">Register</a>
          </li>
          <li>
            <a href="<%= page_path('help') %>">Help</a>
          </li>
        <% end %>
      </ul>
    </div>
    <!-- /.navbar-collapse
    -->
  </div>
  <!-- /.container-fluid
  -->
</nav>
<div class="row">
  <div class="container col-xs-12 col-sm-6 col-md-4 col-xs-centered">
    <% if notice %>
      <div class="alert-box notice round" onClick="hidden = true">
        <%= notice %>
        <a class="close" style="margin-right: 10px; color: white; opacity: 1.0;">×</a>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert-box alert round" onClick="hidden = true">
        <%= alert %>
        <a class="close" style="margin-right: 10px; color: white; opacity: 1.0;">×</a>
      </div>
    <% end %>
  </div>
</div>
