<ul class="button-group even-4">
  <li><a href="#" class="button secondary"> Wed, Aug 21, 2:36 PM <span>74</span></a></li>
  <li><a href="#" class="button secondary"> $4.12/day <span>Water </span></a></li>
  <li><a href="#" class="button secondary"> $0.73/day <span>Pesticide </span></a></li>
  <li><a href="#" class="button secondary"> $1.19/day <span>Fertilizer </span></a></li>
</ul>
  
<div class="container">

<div class="large-2 columns">
  <div class="panel">
  
  <input type="text" placeholder="Search">
  <h5>My Plants &amp; Operations</h5>
    
  <ul class="large-block-grid-2">
  <li><img src="http://placehold.it/100&amp;text=Plant"></li>
  <li><img src="http://placehold.it/100&amp;text=Plant"></li>
  <li><img src="http://placehold.it/100&amp;text=Plant"></li>
  <li><img src="http://placehold.it/100&amp;text=Plant"></li>
  <li><img src="http://placehold.it/100&amp;text=Plant"></li>
  <li><img src="http://placehold.it/100&amp;text=Plant"></li>
  </ul>
  
  <br>
  
  <h5>All Plants &amp; Operations</h5>
    
  <ul class="large-block-grid-2">
  <li><img src="http://placehold.it/100&amp;text=Plant"></li>
  <li><img src="http://placehold.it/100&amp;text=Plant"></li>
  <li><img src="http://placehold.it/100&amp;text=Plant"></li>
  <li><img src="http://placehold.it/100&amp;text=Plant"></li>
  <li><img src="http://placehold.it/100&amp;text=Plant"></li>
  <li><img src="http://placehold.it/100&amp;text=Plant"></li>
  </ul>
    
    
  </div><!-- End Panel --> 
</div><!-- End Large-2 -->

<div class="large-8 columns">
  <div class="panel">Farm Designer</div><!-- End Panel --> 
</div><!-- End Large-8 --> 

<div class="large-2 columns">
  <div class="panel">
  
  <input type="text" placeholder="Search">
  <h4>Operation Agenda</h4>
  <br>
  
  <section>
  <h6>Wednesday, Aug 21</h6>
  <ul class="side-nav">
  <li class="active"><a href="#">4am Water 1, 2, 3, 4</a></li>
  <li><a href="#">10am Water 2, 3</a></li>
  <li><a href="#">1pm Till 5</a></li>
  <li class="divider"></li>
  <li><a href="#">3pm Water 5</a></li>
  <li><a href="#">5pm Water 5</a></li>
  </ul>
  </section>
  
  <section>
  <h6>Thursday, Aug 22</h6>
  <ul class="side-nav">
  <li class="active"><a href="#">4am Water 1, 2, 3, 4</a></li>
  <li><a href="#">10am Water 2, 3</a></li>
  <li><a href="#">1pm Till 5</a></li>
  <li class="divider"></li>
  <li><a href="#">3pm Water 5</a></li>
  <li><a href="#">5pm Water 5</a></li>
  </ul>
  </section>
  
  <section>
  <h6>Friday, Aug 23</h6>
  <ul class="side-nav">
  <li class="active"><a href="#">4am Water 1, 2, 3, 4</a></li>
  <li><a href="#">10am Water 2, 3</a></li>
  <li><a href="#">1pm Till 5</a></li>
  <li class="divider"></li>
  <li><a href="#">3pm Water 5</a></li>
  <li><a href="#">5pm Water 5</a></li>
  </ul>
  </section>
  
  </div><!-- End Panel -->
</div><!-- End Large-2 -->




</div><!-- End Container --> 
