<ul class="button-group even-4">
  <li><a href="#" class="button secondary"> Wed, Aug 21, 2:36 PM <span>74</span></a>
  </li>
  <li><a href="#" class="button secondary"> $4.12/day <span>Water </span></a>
  </li>
  <li><a href="#" class="button secondary"> $0.73/day <span>Pesticide </span></a>
  </li>
  <li><a href="#" class="button secondary"> $1.19/day <span>Fertilizer </span></a>
  </li>
</ul>
<div class="container">
  <!-- Side Bar -->
  <div class="large-6 columns">
    <div class="panel clearfix">
      <div class="large-4 columns">
        <h6>Farmbot</h6>
        <dl class="accordion" data-accordion="">
          <dd class="">
            <a href="#panel1">Genesis Tracks</a>
            <div id="panel1" class="content">
              <p>Model: Genesis Tracks v2.6</p>
              <p>Length: 36 meters</p>
              <p>Width: 2 meters</p>
              <p>Height: 18 centimeters</p>
              <p>Installation date: 9/6/2013</p>
            </div>
          </dd>
          <dd>
            <a href="#panel2">Genesis Gantry</a>
            <div id="panel2" class="content">
              Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
          </dd>
          <dd>
            <a href="#panel3">Richmond Cross Slide</a>
            <div id="panel3" class="content">
              Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
          </dd>
          <dd class="">
            <a href="#panel4">Custom Tool Mount</a>
            <div id="panel4" class="content">
              Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
          </dd>
        </dl>
      </div>
      <!-- end large-4 -->
      <div class="large-4 columns">
        <h6>Tools</h6>
        <dl class="accordion" data-accordion="">
          <dd class="">
            <a href="#panel5">Genesis Seed Injector</a>
            <div id="panel5" class="content">
            </div>
          </dd>
          <dd class="">
            <a href="#panel6">FarmBot Pro Nozzle</a>
            <div id="panel6" class="content">
              Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
          </dd>
          <dd>
            <a href="#panel7">Precision Burner</a>
            <div id="panel7" class="content">
              Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
          </dd>
          <dd class="">
            <a href="#panel8">Alain Tiller</a>
            <div id="panel8" class="content">
              Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
          </dd>
        </dl>

      </div>
      <!-- end large-4 -->
      <div class="large-4 columns">
        <h6>Sensors</h6>
        <dl class="accordion" data-accordion="">
          <dd class="">
            <a href="#panel9">Ambient Temperature</a>
            <div id="panel9" class="content">
            </div>
          </dd>
          <dd>
            <a href="#panel10">Moisture Meter</a>
            <div id="panel10" class="content">
              Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
          </dd>
          <dd class="">
            <a href="#panel11">Genesis pH</a>
            <div id="panel11" class="content">
              Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
          </dd>
        </dl>
      </div>
      <!-- end large-4 -->
    </div>
    <!-- End Panel -->
    <div class="panel">
      <div class="container clearfix">
        <div class="large-4 columns">Gantry (X)</div>
        <div class="large-4 columns">
          <span class="label round success"><i class="fi-plus"></i>
          </span>46
          <span class="label round alert"><i class="fi-minus"></i>
          </span>
        </div>
        <div class="large-4 columns">Jog to:</div>
      </div>
      <br>
      <div class="container clearfix">
        <div class="large-4 columns">Cross-Slide (Y)</div>
        <div class="large-4 columns">
          <span class="label round success"><i class="fi-plus"></i>
          </span>46
          <span class="label round alert"><i class="fi-minus"></i>
          </span>
        </div>
        <div class="large-4 columns">Jog to:</div>
      </div>
      <br>
      <div class="container clearfix">
        <div class="large-4 columns">Tool Mount (Z)</div>
        <div class="large-4 columns">
          <span class="label round success"><i class="fi-plus"></i>
          </span>46
          <span class="label round alert"><i class="fi-minus"></i>
          </span>
        </div>
        <div class="large-4 columns">Jog to:</div>
      </div>
      <br>
      <br>
      <ul class="button-group even-3">
        <li><a href="#" class="button small">Jog to Home</a>
        </li>
        <li><a href="#" class="button small">Calibrate</a>
        </li>
        <li><a href="#" class="button small alert">Shutdown</a>
        </li>
      </ul>
    </div>
    <!-- End Panel -->



    <a href="#" data-reveal-id="myModal" data-reveal="">
      <div class="panel callout radius">
        <h6>View System Information</h6>
      </div>
    </a>
  </div>
  <!-- End Side Bar -->

  <div id="myModal" class="reveal-modal" data-reveal="" style="display: none; opacity: 1; visibility: hidden; top: -665px;">
    <h2>System Information</h2>
    <p>Next operation in: 9 minutes (Watering)</p>
    <a class="close-reveal-modal">×</a>
  </div>

  <!-- Thumbnails -->
  <div class="large-6 columns">

    <div class="panel">
      <nav class="top-bar" data-topbar="">
        <ul class="title-area">
          <li class="name">
            <h1><a href="#">Resource Usage</a>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#">Menu</a>
          </li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li class="has-dropdown not-click">
              <a href="#">Plot 1: Nitrogen Fertilizer</a>
              <ul class="dropdown">
                <li class="title back js-generated">
                  <h5><a href="javascript:void(0)">Back</a>
                  </h5>
                </li>
                <li><a href="#">First link in dropdown</a>
                </li>
              </ul>
            </li>
            <li class="has-dropdown not-click">
              <a href="#">Plot 2: Water</a>
              <ul class="dropdown">
                <li class="title back js-generated">
                  <h5><a href="javascript:void(0)">Back</a>
                  </h5>
                </li>
                <li><a href="#">First link in dropdown</a>
                </li>
              </ul>
            </li>
          </ul>
        </section>
      </nav>

      <div class="panel-chart">
        <img src="http://placehold.it/1000x400&amp;text=Graph">
      </div>
    </div>
    <!-- end panel -->

    <div class="panel">
      <nav class="top-bar" data-topbar="">
        <ul class="title-area">
          <li class="name">
            <h1><a href="#">Finances</a>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#">Menu</a>
          </li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li class="has-dropdown not-click">
              <a href="#">Plot 1: Revenue</a>
              <ul class="dropdown">
                <li class="title back js-generated">
                  <h5><a href="javascript:void(0)">Back</a>
                  </h5>
                </li>
                <li><a href="#">First link in dropdown</a>
                </li>
              </ul>
            </li>
            <li class="has-dropdown not-click">
              <a href="#">Plot 2: Expenditures</a>
              <ul class="dropdown">
                <li class="title back js-generated">
                  <h5><a href="javascript:void(0)">Back</a>
                  </h5>
                </li>
                <li><a href="#">First link in dropdown</a>
                </li>
              </ul>
            </li>
          </ul>
        </section>
      </nav>

      <div class="panel-chart">
        <img src="http://placehold.it/1000x400&amp;text=Graph">
      </div>
    </div>
    <!-- end panel -->
  </div>
  <!-- End Thumbnails -->

</div>
<!-- End Container -->
