.row
  .large-12.columns
    %h1 Manage FarmBot Device Settings
    %form
      %fieldset
        %legend FarmBot Settings
        .row
          .large-12.columns
            %label Friendly Name
            %input{placeholder: "Franny the FarmBot", type: "text"}/
        .row
          .large-6.columns
            %label Skynet UUID
            %input{placeholder: "ad698900-2546-11e3-87fb-c560cb0ca47b", type: "text"}/
          .large-6.columns
            %label Skynet Security Token
            %input{placeholder: "4bbd2jm242dl5wmimbwz4rvlu77m0a4i", type: "text"}/
        .row
          .large-12.columns
            %button.button
              %i.fi-check{style: 'font-size: 18px;'}
                Store Settings
  %table
    %thead
      %tr
        %th{width: '90%'} Friendly Name
        %th{width: '5%'} Delete
        %th{width: '5%'} Edit
    %tbody
      %tr
        %td
          Franny the Farmbot
        %td
          %button.tiny.alert.button
            %i.fi-x{style: 'font-size: 18px;'}
        %td
          %button.tiny.button
            %i.fi-wrench{style: 'font-size: 18px;'}
      %tr
        %td
          The Cabbage Patch Kid
        %td
          %button.tiny.alert.button
            %i.fi-x{style: 'font-size: 18px;'}
        %td
          %button.tiny.button
            %i.fi-wrench{style: 'font-size: 18px;'}