<div class="row">
  		<div class="large-4 small-12 columns">
  			<div class="row">

  				<div class="large-12 small-12 columns">
  					<div class="header-wrapper">
  					    <h5>Move Relative</h5>
  					</div>
  				</div>
  				<div class="large-12 small-12 columns">
  					<div class="content-wrapper">
  					    <h6>Move Amount(mm)</h6>
  					    <div class="row">
  					    	<button class="x-small button radius">Manual</button>
  					        <button class="x-small button radius">1</button>
  					        <button class="x-small button radius">10</button>
  					        <button class="x-small button radius">100</button>
  					        <button class="x-small button radius">1000</button>
  					    </div>
  					    <div class="row">
  					    	<div class="large-9 small-6 columns">
  					    		<p><span class="spacing-left">(X)</span></p>
  					    	</div>
  					    	<div class="large-3 small-6 columns">
  					    		<p>(Z)</p>
  					    	</div>
  					    </div>
  					    <div class="row">
  					    	<div class="large-9 small-6 columns">
  					    		<span class="spacing-left"><i class="fa fa-arrow-circle-up fa-2x"></i></span>
  					    	</div>
  					    	<div class="large-3 small-6 columns">
  					    		&nbsp;<i class="fa fa-arrow-circle-up fa-2x"></i>&nbsp;
  					    	</div>
  					    </div>
  					    <div class="row">
  					    	<div class="large-9 small-6 columns">
  					    		<p><span class="spacing-right">(Y)</span><i class="fa fa-arrow-circle-left fa-2x"></i>&nbsp;<i class="fa fa-arrow-circle-down fa-2x"></i>&nbsp;<i class="fa fa-arrow-circle-right fa-2x"></i></p>
  					    	</div>
  					    	<div class="large-3 small-6 columns">
  					    		&nbsp;<i class="fa fa-arrow-circle-down fa-2x"></i>&nbsp;
  					    	</div>
  					    </div>
  					    <div class="row">
  					        <div class="large-12 columns">
  					        	<button class="xx-small button radius stop expand">STOP</button>
  					        </div>

  				        </div>
  					</div>
  				</div>

  				<div class="large-12 small-12 columns">
  					<div class="header-wrapper">
  						<h5>Tool Control</h5>
  					</div>
  				</div>
  				<div class="large-12 small-12 columns">
  					<div class="content-wrapper">
  					    <div class="row">
  					    	<div class="large-6 small-6 columns">
  					    		<label class="left inline">Vacuum Pump</label>
  					    	</div>
  					    	<div class="large-6 small-6 columns">
  					    		<div class="switch small radius">
                                    <input id="exampleRadioSwitch2" type="radio" name="testGroup">
                                    <label for="exampleRadioSwitch2"></label>
                                </div>
  					    	</div>
  					    </div>
  					    <div class="row">
  					    	<div class="large-6 small-6 columns">
  					    		<label class="left inline">Water Pump</label>
  					    	</div>
  					    	<div class="large-6 small-6 columns">
  					    		<div class="switch small radius">
                                    <input id="exampleRadioSwitch2" type="radio" name="testGroup">
                                    <label for="exampleRadioSwitch2"></label>
                                </div>
  					    	</div>
  					    </div>
  					    <div class="row">
  					    	<div class="large-6 small-6 columns">
  					    		<label class="left inline">LED</label>
  					    	</div>
  					    	<div class="large-6 small-6 columns">
  					    		<div class="switch small radius">
                                    <input id="exampleRadioSwitch2" type="radio" name="testGroup">
                                    <label for="exampleRadioSwitch2"></label>
                                </div>
  					    	</div>
  					    </div>
  					</div>
  				</div>

  		    </div>
  		</div>

  		<div class="large-4 small-12 columns">
  			<div class="row">
  				<div class="large-12 small-12 columns">
  					<div class="header-wrapper">
  						<h5>Camera 1</h5>
  					</div>
  				</div>
  				<div class="large-12 small-12 columns">
  				        <div class="flex-video">
                            <iframe width="420" height="315" src="//www.youtube.com/embed/Qjcd4jt8eEM" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
  				</div>
  			</div>
  			<div class="row">
  				<div class="large-12 small-12 columns">
  					<div class="header-wrapper">
  						<h5>Move Absolute</h5>
  					</div>
  				</div>
  				<div class="large-12 small-12 columns">
  					<div class="content-wrapper">
  						<div class="row">
  							<div class="large-4 small-4 columns">
  								<label class="left inline shrink">Gantry(X)</label>
  							</div>
  							<div class="large-4 small-4 columns">
  								<input type="text" placeholder="3.124m">
  							</div>
  							<div class="large-4 small-4 columns">
  								<button class="xx-small expand button radius">HOME X</button>
  							</div>
  						</div>
  				        <div class="row">
  				        	<div class="large-4 small-4 columns">
  				        		<label class="left inline shrink">Cross Slide(Y)</label>
  				        	</div>
  				        	<div class="large-4 small-4 columns">
  				        		<input type="text" placeholder="1.210m">
  				        	</div>
  				        	<div class="large-4 small-4 columns">
  				        		<button class="xx-small expand button radius">HOME Y</button>
  				        	</div>
  				        </div>
  				        <div class="row">
  				        	<div class="large-4 small-4 columns">
  				        		<label class="left inline shrink">Tool Mount(Z)</label>
  				        	</div>
  				        	<div class="large-4 small-4 columns">
  				        		<input type="text" placeholder="0.893m">
  				        	</div>
  				        	<div class="large-4 small-4 columns">
  				        		<button class="xx-small expand button radius">HOME Z</button>
  				        	</div>
  				        </div>
  				        <div class="row">
  				        	<div class="large-4 small-4 columns">
  				        		<button class="xx-small expand button radius stop">STOP</button>
  				        	</div>
  				        	<div class="large-4 small-4 columns">
  				        		<button class="xx-small expand button radius go">GO</button>
  				        	</div>
  				        	<div class="large-4 small-4 columns">
  				        		<button class="xx-small expand button radius">HOME ALL</button>
  				        	</div>
  				        </div>
  					</div>
  				</div>

  			</div>
  		</div>

  		<div class="large-4 small-12 columns">
  			<div class="row">
  				<div class="large-12 small-12 columns">
  					<div class="header-wrapper">
  						<h5>Device Status</h5>
  					</div>
  				</div>
  				<div class="large-12 small-12 columns">
  				    <div class="content-wrapper">
  				    	<div class="row">
  						  <div class="large-6 small-6 columns">
  							<label class="left inline">Current Operation</label>
  						  </div>
  						  <div class="large-6 small-6 columns">
  						    <label class="left inline">Idle</label>
  						  </div>
  					    </div>
  					    <div class="row">
  						  <div class="large-6 small-6 columns">
  						  	<label class="left inline">Next Operation</label>
  						  </div>
  						  <div class="large-6 small-6 columns">
  						  	<label class="left inline">Current Operation</label>
  						  </div>
  					    </div>
  					    <div class="row">
  						  <div class="large-6 small-6 columns">
  						  	<label class="left inline">Gantry Position(X)</label>
  						  </div>
  						  <div class="large-6 small-6 columns">
  						  	<label class="left inline">3.124 m</label>
  						  </div>
  					    </div>
  					    <div class="row">
  						  <div class="large-6 small-6 columns">
  						  	<label class="left inline">Cross Slide Position(Y)</label>
  						  </div>
  						  <div class="large-6 small-6 columns">
  						  	<label class="left inline">1.210 m</label>
  						  </div>
  					    </div>
  					    <div class="row">
  						  <div class="large-6 small-6 columns">
  						  	<label class="left inline">Z-Axis Position(Z)</label>
  						  </div>
  						  <div class="large-6 small-6 columns">
  						  	<label class="left inline">0.893 m</label>
  						  </div>
  					    </div>
  					    <div class="row">
  						  <div class="large-6 small-6 columns">
  						  	<button class="xx-small expand button radius stop">STOP</button>
  						  </div>
  						  <div class="large-6 small-6 columns">
  						  	<button class="xx-small expand button radius restart">RESTART</button>
  						  </div>
  					    </div>
  				    </div>
  				</div>
  			</div>
  		</div>
  	</div>
