<div class="farm-designer" id="root">
</div>

<script type="text/javascript">
  window.initialState = {
    leftMenu: {
      component: 'PlantInventory',
      tab:       'Plants'
    },
    global: {
      plants: <%= raw(current_user.device.plants.to_json) %>,
      selectedPlant: {}
    }
  };
</script>

<%= javascript_include_tag "/build/farm-designer.js" %>
