.farm-designer
  .farm-designer-body
    .farm-designer-left
      = render partial: "dashboard/ng-partials/farm-designer/left_side"
    .farm-designer-middle
      = render partial: "dashboard/ng-partials/farm-designer/middle"
    .farm-designer-right
      = render partial: "dashboard/ng-partials/farm-designer/right_side"
= javascript_include_tag "farmbot_app/react/farm_designer"
