%br
%br
%h1.text-center Welcome to the FarmBot Web App
%br
%h3.text-center Setup, customize, and control FarmBot from any device
%br
%br
%img.front-page-image{ :src => "http://farmbot.io/wp-content/uploads/2014/03/Web-App-on-Different-Devices-1.png" }
%br
%br
%br
%h2.text-center
  %button.green.button-like
    %a{ :href => "/app/login" } Login or Create an Account
%br
%br
