%br
%br
%h1.text-center Welcome to the FarmBot Web App
%br
%h3.text-center Setup, customize, and control FarmBot from any device
%br
%br
%img{:src => "http://farmbot.io/wp-content/uploads/2014/03/Web-App-on-Different-Devices-1.png", :style => "width: 80%; max-width: 1200px; margin-left: auto; margin-right: auto; display: block;"}/
%br
%br
%br
%h2.text-center
  %a{:href => "/app/login"} Login or Create an Account
%br
%br
