<div class="row">
      <div class="large-12 columns">
        <h1>Create your Farmbot Account</h1>
      </div>
  </div>
<div class="row">
    <div class="large-6 columns">
      <ul>
        <li>Graphically Design your farm or garden with drag and drop plants and operations.</li>
        <li>Adjust grow settings for maximum efficiency.</li>
        <li>Analyze data maps for data-driven design.</li>
        <li>View and edit scheduled operations.</li>
        <li>Communicate with your FarmBot.</li>
      </ul>
    </div>
    <div class="large-6 columns">
      <div class="signup-panel">
        <p class="welcome"> Create your Account</p>
        <form>
          <div class="row collapse">
            <div class="small-2  columns">
              <span class="prefix"><i class="fi-torso-female"></i></span>
            </div>
            <div class="small-10  columns">
              <input type="text" placeholder="username">
            </div>
          </div>
          <div class="row collapse">
            <div class="small-2 columns">
              <span class="prefix"><i class="fi-mail"></i></span>
            </div>
            <div class="small-10  columns">
              <input type="text" placeholder="email">
            </div>
          </div>
          <div class="row collapse">
            <div class="small-2 columns ">
              <span class="prefix"><i class="fi-lock"></i></span>
            </div>
            <div class="small-10 columns ">
              <input type="text" placeholder="password">
            </div>
          </div>
        </form>
        <a href="#" class="button ">Next Step</a>
         <p>Already have an account? <a href="#">Login here »</a></p>
      </div><!--end signup form-->
    </div>
  </div>