@use "../variables" as *;
@use "sass:color";

.ticker-list {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background: var(--main-bg);
  backdrop-filter: var(--blur);
  min-height: 3rem;
  cursor: pointer;
  label {
    cursor: pointer;
  }
  .bp6-collapse {
    width: 100% !important;
    overflow-y: scroll !important;
    max-height: 20rem !important;
  }
  * {
    color: var(--text-color);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
  &:after {
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
  }
  a {
    color: $off_white;
    &:link {
      font-weight: 500;
      color: $off_white;
    }
    &:visited {
      color: $off_white;
    }
    &:hover {
      font-weight: bold;
      color: $off_white;
    }
    &:active {
      color: $off_white;
    }
  }
  details,
  p:empty {
    display: none;
  }
}

.status-ticker-wrapper {
  padding: 0.7rem 1rem;
  .saucer {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
  }
}

.ticker-list,
.first-ticker {
  .markdown p {
    font-weight: 600;
    display: block;
    code {
      background: $dark_gray;
    }
  }
}

.first-ticker {
  height: 3rem;
  overflow: hidden;
  .status-ticker-created-at {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: none;
  }
  .status-ticker-wrapper {
    &:hover {
      background: initial;
    }
  }
}

.status-ticker-created-at {
  white-space: nowrap;
  float: right;
  margin-top: 0.2rem;
  font-weight: 400;
}

// background: linear-gradient(to top, black 0%, transparent 30%);
.status-ticker-message {
  display: inline;
  letter-spacing: 0.1rem;
  span {
    -webkit-animation: flash 1.5s ease-in;
    animation: flash 1.5s ease-in;
  }
}

.logs-page-link {
  text-align: center;
  label {
    cursor: pointer;
  }
  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}
