// Styles for the sequence and regimen BLOCKS
.block-wrapper {
  height: 3.5rem;
  margin-bottom: 1.5rem;
  text-align: left !important;
  &.active {
    box-shadow: none !important;
    border: 1px solid $white;
    pointer-events: none !important;
  }
  button {
    transition: all 0.2s ease-out;
    text-align: left;
    &:hover {
      transition: all 0.2s ease-out;
      .block-control {
        transition: all 0.2s ease-out;
        opacity: 1;
      }
    }
  }
}

.block-control {
  transition: all 0.2s ease-out;
  opacity: 0;
  float: right;
  font-size: 1.4rem !important;
  padding-left: 1rem;
}

.block-header {
  height: 3.5rem;
  font-size: 1.2rem !important;
}

.fb-button.gray.block {
  background-color: $medium_light_gray !important;
  box-shadow: 0 2px 0px 0px darken($medium_light_gray, 12%);
  &:hover {
    background-color: darken($medium_light_gray, 5%) !important;
  }
}

.fb-button.block {
  color: $dark_gray;
}