// Styles for LABELS
label {
  color: $dark_gray;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  &.day-label {
    position: absolute;
    text-align: center;
    width: 10%;
    margin-bottom: 0px;
    line-height: 3rem;
    border: solid $gray;
    background: $white;
    border-width: 1px 0.5px;
    &.left-most {
      border-left-width: 1px;
    }
    &.right-most {
      border-right-width: 1px;
    }
  }
  &.week-label {
    width: 25%;
    text-align: center;
    vertical-align: middle;
    margin-top: -1.75rem;
  }
}

input[type=checkbox]:checked+label.day-label {
  color: $off_white;
  background: $dark_gray;
}