.nav-wrapper {
  box-shadow: 0 4px 10px $translucent;
  background: $dark_gray;
}

nav {
  background-color: $dark_gray;
  color: $light_gray;
  font-size: 1.2rem;
  letter-spacing: .15rem;
  text-transform: uppercase;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem 0.6rem;
  max-width: 140rem;
  margin: 3rem auto 0;
  .nav-sync {
    margin-right: 2rem !important;
  }
  .mobile-menu-extras {
    display: none;
  }
  .mobile-only {
    display: none;
  }
  .page-name {
    display: none;
  }
  .right-nav-content {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }
  .links {
    .fa {
      display: none;
    }
  }
  ul {
    display: flex;
    justify-content: space-around;
  }
  button {
    margin: 0 !important;
    font-size: 1.2rem !important;
    padding: 0.5rem 1rem;
  }
  a {
    white-space: nowrap;
    padding: 1.8rem 1rem 2rem;
    color: $gray !important;
    position: relative;
    transition: all 0.6s ease;
    &:hover {
      color: $white !important;
      font-weight: bold;
      transition: all 0.6s ease;
    }
    &.active {
      color: $white !important;
      font-weight: bold;
      transition: all 0.4s ease;
      &:before {
        content: "";
        background: $dark_gray;
        position: absolute;
        bottom: -3px;
        left: 0;
        right: 0;
        height: 3px;
        z-index: 1;
        animation: slide-up 0.4s ease forwards;
      }
      &:after {
        content: "";
        background: $white;
        position: absolute;
        bottom: -3px;
        left: 0;
        right: 0;
        height: 3px;
      }
    }
  }
  .nav-dropdown {
    cursor: pointer;
    position: relative;
    padding: 1.4rem;
    &:hover,
    &:active {
      .nav-dropdown-content {
        opacity: 1;
        transition: all 0.2s ease-in-out;
        pointer-events: all;
      }
    }
    .name {
      white-space: nowrap !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      max-width: 16rem;
      display: inline-block;
    }
    .nav-dropdown-content {
      top: 4rem;
      transition: all 0.2s ease-in-out;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      position: absolute;
      display: block;
      background: #434343;
      padding: 0 2.6rem 2.6rem;
      right: 0;
      z-index: 1;
      opacity: 0;
      pointer-events: none;
      &:hover {
        opacity: 1;
        transition: all 0.2s ease-in-out;
        pointer-events: all;
      }
      i {
        padding-right: 1rem;
      }
      ul {
        display: flex;
        flex-direction: column;
        width: 20rem;
        li {
          padding: 1rem;
          width: 22rem;
        }
      }
      .version-links {
        position: absolute;
        font-size: 1rem;
        background: #000;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        padding: 0.8rem;
        a {
          text-decoration: underline !important;
        }
      }
    }
  }
}