// Styles for the Regimen Editor Widget
.regimen-day {
  margin: 1.5rem 0;
}

.regimen-event {
  background: $gray;
  padding: 0.7rem;
  border-radius: 3px;
  height: 3.5rem;
  margin-bottom: 1rem;
}

.regimen-event-title {
  color: $dark_gray;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.regimen-event-time {
  margin-left: 1.5rem;
}

.regimen-control {
  float: right;
  margin-right: 0.7rem;
  margin-top: 0.3rem;
}

.regimen-days-label {
  margin-left: 50%;
  margin-top: 2rem;
}

.bulk-scheduler {
  .pt-button {
    overflow: hidden;
  }
}