// Styles for ALL STEPS
.step-wrapper {
    box-shadow: 0px 0px 10px $gray;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    border-radius: 3px;
    .bottom-content {
        display: flex;
        fieldset {
            text-align: right;
        }
        .channel-options {
            flex: 1;
            margin-top: 2rem;
        }
        .channel-fields {
            flex: 1;
            input,
            label {
                width: auto;
                cursor: pointer;
                display: inline-block;
            }
            input {
                margin-left: 1rem;
                box-shadow: none;
            }
        }
    }
}

@media (max-width: 600px) {
    .step-wrapper {
        margin-bottom: 1.5rem;
    }
}

.step-header {
    letter-spacing: .05rem;
    padding: .75rem 1rem;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
     ::-webkit-input-placeholder {
        color: $dark_gray;
        font-weight: bold;
        text-transform: uppercase;
    }
     ::-moz-placeholder {
        color: $dark_gray;
        font-weight: bold;
        text-transform: uppercase;
    }
     :-ms-input-placeholder {
        color: $dark_gray;
        font-weight: bold;
        text-transform: uppercase;
    }
    input {
        width: auto;
        padding: 0rem;
        background-color: transparent;
        box-shadow: none;
        color: $dark_gray;
        font-weight: bold;
    }
    p {
        font-size: 1rem;
        font-style: italic;
    }
    &.move-absolute-step {
        background: $blue;
    }
    &.move-relative-step {
        background: $green;
    }
    &.write-pin-step {
        background: $orange;
    }
    &.read-pin-step {
        background: $yellow;
    }
    &.wait-step {
        background: $brown;
    }
    &.send-message-step {
        background: $red;
    }
    &.find-home-step {
        background: $blue;
    }
    &.if-step {
        background: $purple;
    }
    &.execute-step {
        background: $gray;
    }
    &.execute-script-step {
        background: $pink;
    }
    &.take-photo-step {
        background: $brown;
    }
    .help {
        float: right;
    }
}

.step-control {
    margin-top: 0.3rem;
    margin-left: 2rem;
    float: right;
}

.step-content {
    border-color: $light_gray;
    color: $dark_gray;
    padding: 1.25rem 1.25rem;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    &.move-absolute-step {
        background: $light_blue;
    }
    &.move-relative-step {
        background: $light_green;
    }
    &.write-pin-step {
        background: $light_orange;
    }
    &.read-pin-step {
        background: $light_yellow;
    }
    &.wait-step {
        background: $light_brown;
    }
    &.send-message-step {
        background: $light_red;
    }
    &.find-home-step {
        background: $light_blue;
    }
    &.if-step {
        background: $light_purple;
        h4 {
            margin: 0 0 0.4rem;
            font-style: italic;
            &:not(.top) {
                margin: 1.4rem 0 0.4rem;
            }
        }

        // CHRIS HALP!
        // Modifications for check box on "if" block.
        // -RC 7 June 17
        input[type=checkbox] {
          width: inherit;
          box-shadow: none;
          vertical-align: middle;
        }

        input {
            height: 34px;
        }
    }
    &.execute-step {
        background: $light_gray;
        padding-bottom: 1rem;
    }
    &.execute-script-step {
        background: $light_magenta;
        padding-bottom: 1rem;
    }
    &.take-photo-step {
        background: $light_brown;
    }
    &.take-photo-step a {
        color: $dark_brown;
    }
    input,
    select {
        width: 100%;
    }
}
