.green-content
  .search-box-wrapper
    %input.search{placeholder: "Search"}
  %ul.tabs
    %li.active
      %a{href: "#"} Plants
    %li
      %a{href: "#"} Groups
    %li
      %a{href: "#"} Zones

%ul.crop-inventory
  %li
    %a{href: "#"} Cabbage
    %div 2 days old
  %li
    %a{href: "#"} Cabbage
    %div 2 days old
  %li
    %a{href: "#"} Cabbage
    %div 2 days old
  %li
    %a{href: "#"} Cabbage
    %div 2 days old
  %li
    %a{href: "#"} Cabbage
    %div 2 days old
  %li
    %a{href: "#"} Cabbage
    %div 2 days old
  .fb-tooltip
    .tooltip-text
      Add a new plant
  %span.plus-circle.dark-green
