.green-content
  %input.search{placeholder: "Search"}
  %ul.tabs
    %li.active Plants
    %li Groups
    %li Zones

%ul.crop-inventory
  %li
    %div Cabbage
    %div 2 days old
  %li
    %div Cabbage
    %div 2 days old
  %li
    %div Cabbage
    %div 2 days old
  %li
    %div Cabbage
    %div 2 days old
  %li
    %div Cabbage
    %div 2 days old
  %li
    %div Cabbage
    %div 2 days old
  %li
    %div Cabbage
    %div 2 days old
  %li
    %div Cabbage
    %div 2 days old
  %li
    %div Cabbage
    %div 2 days old
  %li
    %div Cabbage
    %div 2 days old
  %li
    %div Cabbage
    %div 2 days old
  %li
    %div Cabbage
    %div 2 days old
  %li
    %div Cabbage
    %div 2 days old
  %li
    %div Cabbage
    %div 2 days old
  %li
    %div Cabbage
    %div 2 days old
  %li
    %div Cabbage
    %div 2 days old
  %li
    %div Cabbage
    %div 2 days old
  %li
    %div Cabbage
    %div 2 days old
  %li
    %div Cabbage
    %div 2 days old
  %li
    %div Cabbage
    %div 2 days old
  %li
    %div Cabbage
    %div 2 days old

%div
  Add new plant
  %button +
