.green-content
  %input.search{placeholder: "Search"}
  %ul.tabs
    %li.active Plants
    %li Groups
    %li Zones

%ul.crop-inventory
  %li
    %a{href: "#"} Cabbage
    %div 2 days old
  %li
    %a{href: "#"} Cabbage
    %div 2 days old
  %li
    %a{href: "#"} Cabbage
    %div 2 days old
  %li
    %a{href: "#"} Cabbage
    %div 2 days old
  %li
    %a{href: "#"} Cabbage
    %div 2 days old
  %li
    %a{href: "#"} Cabbage
    %div 2 days old
  .fb-tooltip
    .tooltip-text
      Add a new plant
  %span.plus-circle
