%div{"data-equalizer-watch"=> "foo"}
  %div.brown.garden-view
    <span style="background-color: #cdf">light_blue(#cdf)</span><span style="background-color: #00f">blue(#00f)</span><span style="background-color: #37d">dark_blue(#37d)</span><span style="background-color: #bda">light_green(#bda)</span><span style="background-color: #6a4">green(#6a4)</span><span style="background-color: #371">dark_green(#371)</span><span style="background-color: #b90">gold(#b90)</span><span style="background-color: #fec">beige(#fec)</span>
    <br>
    <span style="background-color: #fd6">yellow(#fd6)</span><span style="background-color: #ffc">light_yellow(#ffc)</span><span style="background-color: #fa0">orange(#fa0)</span><span style="background-color: #e93">dark_orange(#e93)</span><span style="background-color: #bad">lavender(#bad)</span><span style="background-color: #64a">royal_purple(#64a)</span><span style="background-color: #a47">dark_purple(#a47)</span>
    <br>
    <span style="background-color: #dab">pink_purple(#dab)</span><span style="background-color: #e99">pink(#e99)</span><span style="background-color: #e66">dark_pink(#e66)</span><span style="background-color: #fc9">peach(#fc9)</span><span style="background-color: #f00">red(#f00)</span><span style="background-color: #900">dark_red(#900)</span>
