.purple-content
  .search-box-wrapper
    %input.search{placeholder: "Search"}
.calendar
  = render partial: "dashboard/ng-partials/widgets/calendar"
  %p
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  .fb-tooltip
    .tooltip-text
      Add a new plant
  %span.plus-circle.dark-purple

