.content-wrapper{
  border-style: solid;
  border-width: 1px;
  border-top-width: 0px;
  border-color: #d8d8d8;
  margin-bottom: 1rem;
  padding: 1.25rem;
  background: #ffffff;
  color: #333333;
}
.header-wrapper{
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  margin-bottom: 0rem;
  padding: 1rem;
  background: #333333;
  color: #ffffff;
}
.header-wrapper h5{
  color: #ffffff;
}
.header-wrapper p{
  font-size: 88%;
  font-style: italic;
}
.drag-drop-area{
  border-style: dashed;
  border-width: 2px;
  border-color: #d8d8d8;
  margin-bottom: 1rem;
  padding: 1.25rem;
  background: #ffffff;
  color: #333333;
  text-align: center;
}
