.fluid-span-1 {
  width: 7.4166666667%;
}

.fluid-span-2 {
  width: 15.8333333333%;
}

.fluid-span-3 {
  width: 24.25%;
}

.fluid-span-4 {
  width: 32.6666666667%;
}

.fluid-span-5 {
  width: 41.0833333333%;
}

.fluid-span-6 {
  width: 49.5%;
}

.fluid-span-7 {
  width: 57.9166666667%;
}

.fluid-span-8 {
  width: 66.3333333333%;
}

.fluid-span-9 {
  width: 74.75%;
}

.fluid-span-10 {
  width: 83.1666666667%;
}

.fluid-span-11 {
  width: 91.5833333333%;
}

.fluid-span-12 {
  width: 100%;
}

.fluid-offset-1 {
  margin-left: 8.4166666667%;
}

.fluid-offset-2 {
  margin-left: 16.8333333333%;
}

.fluid-offset-3 {
  margin-left: 25.25%;
}

.fluid-offset-4 {
  margin-left: 33.6666666667%;
}

.fluid-offset-5 {
  margin-left: 42.0833333333%;
}

.fluid-offset-6 {
  margin-left: 50.5%;
}

.fluid-offset-7 {
  margin-left: 58.9166666667%;
}

.fluid-offset-8 {
  margin-left: 67.3333333333%;
}

.fluid-offset-9 {
  margin-left: 75.75%;
}

.fluid-offset-10 {
  margin-left: 84.1666666667%;
}

.fluid-offset-11 {
  margin-left: 92.5833333333%;
}

