<div class="icon-group">
  <a href=""><i class="fa fa-angle-up"></i></a>&nbsp;
  <span ng-click="deleteStep($index)">
    <a href=""><i class="fa fa-trash" ></i></a>&nbsp;
  </span>
  <span ng-click="copy(step, $index)">
    <a href=""><i class="fa fa-clipboard" ></i></a>&nbsp;
  </span>
  <span as-sortable-item-handle>
    <a href=""><i class="fa fa-bars"></i></a>
  </span>
</div>
