.ticker-list {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background: $black;
  opacity: 0.9;
  .pt-collapse {
    overflow-y: scroll !important;
    max-height: 20rem !important;
  }
  * {
    color: $white;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
  &:after {
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
  }
  a {
    color: $off_white;
    &:link {
      font-weight: 500;
      color: $off_white;
    }
    &:visited {
      color: $off_white;
    }
    &:hover {
      font-weight: bold;
      color: $off_white;
    }
    &:active {
      color: $off_white;
    }
  }
}

.status-ticker-wrapper {
  padding: 0.6rem 1rem 0;
  transition: all 0.2s ease;
  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  .saucer {
    margin: 0.2rem 0.6rem 0rem 0;
    float: left;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
  }
}

.ticker-list,
.first-ticker {
  .markdown p {
    font-weight: 600;
    code {
      background: $dark_gray;
    }
  }
}

.first-ticker {
  padding-bottom: 0.5rem;
  background: $black;
  .status-ticker-created-at {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .status-ticker-wrapper {
    &:hover {
      background: initial;
    }
  }
}

.status-ticker-created-at {
  float: right;
  margin-top: 0.2rem;
  font-weight: 400;
}

// background: linear-gradient(to top, black 0%, transparent 30%);
.status-ticker-message {
  display: inline;
  letter-spacing: 0.1rem;
  span {
    -webkit-animation: flash 1.5s ease-in;
    animation: flash 1.5s ease-in;
  }
}

.logs-page-link {
  label {
    cursor: pointer;
  }
  text-align: center;
  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}
