.static-page {
  min-height: 100vh;
  max-height: 100%;
  * {
    margin: 0 auto;
  }
  background: linear-gradient(-135deg, #6db1ec, #35a274);
  padding-top: 4rem;
  h1,
  h2 {
    font-family: "Roboto", Arial, Helvetica, sans-serif !important;
    font-weight: 100 !important;
    color: $white;
    text-shadow: 0 0 25px rgba(0, 0, 0, 0.1), 0 0 25px rgba(0, 0, 0, 0.1);
  }
  h1 {
    font-size: 3.4rem;
    line-height: 3.6rem;
  }
  h2 {
    margin-top: 1rem;
    font-size: 2.2rem;
    line-height: 2.6rem;
  }
  input {
    margin-bottom: 1rem;
  }
  .all-content-wrapper {
    max-width: 50rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .widget-wrapper {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  .inner-width {
    max-width: 1024px;
  }
  .forgot-password {
    display: inline-block;
    color: $blue;
  }
  .tos {
    margin-bottom: 1.5rem;
  }
  input[type="checkbox"] {
    float: left;
    margin-right: 0.5rem;
    margin-top: 0.25rem;
  }
  a:link {
    font-weight: 300;
    color: $dark_gray;
  }
  a:visited {
    color: $medium_gray;
  }
  a:hover {
    font-weight: 500;
  }
  a:active {
    color: $medium_gray;
    font-weight: 500;
  }
  .fa-gear {
    float: right;
  }
  .fa-external-link {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 736px) {
  h2 {
    margin-bottom: 8rem !important;
  }
}

@media only screen and (min-device-width: 768px) {
  h2 {
    margin-bottom: 6rem !important;
  }
  .widget-wrapper:first-child {
    margin-top: 1rem;
  }
}
