.help {
  display: inline;
  margin-left: 2rem;
  .help-text {
    display: none;
  }
  &:hover,
  &:active {
    .help-text {
      position: absolute;
      z-index: 999;
      padding: 2px;
      font-style: normal;
      background-color: $dark_gray;
      color: $off_white;
      border-radius: 3px;
      padding: .5rem .8rem;
      width: 250px;
      left: 17rem;
      bottom: -0.8rem;
      display: block;
    }
  }
}

.title-help {
  display: inline;
  .fa {
    color: $dark_gray;
  }
  &:hover {
    .fa {
      color: $black;
    }
    .title-help-text {
      max-height: 16rem;
      transition-delay: 0.5s;
      color: $black;
      transition: all 0.8s ease;
      margin-bottom: 4rem;
    }
  }
}

.title-help-text {
  overflow: hidden;
  max-height: 0;
  color: transparent;
  transition: all 0.5s ease;
  transition-delay: 0.5s;
  a {
    pointer-events: all;
  }
  a:link {
    font-style: normal;
    color: $black;
  }
  a:hover {
    font-weight: 600;
    color: $black;
  }
  a:active {
    color: $black;
  }
}

.title-help-icon {
  margin: 0 1rem;
}
