/* SITE-WIDE BACKGROUND */

body {
background: #ECECEC;
}

/* SITE-WIDE NAVIGATION */

.drop-shadow{
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

nav{
  background-color: #434343;
  margin: 0px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  height: 48px;
  transition: height 0.2s;
}

nav > a, .small-menu-title{
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0px;
  color: #D5D5D5;
}
nav > a:hover{
  background-color: #666;
  color: white!important;
}

nav > a:focus{
  color: #D5D5D5;
}

nav > a.large-menu-right{
  float: right;
}

.small-menu-title{
    display: none;
  }

@media only screen and (max-width: 64.063em) {

  nav:hover{
  height: 432px;
  transition: height 0.2s;
  }

  nav > a{
  display: none;
  }

  nav:hover > a{
  display: block;
  }

  nav > a.large-menu-right{
  float: none;
  }

  .small-menu-title{
    display: inline-block;
  }
}

/* SITE WIDE STUFF */

.alert-box.alert.round, .alert-box.notice.round{
  background-color: #E06666;
  border: none;
  font-weight: bold;
  padding-left: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

* {
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.padding-bottom {
  padding-bottom: 20px
}

.control-title {
  font-weight: bold;
  font-size: 0.8rem;
}

.no-right-gutter{
  padding-right: 0px;
}

button {
  font-size: 0.8rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
}

.button-like:active {
  border-bottom-width: 1px!important;
  transform: translateY(2px);
  margin-top: 2px;
}

.no-radius {
  border-radius: 0px;
}

.radius {
  border-radius: 5px;
}

.full-width {
  width: 100%;
}

button.green, input.green {
  float: right;
  background-color: #6AA84F;
  color: white;
  font-weight: bold;
  border-bottom: 3px solid #38761D;
}
button.red, input.red {
  background-color: #E06666;
  float: right;
  color: white;
  font-weight: bold;
  border-bottom: 3px solid #990000;
}
button.gray {
  background-color: #666666;
  float: right;
  color: white;
  font-weight: bold;
  border-bottom: 3px solid #333333;
}
button.yellow {
  background-color: #FFD966;
  float: right;
  color: #666666;
  font-weight: bold;
  border-bottom: 3px solid #BF9000;
}

fieldset legend {
background: transparent;
}

fieldset {
border: none;
}

.row {
  max-width: 120rem;
}

/* DEVICE SETTINGS PAGE */

.device-row:hover {
  background-color: #D9D9D9;
}

.light-icon{
  color: #EEE;
}

.medium-icon{
  font-size: 1.3rem;
}

.widget-wrapper{
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  margin-bottom: 20px;
}
