// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,100,100italic);

// Font Variables
// TODO: Prevent this from being overridden by normalize.css
$roboto: 'Roboto', Arial, Helvetica, sans-serif;

// Variables

$translucent:    rgba(0, 0, 0, 0.2);
$translucent2:   rgba(0, 0, 0, 0.6);
$white:          #fff;
$off_white:      #f4f4f4;
$light_gray:     #ddd;
$gray:           #cccccc;
$medium_gray:    #666666;
$dark_gray:      #434343;
$black:          #000;

$light_blue:     #cdf;
$blue:           #a4c2f4;
$dark_blue:      #37d;

$light_green:    #bda;
$green:          #6a4;
$dark_green:     #371;


$light_yellow:   #ffc;
$yellow:         #fd6;
$gold:           #b90;
$beige:          #fec;
$brown:          #CA8;

$orange:         #fa0;
$dark_orange:    #e93;

$light_purple:   #dab;
$lavender:       #bad;
$royal_purple:   #64a;
$dark_purple:    #a47;

$pink:           #e99;
$dark_pink:      #e66;
$peach:          #fc9;
$red:            #f00;
$dark_red:       #900;

%greenish {
  float: right;
  background-color: $green;
  color: $off_white;
  font-weight: bold;
  border-bottom: 3px solid $dark_green;
}

%reddish {
  background-color: $dark_pink;
  float: right;
  color: $off_white;
  font-weight: bold;
  border-bottom: 3px solid $dark_red;
}

%extend_1 {
  background-color: $white;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 2px;
    box-shadow: 0 4px 10px $translucent;
}

%extend_2 {
  background-color: $light_gray;
  color: $black;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px $translucent;
    transition: all 0.2s ease-out;
}

%extend_3 {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0;
  color: $light_gray;
}

%extend_4 {
  background-color: $dark_pink;
  border: none;
  font-weight: bold;
  padding-left: 20px;
  box-shadow: 0 4px 10px $translucent;
}

// Styles
body, html {
  font-family: $roboto;
  font-weight: 400;
}
h1, h2, h3, h4, h5, h6, p {
  font-family: $roboto;
  font-weight: 400;
}

p {
  font-size: 1.1rem;
  color: $dark_gray;
  line-height: 1.4rem;
  margin-bottom: 0;
}

.button {
  font-family: $roboto;
  font-weight: 700;
  margin-bottom: 0;
}

.flex {
  display: flex;
}

.flex1 {
  flex: 1;
}

.flex2 {
  flex: 2;
}

.flex3 {
  flex: 3;
}

.flex4 {
  flex: 4;
}

.flex5 {
  flex: 5;
}

.flex6 {
  flex: 6;
}

.fb-tooltip{
  padding: 2px;
  display: inline;
  font-style: normal;
  .tooltip-text {
    font-style: normal;
    display: inline;
    background-color: $dark_gray;
    color: $off_white;
    border-radius: 3px;
    padding: 3px;
  }
  &:after {
    display: inline-block;
    content: ' ';
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid $dark_gray;
  }
}

.designer-info {
  .crop-drag-info-image {
    max-width: 98%;
    padding: 0 auto 0 auto;
    background-color: $translucent;
  }
  .crop-info-overlay {
    position: relative;
    bottom: 3rem;
    z-index: 3;
    background-color: $dark_gray;
    font-style: italic;
    color: $off_white;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    height: 3rem;
    max-width: 98%;
  }
  padding: 0 5px 0 5px;
  color: $dark_gray;
  a {
    color: $dark_gray;
    padding: 0 0 0 4px;
    text-transform: none;
    text-decoration: underline;
    font-weight: normal;
    font-size: 0.75rem;
  }
  li {
    padding: 2px;
  }
  h6 {
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.plantCatalogTile{
  cursor: pointer;
}

.plus-circle{
  border-radius: 50%;
  width: 52px;
  height: 52px;
  padding: 13px;
  font-family: FontAwesome;
  color: $off_white;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  font-style: normal;
  cursor: pointer;
  &:after {
    content: '\f067';
  }
}

  .farm-designer-body {
    display: flex;
    flex-direction: column;
  }

  .farm-designer-left {
    order: -1;
    background-color: $light_green;
  }
  .farm-designer-body {
    flex-direction: row;
    flex: 1;
  }
  .farm-designer-middle {
    flex: 1;
    background-color: $brown;
  }
  .farm-designer-left, .farm-designer-right {
    /* 12em is the width of the columns */
    flex: 0 0 20em;
  }
  .farm-designer-right {
    background-color: $light_purple;
  }

.farm-designer {
  display: flex;
  flex-direction: column;
  .calendar{
    padding-top: 10px;
  }
  .garden-view {
  }
  margin-top: -4px;
  .search-box-wrapper {
    padding: 6px;

    p {
      color: $light_gray;
      margin: auto 0 auto 0;
    }
    a {
      color: $light_gray;
      margin: 2px;
    }
  }
  .search {
    &::-webkit-input-placeholder { color: $light_gray; }
    &:-moz-placeholder { color: $light_gray; }
    &::-moz-placeholder { color: $light_gray; }
    &:-ms-input-placeholder { color: $light_gray; }
    color: $light_gray;
    display: block;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid $light_gray;
    margin: 0 auto 9px auto;
    padding: 10px 0px 5px 0px;
    width: 90%;
  }
  .tabs{
    display: table;
    width: 100%;
    list-style: none;
    a { color: $light_gray; }
    li {
      display: table-cell;
      text-align: center;
      text-transform: uppercase;
      color: $light_gray;
      font-family: Arial, Helvetica, sans-serif;
    }
    .active {
      color: $light_gray;
      border-bottom: 3px solid $light_gray;
      font-weight: bold;
    }
  }
  .crop-inventory {
    a {
      color: $dark_gray;
      font-style: none;
      text-decoration: underline;
      font-size: 1rem;
    }
    font-style: italic;
    font-size: 0.71rem;
    background-color: $light_green;
    color: $dark_gray;
    margin: 0 0 0 0;
  }
}

.x-small {
  padding-left: 0.95rem;
  padding-right: 0.95rem;
  padding-top: 0.5rem;
  padding-bottom: 0.6rem;
  font-size: 0.825rem;
  color: $dark_gray;
  background-color: $light_gray;
}
.xx-small {
  padding-left: 0.45rem;
  padding-right: 0.45rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.625rem;
  background-color: $dark_gray;
}
button {
  font-size: .8rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding-top: .2rem;
  padding-bottom: .2rem;
  padding-left: .8rem;
  padding-right: .8rem;
  border-radius: 3px;
  border-bottom-width: 2px!important;
  border: none;
  margin-bottom: 0px;
  &.stop {
    background-color: $red;
  }
  &.go {
    background-color: $green;
  }
  &.restart {
    background-color: $orange;
  }
  &.move-amount {
    background-color: $white;
    border-right: 2px solid $off-white;
    box-shadow: 0px 0px 10px $light_gray;
    color: $medium_gray;
    font-weight: bold;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    width: 25%;
    margin: 0;
    float: left;
        transition: 0s;
    &:hover {
      background-color: $medium_gray;
      color: $off_white;
    }
    &:nth-child(n+2) {
      border-left: 0;
    }
    &.leftmost {
      border-bottom-left-radius: 7px;
      border-top-left-radius: 7px;
    }
    &.rightmost {
      border-bottom-right-radius: 7px;
      border-top-right-radius: 7px;
      border-right: 0px none;
    }
  }
  &.move-amount-selected {
    background-color: $medium_gray;
    color: $off_white;
  }
  &.green {
    @extend %greenish;
  }
  &.red {
    @extend %reddish;
  }
  &.gray {
    background-color: $dark_gray;
    float: right;
    color: $off_white;
    font-weight: bold;
    border-bottom: 3px solid $dark_gray;
  }
  &.yellow {
    background-color: $yellow;
    float: right;
    color: $dark_gray;
    font-weight: bold;
    border-bottom: 3px solid $gold;
  }
}
.content-wrapper {
  border-style: none;
  border-top-width: 0;
  border-color: $light_gray;
  padding: 1.25rem;
  padding-bottom: 0;
  background: $off_white;
  color: $dark_gray;
  &.calendar-wrapper {
    padding-bottom: 20px;
  }
}
.header-wrapper {
  margin-bottom: 0;
  padding: .75rem 1rem;
  background: $dark_gray;
  text-transform: uppercase;
  letter-spacing: .05rem;
  h5 {
    color: $gray;
    margin: .25rem;
    font-size: 1.2rem;
  }
  p {
    font-size: 88%;
    font-style: italic;
  }
}
.small-header-wrapper {
  @extend .header-wrapper;
  padding: 0.25rem;
}
.drag-drop-area {
  border-style: dashed;
  border-width: 2px;
  border-color: $light_gray;
  color: $gray;
  font-weight: bold;
  margin-bottom: 1rem;
  padding: 1.25rem;
  background: $off_white;
  text-align: center;
  color: $gray;
  font-weight: bold;
}
.blue-header {
  background-color: $blue;
  color: $dark_gray;
}
.blue-block {
  background-color: $blue;
  color: $dark_gray;
  &:hover {
    background-color: $blue;
    color: $dark_gray;
  }
  &:focus {
    background-color: $blue;
    color: $dark_gray;
  }
}
.blue-content {
  background-color: $light_blue;
}
.dark-green { background: $dark_green; }
.green-header {
  background-color: $light_green;
  color: $dark_gray;
}
.green-block {
  background-color: $light_green;
  color: $dark_gray;
  &:hover {
    background-color: $light_green;
    color: $dark_gray;
  }
  &:focus {
    background-color: $light_green;
    color: $dark_gray;
  }
}
.green-content {
  background-color: $dark_green;
  position: relative;
}

.yellow-header {
  background-color: $yellow;
  color: $dark_gray;
}
.yellow-block {
  background-color: $yellow;
  color: $dark_gray;
  &:hover {
    background-color: $yellow;
    color: $dark_gray;
  }
  &:focus {
    background-color: $yellow;
    color: $dark_gray;
  }
}
.yellow-content {
  background-color: $light_yellow;
}
.orange-header {
  background-color: $peach;
  color: $dark_gray;
}
.orange-block {
  background-color: $peach;
  color: $dark_gray;
  &:hover {
    background-color: $peach;
    color: $dark_gray;
  }
  &:focus {
    background-color: $peach;
    color: $dark_gray;
  }
}
.orange-content {
  background-color: $beige;
}
.purple-header {
  background-color: $lavender;
  color: $dark_gray;
}
.purple-block {
  background-color: $lavender;
  color: $dark_gray;
  &:hover {
    background-color: $lavender;
    color: $dark_gray;
  }
  &:focus {
    background-color: $lavender;
    color: $dark_gray;
  }
}
.purple-content {
  background-color: $dark_purple;
}

.light-purple-content {
  background-color: $light_purple;
}
.dark-purple { background: $dark_purple; }

.pink-header {
  background-color: $light_purple;
  color: $dark_gray;
}
.pink-block {
  background-color: $light_purple;
  color: $dark_gray;
  &:hover {
    background-color: $light_purple;
    color: $dark_gray;
  }
  &:focus {
    background-color: $light_purple;
    color: $dark_gray;
  }
}
.pink-content {
  background-color: $light_gray;
}
.gray-header {
  background-color: $gray;
  color: $dark_gray;
}
.gray-block {
  background-color: $gray;
  color: $dark_gray;
  &:hover {
    background-color: $gray;
    color: $dark_gray;
  }
  &:focus {
    background-color: $gray;
    color: $dark_gray;
  }
}
.gray-content {
  background-color: $light_gray;
}
.red-header {
  background-color: $pink;
  color: $dark_gray;
}
.red-block {
  background-color: $pink;
  color: $dark_gray;
  &:hover {
    background-color: $pink;
    color: $dark_gray;
  }
  &:focus {
    background-color: $pink;
    color: $dark_gray;
  }
}
.red-content {
  background-color: $pink;
}
.block {
  height: 2.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 0px 10px $light_gray;
  &:hover {
        transform: translateY(-1px);
        box-shadow: 0 4px 10px $translucent;
        transition: all 0.2s ease-out;
    .edit-icon {
      display: inherit;
      padding-right: 15px;
      color: $dark_gray;
    }
  }
}
.content-area {
  padding-top: 15px;
}
.dark-gray {
  background-color: $dark_gray;
}
.light-gray {
  background-color: $gray;
}
.black {
  background-color: $black;
}
.brown {
  background-color: $brown;
}
.margin {
  margin-bottom: 20px;
}
.yellow-circle {
  color: $pink;
}
.uppercase {
  text-transform: uppercase;
}
.icon-group {
  float: right;
  padding-right: 5px;
  a {
    color: $dark_gray;
    padding-right: 10px;
  }
}
.page-title {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
label {
  font-size: 1rem;
  font-weight: bold;
  color: $medium_gray;
}

input, input[type="text"] {
  font-size: 1.2rem;
  color: $dark_gray;
  height: auto;
  width: 100%;
  border: 0;
  padding: 6px 8px;
  box-shadow: 0px 0px 10px $light_gray;
  &:focus {
    background-color: $white;
    box-shadow: 0px 0px 10px $translucent;
  }
}
input[type="password"] {
  font-size: 1.2rem;
  height: auto;
}
input[type="date"] {
  font-size: 1.2rem;
  height: auto;
}
input[type="datetime"] {
  font-size: 1.2rem;
  height: auto;
}
input[type="datetime-local"] {
  font-size: 1.2rem;
  height: auto;
}
input[type="month"] {
  font-size: 1.2rem;
  height: auto;
}
input[type="week"] {
  font-size: 1.2rem;
  height: auto;
}
input[type="email"] {
  font-size: 1.2rem;
  height: auto;
}
input[type="number"] {
  font-size: 1.2rem;
  height: auto;
}
input[type="search"] {
  font-size: 1.2rem;
  height: auto;
}
input[type="tel"] {
  font-size: 1.2rem;
  height: auto;
}
input[type="time"] {
  font-size: 1.2rem;
  height: auto;
}
input[type="url"] {
  font-size: 1.2rem;
  height: auto;
}
input[type="color"] {
  font-size: 1.2rem;
  height: auto;
}
input[type="submit"] {
  font-size: 0.9rem;
  float: right;
  background-color: $green;
  font-weight: bold;
  text-transform: uppercase;
  color: $off-white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
  border: none;
  border-radius: 4px;
}
.padding-bottom-large {
  padding-bottom: 50px;
}
.row {
  max-width: 160rem;
  &.date-flipper {
    margin-bottom: 20px;
  }
  &.event {
    margin-left: 0;
    margin-right: 0;
  }
}
.event {
  @extend %extend_1;
  &.past {
    color: $light_gray;
    &:hover {
      color: $dark_gray;
    }
  }
  &.next {
    margin-top: -2px;
    border-top: 4px solid $green;
  }
  &:hover {
    @extend %extend_2;
    .edit-icon {
      display: inherit;
    }
  }
}
.plant-block {
  @extend %extend_1;
  padding-top: 0;
  &:hover {
    @extend %extend_2;
  }
}
.edit-icon {
  float: left;
  display: none;
}
.event-icon {
  float: left;
  width: 30px;
}
.event-time {
  float: left;
  width: 90px;
}
.event-title {
  float: left;
}
.arrow-button {
  background-color: $medium_gray;
  color: $off_white;
  width: 40px;
  height: 40px;
  padding: 12px;
  font-size: 16px;
  text-align: center;
  border-bottom: 3px solid $dark_gray;
  margin: 0;
  &:active {
    border-bottom-width: 1px!important;
        transform: translateY(2px);
  }
  &:hover {
    background-color: $medium_gray;
  }
}

.jog-table {
  margin-top: 15px;
  background-color: $off-white;
  width: auto;
}

input {
  &.move-input {
    font-size: 1rem;
  }
  &.green {
    @extend %greenish;
  }
  &.red {
    @extend %reddish;
  }
}
input[type="text"][readonly] {
  background-color: $white;
}
.picker__day {
  text-align: center;
}
.picker__weekday {
  text-align: center;
}
body {
  background: $light_gray;
}
.drop-shadow {
    box-shadow: 0 4px 10px $translucent;
}
nav.navbar {
  background-color: $dark_gray;
  color: $light_gray;
  font-size: 1.2rem;
  letter-spacing: .15rem;
  margin: 0;
  text-transform: uppercase;
  border-radius: 0px;

}
.navbar-nav>li>a {
  color: $gray!important;
  &:hover, :active, :focus {
    color: $off_white!important;
  }
}
.alert-box {
  &.alert.round {
    @extend %extend_4;
  }
  &.notice.round {
    @extend %extend_4;
  }
}
* {
  outline: none;
}
.padding-bottom {
  padding-bottom: 20px;
}
.no-right-gutter {
  padding-right: 0;
}
.no-radius {
    border-radius: 0;
}
.radius {
    border-radius: 5px;
}
.full-width {
  width: 100%;
}
fieldset {
  border: none;
  legend {
    background: transparent;
  }
}
.light-icon {
  color: $light_gray;
}
.medium-icon {
  font-size: 1.3rem;
}
.widget-wrapper {
  margin-top: 25px;
  box-shadow: 0px 0px 10px $gray;
}
.farmdesigner-left-menu {
  border: 1px $black dashed;
  background-color: $blue;
}
.sized a {
  width: 100px;
}
.top-bar .name h5 {
  font-weight: bold;
  color: $dark_gray;
  padding: 12px;
  padding-left: 15px;
  margin: 0;
  line-height: normal;
}
i.fa {
  &.fa-bars.right {
    line-height: inherit;
  }
  &.fa-pencil.right {
    line-height: inherit;
  }
}
span.prefix {
  color: $light_gray;
  background-color: $dark_gray;
  font-weight: bold;
  height: auto;
  border: none;
}
h6.date {
  text-align: center;
  text-transform: uppercase;
  color: $dark_gray;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 50px;
}
.button-like:active {
  border-bottom-width: 1px!important;
  transform: translateY(1px);
  margin-top: 2px;
}
.device-row:hover {
  background-color: $light_gray;
}

table {
  width: 100%;
  margin-bottom: 0;
}
table.plain tr:nth-of-type(1n) {
  background: $off-white;
  border: .5rem solid $off-white;
}

table tr td {
  padding: .5rem;
}

table thead tr th {
  padding: .5rem;
}

.nav-status-buttons {
  display: block;
  margin: 15px;
  float: right;
}

.last-sync {
  margin-right: 30px;
  float: right;
}
