// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,100,100italic);

// Font Variables
// TODO: Prevent this from being overridden by normalize.css
$roboto: 'Roboto', Arial, Helvetica, sans-serif;

// Variables

$white:          #ffffff;
$off_white:      #f4f4f4;
$green:          #159ACC;
$blue:           #089460;

// Styles

html {
  height: 100%
}

h1, h2 {
  font-family: $roboto;
  font-weight: 300;
  color: $off-white;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

.front-page-image {
  width: 80%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

a {
  color: $off-white;
  display: block;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  &:hover, &:focus {
    color: $white;
    text-decoration: none;
  }
}

button {
  font-size: 1.5rem!important;
  text-transform: uppercase!important;
  text-align: center;
  font-family: $roboto;
  font-weight: 700!important;
  background: transparent;
  border-radius: 5px;
  border: 2px solid $off-white;
  margin-bottom: 0px;
  padding: 0;
}

.row {
  max-width: 160rem;
}

body {
  min-height: 100%;
  padding: 2rem;
  background: linear-gradient(-135deg, $blue, $green);
  background-size: 400% 400%;

  -webkit-animation: BackgroundGradient 30s ease infinite;
  -moz-animation: BackgroundGradient 30s ease infinite;
  animation: BackgroundGradient 30s ease infinite;
}

@-webkit-keyframes BackgroundGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes BackgroundGradient {
    0%{background-position:0% 0%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes BackgroundGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

* {
  outline: none;
}
