/* CSS for the new user signup page */

.page-title {
	text-align: center;
	line-height: 8rem;
}

label {
	font-size: 1.2rem;
	color: #666666;
}

input[type="text"] {
	font-size: 1.2rem;
	height: auto;
}

input[type="submit"]{
	font-size: 0.9rem;
	float: right;
	background-color: #6AA84F;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 15px;
	padding-right: 15px;
	border: none;
	border-radius: 5px;
}