/* CSS for the new user signup page */

.page-title {
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 1rem;
}

label {
	font-size: 1.2rem;
	color: #666666;
}

input[type="text"], input[type="password"], input[type="date"],
input[type="datetime"], input[type="datetime-local"], input[type="month"],
input[type="week"], input[type="email"], input[type="number"], input[type="search"],
input[type="tel"], input[type="time"], input[type="url"], input[type="color"]{
	font-size: 1.2rem;
	height: auto;
}

input[type="submit"]{
	font-size: 0.9rem;
	float: right;
	background-color: #6AA84F;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 15px;
	padding-right: 15px;
	border: none;
	border-radius: 5px;
}

.padding-bottom-large{
	padding-bottom: 50px;
}
