.content-wrapper{
  border-style: solid;
  border-width: 1px;
  border-top-width: 0px;
  border-color: #d8d8d8;
  margin-bottom: 1rem;
  padding: 1.25rem;
  background: #ffffff;
  color: #434343;
}
.header-wrapper{
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  margin-bottom: 0rem;
  padding: 1rem;
  background: #434343;
  color: #ffffff;
}
.header-wrapper h5{
  color: #ffffff;
}
.header-wrapper p{
  font-size: 88%;
  font-style: italic;
}
.drag-drop-area{
  border-style: dashed;
  border-width: 2px;
  border-color: #d8d8d8;
  margin-bottom: 1rem;
  padding: 1.25rem;
  background: #ffffff;
  color: #333333;
  text-align: center;
}
button.tiny.expand.button.radius {
font-weight: bold;
text-align: left;
padding-left: 10px;
}
.sized a{
  width: 100px;
}
.blue{
  background-color: #A4C2F4;
  border-right:2px solid #3C78D8;
  border-bottom: 2px solid #3C78D8;
  color: #333;
}
.green{
  background-color: #B6D7A8;
  border-right:2px solid #6AA84F;
  border-bottom: 2px solid #6AA84F;
  color: #333;
}
.yellow{
  background-color: #FFE599;
  border-right:2px solid #BF9000;
  border-bottom: 2px solid #BF9000;
  color: #333;
}
.orange{
  background-color: #F9CB9C;
  border-right:2px solid #E69138;
  border-bottom: 2px solid #E69138;
  color: #333;
}
.purple{
  background-color: #B4A7D6;
  border-right:2px solid #674EA7;
  border-bottom: 2px solid #674EA7;
  color: #333;
}
.pink{
  background-color: #D5A6BD;
  border-right:2px solid #A64D79;
  border-bottom: 2px solid #A64D79;
  color: #333;
}
.gray{
  background-color: #CCCCCC;
  border-right:2px solid #999999;
  border-bottom: 2px solid #999999;
  color: #333;
}
.red{
  background-color: #EA9999;
  border-right:2px solid #E06666;
  border-bottom: 2px solid #E06666;
  color: #333;
}
.save-green{
  background-color: #5FDF75;
}
.dark-gray{
  background-color: #333;
}
.light-gray{
  background-color: #BDBCBD;
}
.black{
  color: #000;
}
.padding{
  margin-top: 20px;
}
.yellow-circle{
  color: #FFF69D;
}
.uppercase {
    text-transform: uppercase;
}
.icon-group{
  float:right;
  padding-right: 10px;
}
.icon-group a{
  color: #333;
  padding-right: 5px;
}
