/* CSS for the sequence builder page */

.content-wrapper{
  border-style: none;
  border-top-width: 0px;
  border-color: #d8d8d8;
  padding: 1.25rem;
  padding-bottom: 0px;
  background: #ffffff;
  color: #434343;
}
.header-wrapper{
  margin-bottom: 0rem;
  padding: 1rem;
  background: #434343;
  color: #ffffff;
}
.header-wrapper h5{
  color: #ffffff;
  margin: 0px;
}
.header-wrapper p{
  font-size: 88%;
  font-style: italic;
}
.drag-drop-area{
  border-style: dashed;
  border-width: 2px;
  border-color: #d8d8d8;
  margin-bottom: 1rem;
  padding: 1.25rem;
  background: #ffffff;
  color: #333333;
  text-align: center;
}
.sized a{
  width: 100px;
}

/* BLOCKS */

.top-bar .name h5 {
  font-weight: bold;
  color: #434343;
  padding: 12px;
  padding-left: 15px;
  margin: 0px;
  line-height: normal;
}

.blue-header, .blue-block{
  background-color: #A4C2F4;
  color: #333;
}

.blue-content{
  background-color: #C9DAF8;
}

.blue-block{
  border-right: 2px solid #3C78D8;
  border-bottom: 2px solid #3C78D8;
}

.blue-block:hover, .blue-block:focus{
  background-color: #A4C2F4;
  color: #333;
}

.green-header, .green-block{
  background-color: #B6D7A8;
  color:#333;
}

.green-content{
  background-color: #D9EAD3;
}

.green-block{
  border-right: 2px solid #6AA84F;
  border-bottom: 2px solid #6AA84F;
}

.green-block:hover, .green-block:focus{
  background-color: #B6D7A8;
  color: #333;
}

.yellow-header, .yellow-block{
  background-color: #FFE599;
  color:#333;
}

.yellow-content{
  background-color: #FFF2CC;
}

.yellow-block{
  border-right: 2px solid #BF9000;
  border-bottom: 2px solid #BF9000;
}

.yellow-block:hover, .yellow-block:focus{
  background-color: #FFE599;
  color: #333;
}

.orange-header, .orange-block{
  background-color: #F9CB9C;
  color:#333;
}

.orange-content{
  background-color: #FCE5CD;
}

.orange-block{
  border-right: 2px solid #E69138;
  border-bottom: 2px solid #E69138;
}

.orange-block:hover, .orange-block:focus{
  background-color: #F9CB9C;
  color: #333;
}

.purple-header, .purple-block{
  background-color: #B4A7D6;
  color:#333;
}

.purple-content{
  background-color: #D9D2E9;
}

.purple-block{
  border-right: 2px solid #674EA7;
  border-bottom: 2px solid #674EA7;
}

.purple-block:hover, .purple-block:focus{
  background-color: #B4A7D6;
  color: #333;
}

.pink-header, .pink-block{
  background-color: #D5A6BD;
  color:#333;
}

.pink-content{
  background-color: #EAD1DC;
}

.pink-block{
  border-right: 2px solid #A64D79;
  border-bottom: 2px solid #A64D79;
}

.pink-block:hover, .pink-block:focus{
  background-color: #D5A6BD;
  color: #333;
}

.gray-header, .gray-block{
  background-color: #B7B7B7;
  color:#333;
}

.gray-content{
  background-color: #D9D9D9;
}

.gray-block{
  border-right: 2px solid #999999;
  border-bottom: 2px solid #999999;
}

.gray-block:hover, .gray-block:focus{
  background-color: #B7B7B7;
  color: #333;
}

.red-header, .red-block{
  background-color: #EA9999;
  color:#333;
}

.red-content{
  background-color: #F4CCCC;
}

.red-block{
  border-right: 2px solid #E06666;
  border-bottom: 2px solid #E06666;
}

.red-block:hover, .red-block:focus{
  background-color: #EA9999;
  color: #333;
}

.block{
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.block:hover{
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: all 0.2s ease-out;
}

.content-area{
  padding-top:15px;
}

i.fa.fa-bars.right, i.fa.fa-pencil.right{
line-height: inherit;
}

/* OTHER STUFF */

.dark-gray{
  background-color: #333;
}

.light-gray{
  background-color: #BDBCBD;
}

.black{
  color: #000;
}

.margin{
  margin-bottom: 20px;
}

.yellow-circle{
  color: #FFF69D;
}

.uppercase{
    text-transform: uppercase;
}

.icon-group{
  float:right;
  padding-right: 10px;
}

.icon-group a{
  color: #333;
  padding-right: 5px;
}

span.prefix{
  color: #EEE;
  background-color: #666;
  font-weight: bold;
  height: auto;
  border: none;
}

.block:hover .edit-icon{
    display: inherit;
    padding-right: 15px;
    color: #333;
}
